<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">通道发送量查询</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            信息查询
                        </li>
                        <li>
                            通道发送量查询
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/query/channel/sendStatistics/page}"
                          th:object="${channelSendStatisticModel}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input id="reportrange" class="form-control" type="text" th:field="*{startDate}"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{channelName}"
                                           placeholder="通道名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{channelId}"
                                           placeholder="通道ID" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/query/channel/sendStatistics/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  汇总统计-->
        <div class="detail">
            <div id="help" class="row" th:remove="${#strings.isEmpty(error)}?none:all">
                <ul>
                    <li>
                        <h2 style="color: #fff">日汇总统计</h2>
                        <span></span>
                        <div class="row">
                            <div class="form-group  col-lg-3 col-md-6 col-sm-6 col-xs-12 detailInner" style="min-width:400px;">
                                <a>提交运营商总数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                 data-d-group="4" data-a-sign=" " data-v-min="0"
                                                 data-v-max="99999999999"
                                                 class="autonumber">[[${countMap.get('SUCCESS_SUBMIT_NUM')}]]</span></a>
                            </div>
                            <div class="form-group  col-lg-3 col-md-6 col-sm-6 col-xs-12 detailInner" style="min-width:400px;">
                                <a>总成功发送数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                data-d-group="4" data-a-sign=" " data-v-min="0"
                                                data-v-max="99999999999"
                                                class="autonumber">[[${countMap.get('MESSAGE_SUCCESS_NUM')}]]</span></a>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12 detailInner" style="min-width:400px;">
                                <a>总发送失败数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                data-d-group="4" data-a-sign=" " data-v-min="0"
                                                data-v-max="99999999999"
                                                class="autonumber">[[${countMap.get('MESSAGE_FAILURE_NUM')}]]</span></a>
                            </div>
                            <div class="form-group  col-lg-3 col-md-6 col-sm-6 col-xs-12 detailInner" style="min-width:400px;">
                                <a>总未知数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="99999999999"
                                              class="autonumber">[[${countMap.get('MESSAGE_NO_REPORT_NUM')}]]</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end row -->


        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通道发送量列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>汇总日期</th>
                                    <th>通道ID</th>
                                    <th>客户提交数/提交失败数</th>
                                    <th>成功发送数/提交运营商数</th>
                                    <th>发送失败数/未知数</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                    <tr th:each="info:${list}">
                                        <td style="vertical-align: middle;line-height: 26px;">
                                            [[${info.messageDate}]]
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px;">[[${info.channelId}]]<br>[[${info.channelName}]]</td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999999"
                                              class="autonumber">[[${info.customerSubmitNum}]]</span>
                                            /
                                            <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="99999999999"
                                                  class="autonumber">[[${info.failureSubmitNum}]]</span>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            <span class="btn btn-primary btn-xs autonumber" data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="99999999999"
                                            >[[${info.messageSuccessNum}]]</span>
                                            /
                                            <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="99999999999"
                                            >[[${info.successSubmitNum}]]</span>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="99999999999"
                                              class="autonumber">[[${info.messageFailureNum}]]</span>
                                            /
                                            <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="99999999999"
                                                  class="autonumber">[[${info.messageNoReportNum}]]</span>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            <a sec:authorize-url="/query/channel/accountMessageSend/list/*/*"
                                               th:href="@{/query/channel/accountMessageSend/list/{businessAccount}/{startDate}(businessAccount=${info.channelId},startDate=${info.messageDate})}"
                                               data-toggle="tooltip" data-placement="left"
                                               data-original-title="账号发送量明细"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color:#4BD396"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->
    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>

<script th:remove="${#strings.isEmpty(error)}?none:all">

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '[[${channelSendStatisticModel.startDate}]]',
        endDate: '[[${channelSendStatisticModel.endDate}]]',
        minDate: '2012-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 365
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>