<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" >
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="form-group pull-right" style="text-align: right">
                                    <a sec:authorize-url="/filter/group/add/*" th:href="@{/filter/group/add/id}" class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新建分类</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">分类列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>备注</th>
                                        <th>创建人</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>征信名单</td>
                                    <td></td>
                                    <td>张先生</td>
                                    <td>2021-11-23 18:47:54</td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*"
                                           th:href="@{/filter/group/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/filter/group/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>