<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" >
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <div class="col-sm-12">
                            <div class="col-md-10 alert alert-icon" style="background-color: #00acc1">
                                <i class="mdi mdi-block-helper"></i>
                                <strong>提醒!</strong>
                                每日投诉、12321投诉黑名单是在导入投诉时系统自建黑名单，不能进行修改、删除操作,（系统有默认4000W黑名单）
                            </div>

                            <div class="form-group col-sm-2 pull-right" style="text-align: right">
                                <a sec:authorize-url="/filter/group/add/*" th:href="@{/filter/group/add/{parentId}(parentId=${svcType})}" class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                    <i class="glyphicon glyphicon-plus-sign"></i> 新建分类</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">分类列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>组名称</th>
                                    <th>组编码</th>
                                    <th>创建日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="group:${list}">
                                    <td>[[${group.groupName}]]</td>
                                    <td>[[${group.groupCode}]]</td>
                                    <td  th:text="${#dates.format(group.createdTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td>
                                        <a sec:authorize-url="/filter/group/edit/*" th:href="@{/filter/group/edit/{id}(id=${group.id})}"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;" th:remove="${group.id eq '100000000' or group.id eq '200000000'}?all:none"
                                           title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i>
                                        </a>
                                        <a sec:authorize-url="/filter/group/deleteById/*"
                                           th:onclick="confirmDelete([[${group.id}]],this)" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050" th:remove="${group.id eq '100000000' or group.id eq '200000000'}?all:none"
                                           title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i>
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script>

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        $.ajax({
            url: contextPath + "/filter/group/deleteById/" + $("#deleteId").val(),
            success: function (data) {
                if("1"==data){
                    parent.location.reload();
                }else{
                    alert(data);
                }

            }, error: function (data) {
                console.log("error");
            }
        });
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>