<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">模板管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            素材管理
                        </li>
                        <li>
                            模板管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/template/mm/page/{type}(type=${type})}" th:object="${accountTemplateInfoValidator}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">

                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{templateContent}"
                                           placeholder="模板标题" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{signName}"
                                           placeholder="签名" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{businessAccount}"
                                           placeholder="账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <select data-style="btn-default" name="docStatus" data-live-search="true" id="signStatus" class="selectpicker form-control" tabindex="-98">
                                        <option value="" data-icon="mdi mdi-bell-ring-outline">--请选择模板状态--</option>
                                        <option data-icon="mdi mdi-bell-ring-outline" value="1" th:selected="${accountTemplateInfoValidator.templateStatus eq '1'}">通过审核</option>
                                        <option data-icon="mdi mdi-bell-ring-outline" value="2" th:selected="${accountTemplateInfoValidator.templateStatus eq '2'}">待审核</option>
                                        <option data-icon="mdi mdi-bell-ring-outline" value="3" th:selected="${accountTemplateInfoValidator.templateStatus eq '3'}">拒绝</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button th:sec:authorize-url="|/template/mm/page/${type}|" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a th:sec:authorize-url="|/template/mm/add/${type}|"
                                       th:href="@{/template/mm/add/{type}(type=${type})}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新建模板</a>
                                    <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">模板列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th style="width:180px">账号</th>
                                    <th style="width:240px">模板ID</th>
                                    <th style="width:240px">签名</th>
                                    <th>模板标题</th>
                                    <th style="width:140px">审核状态</th>
                                    <th style="width:170px">提交时间</th>
                                    <th style="width:160px">操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.businessAccount}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px;">
                                        [[${info.templateId}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px;">
                                        [[${info.signName}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px;word-wrap:break-word;">
                                        [[${info.templateContent}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light" th:if="${info.templateStatus eq '1'}">通过审核</a>
                                        <a class="btn btn-warning btn-rounded btn-sm waves-effect waves-light" th:if="${info.templateStatus eq '2'}">待审核</a>
                                        <a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light" th:if="${info.templateStatus eq '3'}">拒绝</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">[[${info.createdTime}]]</td>
                                    <td style="vertical-align: middle;line-height: 26px;width:120px">
                                        <a sec:authorize-url="/template/mm/detail/*"
                                           th:href="@{/template/mm/detail/{id}(id=${info.templateId})}"
                                                style="padding-left: 5px;color: #4BD396;"
                                                data-toggle="tooltip"
                                                data-placement="left" title="" data-original-title="模板明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/template/mm/edit/*"
                                           th:href="@{/template/mm/edit/{id}(id=${info.templateId})}"
                                           class="on-default edit-row"
                                                style="padding-left: 5px;color: #29b6f6;"
                                                data-toggle="tooltip"  th:if="${info.templateStatus ne '1'}"
                                                data-placement="left" title="" data-original-title="修改模板">
                                            <i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>

                                        <a sec:authorize-url="/template/mm/deleteById/*" th:if="${info.templateStatus ne '1'}"
                                           th:onclick="confirmDelete([[${info.templateId}]],this)"
                                                data-toggle="modal"
                                                data-target="#confirm-modal" class="on-default remove-row"
                                                style="padding-left: 5px;color: #f05050"
                                                title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start row  删除确认-->
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>

<script>

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + "/template/mm/deleteById/" + $("#deleteId").val();
    }


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');




</script>
</body>
</html>