<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">销售首页 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            销售首页
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px">

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            客户消费总额（[[${year}]]年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                                <span data-d-group="4" data-a-sign="¥ "
                                                                style="width:100px;text-align:left"
                                                                class="autonumber">[[${countMap.get('ACCOUNT_CONSUME_SUM')}]]</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-layers widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            客户发送总量（[[${year}]]年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                            <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                  style="width:90px;text-align:left"
                                  class="autonumber">[[${countMap.get('MESSAGE_SEND_TOTAL')}]]</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-danger">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            客户欠费总额（后付费）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                             <span data-d-group="4" data-a-sign="¥ "
                                   style="width:100px;text-align:left"
                                   class="autonumber">145922</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-account-convert widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            客户余额（预付费）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                             <span data-d-group="4" data-a-sign="¥ "
                                   style="width:100px;text-align:left"
                                   class="autonumber">[[${countMap.get('ACCOUNT_USABLE_SUM')}]]</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">
                    <div id="main1" style="height: 400px;"></div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-6">
                <div class="card-box">
                    <div id="main2" style="height: 400px;"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script type="text/javascript">

    $.ajax({
        url : '[[${#httpServletRequest.getContextPath()}]]/index/indexStatisticMessageSendSum',
        success : function(data) {
            articles = eval(data);
            var dom3 = document.getElementById("main1");
            var myChart3 = echarts.init(dom3);
            var app = {};
            option3 = null;
            option3 = {
                title: {
                    text: '客户近12个月短信发送量（W）'
                },
                color: ['#EE6666', '#92CB76'],
                legend: {
                    data: articles.year
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: {
                            interval: 'auto',
                            rotate: 30
                        },
                        data: articles.monthArray
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: articles.year[0],
                        type: 'line',
                        stack: 'Total',
                        data: articles.sendNumberArrayBefore,
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'}
                            ]
                        }
                    },
                    {
                        name: articles.year[1],
                        type: 'line',
                        stack: 'Total',
                        data: articles.sendNumberArray,
                        markLine: {
                            data: [
                                {type: 'average', name: '平均值'}
                            ]
                        }
                    },
                ]
            };

            if (option3 && typeof option3 === "object") {
                myChart3.setOption(option3, true);
            }

        }
    });



    var dom4 = document.getElementById("main2");
    var myChart4 = echarts.init(dom4);
    var app = {};
    option4 = null;
    option4 = {
        title: {
            text: '客户近12个月带来营业额（W）'
        },
        color: ['#EE6666', '#92CB76'],
        tooltip: {
            trigger: 'axis'
        },
        legend: {
          data: ['2021年近12个月', '2022年近12个月']
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLabel: {
              interval: 'auto',
              rotate: 30
            },
            data: ['2020-11', '2020-12', '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', '2021-09','2021-10']
        },
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
              name: '2021年近12个月',
              type: 'line',
              stack: 'Total',
              data: [26, 59, 90, 264, 287, 707, 1756, 1822, 487, 188, 60, 123],
              markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
              }
            },
            {
              name: '2022年近12个月',
              type: 'line',
              stack: 'Total',
              data: [36, 29, 40, 124, 87, 407, 856, 122, 687, 888, 50, 103],
              markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
              }
            },
        ]
    };
    ;
    if (option4 && typeof option4 === "object") {
        myChart4.setOption(option4, true);
    }

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>