<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">业务账号普通通道 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            业务账号管理
                        </li>
                        <li class="active">
                            业务账号普通通道
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/account/channel/normal/page}" id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="通道ID" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="通道名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="码号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <mpm:tag id="channelProtocolType" identity="channelProtocolType"
                                             show-type="select" key="code"
                                             class="form-control" name="channelProtocolType" value="" title="通道协议类型"/>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <mpm:tag id="infoType" identity="infoType" show-type="select" key="code"
                                             class="form-control" name="infoType" value="" title="信息分类"/>
                                </div>

                                <div class="form-group col-sm-4 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/account/channel/normal/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/channel/search/normal/list"
                                       th:href="@{/channel/search/normal/list}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新建普通通道</a>

                                    <a id="help_display" style="margin-left:10px"><i class="mdi mdi-help-circle-outline"
                                                                                     style="font-size:18px;"></i></a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  操作提示-->
        <div id="help" class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button id="help_button" type="button" class="close"
                    aria-label="Close">
                <span>&times;</span>
            </button>
            <i class="mdi mdi-help-circle-outline"></i>
            <strong>操作提示：</strong> 普通通道 表示和业务账户配置通道功能一样，只是以通道为切入点，并可以统一为业务账号设置、取消通道。
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">挂起通道列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>通道ID</th>
                                    <th>通道名称</th>
                                    <th>影响业务账号数</th>
                                    <th>通道切换类型</th>
                                    <th>操作说明</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light">生效中</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/channel/normal/edit/*"
                                           th:href="@{/account/channel/normal/edit/id}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改业务账号普通通道"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                        <a  data-toggle="modal"
                                            data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050"
                                            title="注销普通通道"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        CHID10006
                                    </td>
                                    <td>
                                        联通特别通道
                                    </td>
                                    <td>
                                        1008
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">普通通道</a>
                                    </td>
                                    <td>
                                        通道统一设置业务账号
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">已注销</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/account/channel/normal/view/center/id}"
                                           sec:authorize-url="/account/channel/normal/view/center/*"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="业务账号普通通道明细"><i
                                                style="font-size: 18px"
                                                class="glyphicon glyphicon-search"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->

        <!-- start confirm delete modal  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">确认注销</h4>
                    </div>
                    <div class="modal-body">

                        <p>注销通道挂起后，所有关联业务账号，将恢复到挂起前状态。你确认要注销？</p>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button class="btn btn-primary waves-effect waves-light">确认注销</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm delete modal  -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script>

    /**
     * 处理cookie
     */
    $(document).ready(function() {

        if("none" == $.cookie("help_display_account_channel_change_list")){
           $('#help').css('display', 'none');
        }

        $('#help_display').on("click", function () {
           if('block' == $('#help').css('display')){
             $('#help').css('display', 'none');
             $.cookie("help_display_account_list", 'none', {
                expires : 180
             });
           }else{
             $('#help').css('display', 'block');
             $.cookie("help_display_account_list", 'block', {
                expires : 180
             });
           }
        });
        $('#help_button').on("click", function () {
           $('#help').css('display', 'none');
           $.cookie("help_display_account_list", 'none', {
			expires : 180
		   });
        });

    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');




</script>
</body>
</html>