<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">首页 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            首页
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px">

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">营收总额（2021年）</p>
                        <h2 class="text-white"><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">34578</span></h2>
                        <p class="m-0">截止日期: 2021-11-11</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-layers widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">充值总额（2021年）</p>
                        <h2 class="text-white"><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">52410 </span></h2>
                        <p class="m-0">截止日期: 2021-11-11</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-danger">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">待收总额（2021年）</p>
                        <h2 class="text-white"><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">6352</span></h2>
                        <p class="m-0">截止日期: 2021-11-11</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-account-convert widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">账户总余额（2021年）</p>
                        <h2 class="text-white"><small><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">895 </span></h2>
                        <p class="m-0">截止日期:2021-11-11</p>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->
        <div class="row text-center" >

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">短信发送总量（2021）</p>
                        <h2 class="text-teal"><i class="mdi mdi-weather-partlycloudy"  style="padding-right: 5px"></i><span data-plugin="counterup">34578</span></h2>

                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">客户总数</p>
                        <h2 class="text-custom"><i class="mdi mdi-weather-snowy"  style="padding-right: 5px"></i><span data-plugin="counterup">895</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">活跃客户数</p>
                        <h2 class="text-brown"><i class="mdi mdi-weather-rainy"  style="padding-right: 5px"></i><span data-plugin="counterup">652</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">可用通道数</p>
                        <h2 class="text-warning"><i class="mdi mdi-weather-night"  style="padding-right: 5px"></i><span data-plugin="counterup">3245</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">客户对接申请</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-0">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>用户</th>
                                    <th>手机号</th>
                                    <th>EC客户</th>
                                    <th>对接类型</th>
                                    <th>申请时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-primary">武</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">武松</h5>
                                        <p class="m-0 text-muted font-13"><small>http</small></p>
                                    </td>
                                    <td>+86 18510816771</td>
                                    <td>系统安全科技有限公司</td>
                                    <td>HTTPS</td>
                                    <td>2021-11-11</td>
                                </tr>

                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-pink">马</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">马江涛</h5>
                                        <p class="m-0 text-muted font-13"><small>cmpp</small></p>
                                    </td>
                                    <td>+86 18510816771</td>
                                    <td>系统安全科技有限公司</td>
                                    <td>CMPP</td>
                                    <td>2021-11-11</td>
                                </tr>

                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-primary">贾</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">贾明</h5>
                                        <p class="m-0 text-muted font-13"><small>http</small></p>
                                    </td>
                                    <td>+86 18510816771</td>
                                    <td>系统安全科技有限公司</td>
                                    <td>HTTPS</td>
                                    <td>2021-11-11</td>
                                </tr>

                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-pink">W</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">Weaver</h5>
                                        <p class="m-0 text-muted font-13"><small>Web designer</small></p>
                                    </td>
                                    <td>+86 18510816771</td>
                                    <td>系统安全科技有限公司</td>
                                    <td>CMPP</td>
                                    <td>2021-11-11</td>
                                </tr>

                                <tr>
                                    <th>
                                        <span class="avatar-sm-box bg-primary">M</span>
                                    </th>
                                    <td>
                                        <h5 class="m-0">Mike</h5>
                                        <p class="m-0 text-muted font-13"><small>cmpp</small></p>
                                    </td>
                                    <td>+86 18510816771</td>
                                    <td>系统安全科技有限公司</td>
                                    <td>HTTPS</td>
                                    <td>2021-11-11</td>
                                </tr>

                                </tbody>
                            </table>

                        </div> <!-- table-responsive -->
                    </div> <!-- end panel body -->
                </div>
                <!-- end panel -->
            </div>
            <!-- end col -->

            <div class="col-md-4">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">客户操作异常事件</h3>
                    </div>
                    <div class="panel-body">
                        <div class="inbox-widget slimscroll-alt" style="min-height: 327px;">
                            <a href="#">
                                <div class="inbox-item">
                                    <div class="inbox-item-img"><img th:src="@{/static/assets/images/users/avatar-1.jpg}" class="img-circle" alt=""></div>
                                    <p class="inbox-item-author">国际短信模块</p>
                                    <p class="inbox-item-text">Hey! I am sorry...</p>
                                    <p class="inbox-item-date">2021-11-11 13:25:21</p>
                                    <p class="inbox-item-date">2021-11-11 13:25:21</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="inbox-item">
                                    <div class="inbox-item-img"><img th:src="@{/static/assets/images/users/avatar-1.jpg}" class="img-circle" alt=""></div>
                                    <p class="inbox-item-author">彩信模块</p>
                                    <p class="inbox-item-text">You are wrong</p>
                                    <p class="inbox-item-date">2021-11-11 13:25:21</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="inbox-item">
                                    <div class="inbox-item-img"><img th:src="@{/static/assets/images/users/avatar-3.jpg}" class="img-circle" alt=""></div>
                                    <p class="inbox-item-author">黑明单模块</p>
                                    <p class="inbox-item-text">Exception is only exception!</p>
                                    <p class="inbox-item-date">2021-11-11 13:25:21</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="inbox-item">
                                    <div class="inbox-item-img"><img th:src="@{/static/assets/images/users/avatar-4.jpg}" class="img-circle" alt=""></div>
                                    <p class="inbox-item-author">短信发送</p>
                                    <p class="inbox-item-text">Error is only error</p>
                                    <p class="inbox-item-date">2021-11-11 13:25:21</p>
                                </div>
                            </a>

                        </div>
                        <div style="height:20px"></div>
                    </div>
                </div>
                <!-- end panel -->

            </div>
            <!-- end col -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">

                    <div id="main4" style="height: 300px;"></div>

                </div>
            </div><!-- end col -->
            <div class="col-lg-8">
                <div class="card-box">

                    <div id="main3" style="height: 300px;"></div>

                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script type="text/javascript">
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>

</body>
</html>