<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <style>
        .bg{
            background:-webkit-linear-gradient(left,#fff, #f5707a);/*new gradient for Webkit*/
            background: -o-linear-gradient(right, #fff, #f5707a); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(left, #fff, #f5707a);
            background: linear-gradient(to right, #fff, #f5707a); /* 标准的语法 */
        }

    </style>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">首页 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            首页
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px">

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">营收总额（[[${year}]]年）</p>
                        <h2 class="text-white"><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">[[${accountMap.get('PROFIT_SUM')}]]</span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-layers widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">充值总额（[[${year}]]年）</p>
                        <h2 class="text-white"><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">[[${accountMap.get('RECHARGE_SUM')}]] </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-danger">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">待收总额（[[${year}]]年）</p>
                        <h2 class="text-white"><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup"></span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-account-convert widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">账户总余额</p>
                        <h2 class="text-white"><small><i class="fa fa-rmb" STYLE="color:#fff;margin-right:10px"></i></small><span data-plugin="counterup">[[${accountMap.get('ACCOUNT_USABLE_SUM')}]] </span></h2>
                        <p class="m-0">&nbsp;</p>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->
        <div class="row text-center" >

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">短信发送总量（[[${year}]]）</p>
                        <h2 class="text-teal"><i class="mdi mdi-weather-partlycloudy"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${accountMap.get('MESSAGE_SEND_TOTAL')}]]</span></h2>

                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">账号总数（180天内）</p>
                        <h2 class="text-custom"><i class="mdi mdi-weather-snowy"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('TOTAL_ACCOUNT')}]]</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">活跃账号数（180天内）</p>
                        <h2 class="text-brown"><i class="mdi mdi-weather-rainy"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('ACTIVE_ACCOUNT')}]]</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">活跃通道数（180天内）</p>
                        <h2 class="text-warning"><i class="mdi mdi-weather-night"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('ACTIVE_CHANNEL')}]]</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通道投诉TOP 1-10([[${month}]])</h3>
                    </div>
                    <div class="panel-body card-box">
                        <div class="table-responsive"  style="height: 460px;">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <tbody>
                                <tr th:each="info:${complaintList}" th:if="${infoStat.count>0 and infoStat.count<=10}">
                                    <td style="text-align:left">
                                        <div style="float:left;line-height:24px;" data-placement="bottom" data-toggle="tooltip" th:data-original-title="${info.channelName}+'--投诉量：'+${info.complaintNum}+'，发送量：'+${info.messageNum}"><span
                                                style="float:left;"><mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrier}"/>通道-[[${info.channelId}]]</span>
                                            <!--<span style="float:left;color:#26a69a;font-size:14px;font-weight:600;margin-left:5px">235</span>-->
                                            <span style="float:left;color:#4bd396;font-size:14px;font-weight:600;margin-left:20px">
                                                <span th:if="${not #strings.isEmpty(info.maxComplaintRate) and info.complaintRate lt info.maxComplaintRate}">投诉率：[[${info.complaintRate}]]/百万 < 抗诉率 [[${info.maxComplaintRate}]]/百万</span>
                                                <span th:if="${not #strings.isEmpty(info.maxComplaintRate) and info.complaintRate eq info.maxComplaintRate}">投诉率：[[${info.complaintRate}]]/百万 = 抗诉率 [[${info.maxComplaintRate}]]/百万</span>
                                                <span th:if="${#strings.isEmpty(info.maxComplaintRate)}">投诉率：[[${info.complaintRate}]]/百万</span>
                                            </span>
                                            <span style="float:left;color:#f2404e;font-size:14px;font-weight:600;margin-left:20px">
                                                <span th:if="${not #strings.isEmpty(info.maxComplaintRate) and info.complaintRate gt info.maxComplaintRate}">投诉率：[[${info.complaintRate}]]/百万 > 抗诉率 [[${info.maxComplaintRate}]]/百万</span>
                                                <span th:if="${#strings.isEmpty(info.maxComplaintRate)}">投诉率：[[${info.complaintRate}]]/百万</span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <div class="col-md-6">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通道投诉TOP 11-20([[${month}]])</h3>
                    </div>
                    <div class="panel-body card-box">
                        <div class="table-responsive"  style="height: 460px;">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <tbody>

                                <tr th:each="info:${complaintList}" th:if="${infoStat.count>10 and infoStat.count<=20}">
                                    <td style="text-align:left">
                                        <div style="float:left;line-height:24px;" data-placement="bottom" data-toggle="tooltip" th:data-original-title="${info.channelName}+'--投诉量：'+${info.complaintNum}+'，发送量：'+${info.messageNum}"><span
                                                style="float:left;"><mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrier}"/>通道-[[${info.channelId}]]</span>
                                            <!--<span style="float:left;color:#26a69a;font-size:14px;font-weight:600;margin-left:5px">235</span>-->
                                            <span style="float:left;color:#4bd396;font-size:14px;font-weight:600;margin-left:20px">
                                                <span th:if="${not #strings.isEmpty(info.maxComplaintRate) and info.complaintRate lt info.maxComplaintRate}">投诉率：[[${info.complaintRate}]]/百万 < 抗诉率 [[${info.maxComplaintRate}]]/百万</span>
                                                <span th:if="${not #strings.isEmpty(info.maxComplaintRate) and info.complaintRate eq info.maxComplaintRate}">投诉率：[[${info.complaintRate}]]/百万 = 抗诉率 [[${info.maxComplaintRate}]]/百万</span>
                                                <span th:if="${#strings.isEmpty(info.maxComplaintRate)}">投诉率：[[${info.complaintRate}]]/百万</span>
                                            </span>
                                            <span style="float:left;color:#f2404e;font-size:14px;font-weight:600;margin-left:20px">
                                                <span th:if="${not #strings.isEmpty(info.maxComplaintRate) and info.complaintRate gt info.maxComplaintRate}">投诉率：[[${info.complaintRate}]]/百万 > 抗诉率 [[${info.maxComplaintRate}]]/百万</span>
                                                <span th:if="${#strings.isEmpty(info.maxComplaintRate)}">投诉率：[[${info.complaintRate}]]/百万</span>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>

        </div>
        <!-- end row -->

        <!--<div class="row">
            <div class="col-lg-4">
                <div class="card-box">

                    <div id="main3" style="height: 400px;"></div>

                </div>
            </div>&lt;!&ndash; end col &ndash;&gt;
            <div class="col-lg-8">
                <div class="card-box">

                    <div id="main4" style="height: 400px;"></div>

                </div>
            </div>&lt;!&ndash; end col &ndash;&gt;

        </div>-->
        <!-- end row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card-box">

                    <div id="main1" style="height: 400px;"></div>

                </div>
            </div><!-- end col -->
            <div class="col-lg-6">
                <div class="card-box">

                    <div id="main2" style="height: 400px;"></div>

                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script type="text/javascript">
/*
var dom = document.getElementById("main4");
var myChart = echarts.init(dom);
var app = {};
option = null;
var posList = [
    'left', 'right', 'top', 'bottom',
    'inside',
    'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
    'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
];

app.configParameters = {
    rotate: {
        min: -90,
        max: 90
    },
    align: {
        options: {
            left: 'left',
            center: 'center',
            right: 'right'
        }
    },
    verticalAlign: {
        options: {
            top: 'top',
            middle: 'middle',
            bottom: 'bottom'
        }
    },
    position: {
        options: echarts.util.reduce(posList, function (map, pos) {
            map[pos] = pos;
            return map;
        }, {})
    },
    distance: {
        min: 0,
        max: 100
    }
};

app.config = {
    rotate: 90,
    align: 'left',
    verticalAlign: 'middle',
    position: 'insideBottom',
    distance: 15,
    onChange: function () {
        var labelOption = {
            normal: {
                rotate: app.config.rotate,
                align: app.config.align,
                verticalAlign: app.config.verticalAlign,
                position: app.config.position,
                distance: app.config.distance
            }
        };
        myChart.setOption({
            series: [{
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }, {
                label: labelOption
            }]
        });
    }
};


var labelOption = {
    show: true,
    position: app.config.position,
    distance: app.config.distance,
    align: app.config.align,
    verticalAlign: app.config.verticalAlign,
    rotate: app.config.rotate,
    formatter: '{c}  {name|{a}}',
    fontSize: 12,
    rich: {
        name: {
            textBorderColor: '#fff'
        }
    }
};

option = {
    title: {
        text: '通道投诉（电信、联通）10.26——11.26'
    },
    color: ['#EE6666', '#92CB76', '#FAC858'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    toolbox: {
        show: true,
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    xAxis: [
        {
            type: 'category',
            axisTick: {show: false},
            axisLabel: {
              interval: 'auto',
              rotate: 30
             },
            data: ['SGIP-短信-A通道-108642', 'SGIP-短信-A通道-108643', 'SGIP-短信-A通道-108644', 'SGIP-短信-A通道-108645', 'SGIP-短信-A通道-108646','SGIP-短信-A通道-108647', 'SGIP-短信-A通道-108648', 'SGIP-短信-A通道-108649', 'SGIP-短信-A通道-108650', 'SGIP-短信-A通道-108651']
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: '标准',
            type: 'bar',
            barGap: 0,
            label: labelOption,
            data: [10, 10, 10, 15, 12,10, 10, 10, 15, 12]
        },
        {
            name: '投诉量',
            type: 'bar',
            label: labelOption,
            data: [5, 6, 2, 1, 4,5, 6, 2, 1, 4]
        },
        {
            name: '投诉率',
            type: 'bar',
            label: labelOption,
            data: [0.4, 0.8, 0.2, 0.4, 0.9,0.4, 0.8, 0.2, 0.4, 0.9]
        }
    ]
};;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}

var dom1 = document.getElementById("main3");
var myChart1 = echarts.init(dom1);
option1 = null;

option1 = {
    title: {
        text: '通道投诉（移动）10.01——11.01'
    },
    color: ['#EE6666', '#92CB76', '#FAC858'],
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    toolbox: {
        show: true,
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    xAxis: [
        {
            type: 'category',
            axisTick: {show: false},
            axisLabel: {
              rotate: 30
            },
            data: ['SGIP-短信-A通道-108642', 'SGIP-短信-A通道-108643', 'SGIP-短信-A通道-108644', 'SGIP-短信-A通道-108645', 'SGIP-短信-A通道-108645']
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: '标准',
            type: 'bar',
            barGap: 0,
            label: labelOption,
            data: [10, 10, 10, 15, 12]
        },
        {
            name: '投诉量',
            type: 'bar',
            label: labelOption,
            data: [5, 6, 2, 1, 4]
        },
        {
            name: '投诉率',
            type: 'bar',
            label: labelOption,
            data: [0.4, 0.8, 0.2, 0.4, 0.9]
        }
    ]
};;
if (option1 && typeof option1 === "object") {
    myChart1.setOption(option1, true);
}*/

$.ajax({
    url : '[[${#httpServletRequest.getContextPath()}]]/index/statisticSendMonth',
    success : function(data) {
        articles = eval(data);
        var dom3 = document.getElementById("main1");
        var myChart3 = echarts.init(dom3);
        var app = {};
        option3 = null;
        option3 = {
            title: {
                text: '近12个月短信发送量（W）'
            },
            tooltip: {
                trigger: 'axis'
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    axisLabel: {
                        interval: 'auto',
                        rotate: 30
                    },
                    data: articles.monthArray
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '短信发送量（W）',
                    type: 'bar',
                    /*label: {
                        show: true,
                        position: 'top'
                    },*/
                    data: articles.sendNumberArray,
                    markPoint: {
                        data: [
                            {name: '最高', value: articles.maxValue, xAxis: articles.maxMonth, yAxis: articles.maxValue},
                            {name: '最低', value: articles.minValue, xAxis: articles.minMonth, yAxis: articles.minValue}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        ;
        if (option3 && typeof option3 === "object") {
            myChart3.setOption(option3, true);
        }
    }
});

$.ajax({
    url : '[[${#httpServletRequest.getContextPath()}]]/index/statisticProfitMonth',
    success : function(data) {
        articles = eval(data);
        var dom4 = document.getElementById("main2");
        var myChart4 = echarts.init(dom4);
        var app = {};
        option4 = null;
        option4 = {
            title: {
                text: '近12个月营业收入（W）'
            },
            tooltip: {
                trigger: 'axis'
            },
            color: ['#66AAE7'],
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    axisLabel: {
                        interval: 'auto',
                        rotate: 30
                    },
                    data: articles.monthArray
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '营业收入（W）',
                    type: 'bar',
                    data: articles.profitArray,
                    markPoint: {
                        data: [
                            {name: '最高', value: articles.maxValue, xAxis: articles.maxMonth, yAxis: articles.maxValue},
                            {name: '最低', value: articles.minValue, xAxis: articles.minMonth, yAxis: articles.minValue}
                        ]
                    },
                    markLine: {
                        data: [
                            {type: 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
        ;
        if (option4 && typeof option4 === "object") {
            myChart4.setOption(option4, true);
        }
    }
});





    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>

</body>
</html>