<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">EC合同管理 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            EC合同管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px"  th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <div class="col-sm-12">
                            <div class="form-group  col-sm-3">
                                <input id="reportrange" class="form-control" type="text" />
                            </div>
                            <div class="form-group  col-sm-3">
                                <input type="text" class="form-control" placeholder="企业名称" autocomplete="off">
                            </div>
                            <div class="form-group  col-sm-3">
                                <input type="text" class="form-control" placeholder="合同编号" autocomplete="off">
                            </div>
                            <div class="form-group  col-sm-3">
                                <input type="text" class="form-control" placeholder="关键字" autocomplete="off">
                            </div>
                            <div class="form-group  col-sm-3">
                                <mpm:tag id="checkStatus" identity="checkStatus"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="审核状态" />
                            </div>
                            <div class="form-group  col-sm-3">
                                <mpm:tag id="enterpriseType" identity="enterpriseType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="企业类型" />
                            </div>
                            <form  id="query_form" th:action="@{/ec/contract/page}" method="post" class="form-inline">
                                <div class="form-group pull-right" style="text-align: right">
                                    <button sec:authorize-url="/ec/contract/page" class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/ec/customer/search/*" th:href="@{/ec/customer/search/contract}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新建EC合同</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">EC合同列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>合同编号</th>
                                    <th>合同附件</th>
                                    <th>合同状态</th>
                                    <th>签订日期</th>
                                    <th>创建人/创建日期</th>
                                    <th>审核人/审核日期</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-default btn-rounded btn-sm waves-effect waves-light">保存状态</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td></td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/sendCheck/*" class="on-default edit-row"
                                               style="padding-left: 5px;color: #8D6E63;"title="发送审核"><i style="font-size: 18px" class="glyphicon glyphicon-send"></i></a>
                                            <a sec:authorize-url="/ec/contract/edit/*"
                                               th:href="@{/ec/contract/edit/id}"class="on-default edit-row"
                                               style="padding-left: 5px;color: #29b6f6;"title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                            <a sec:authorize-url="/ec/contract/deleteById/*" data-toggle="modal"
                                               data-target="#confirm-modal" class="on-default remove-row"
                                               style="padding-left: 5px;color: #f05050"title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-warning btn-rounded btn-sm waves-effect waves-light">审核中</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td></td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">审核拒绝</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/contract/edit/*"
                                               th:href="@{/ec/contract/edit/id}"class="on-default edit-row"
                                               style="padding-left: 5px;color: #29b6f6;"title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                            <a sec:authorize-url="/ec/contract/deleteById/*" data-toggle="modal"
                                               data-target="#confirm-modal" class="on-default remove-row"
                                               style="padding-left: 5px;color: #f05050"title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>

                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height: 26px;"><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;">XY001-0876-2223</td>
                                        <td style="line-height: 26px;"><a href="" title="点击下载"><i class="fa fa-file-word-o" style="margin-right:5px"></i>小舟科技短信合同</a></td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td >李先生<br>
                                            2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/contract/detail/*"
                                               th:href="@{/ec/contract/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->

</div> <!-- content -->
<div id="check-record" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="a-width-modalLabel" aria-hidden="true" style="display: none;margin: 60px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">审核记录</h4>
            </div>
            <div class="modal-body">
                <p id="tip_id" style="display: none;text-align: center">暂无审核记录</p>
                <table id="table_id" class="table table-striped m-0" style="margin-top: -12px;">
                    <thead>
                    <tr>
                        <th width="10%">提交人</th>
                        <th width="12%">状态</th>
                        <th width="22%">提交时间</th>
                        <th width="36%">描述</th>
                        <th width="22%">审核人/审核时间</th>
                    </tr>
                    <thead>
                    <tbody id="config">
                        <td>李先生</td>
                        <td>审核通过</td>
                        <td>2021-11-3 12:45:47</td>
                        <td>资料完整，给予通过</td>
                        <td>张先生<br>2021-11-4 12:45:47</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- Modal-Effect -->

<script>

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '2020-11-03',
        endDate: '2021-11-03',
        minDate: '2012-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 720
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>