<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">运营净毛利统计 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            运营净毛利统计
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form  id="query_form" th:action="@{/statistic/operating/income/query}"
                           th:object="${statisticIncomeQo}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input id="datetimepicker" type="text" class="form-control" th:field="*{year}"
                                           autocomplete="off">
                                </div>
                                <div class="form-group col-sm-4 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/statistic/manager/month/query"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  页面内容-->
        <div class="row">
            <div class="col-md-6 ">
                <div class="card-box">

                    <div id="main0" style="height: 360px;"></div>
                </div>
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="card-box">
                    <div id="main1" style="height: 360px;"></div>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript">

    $.ajax({
        url : '[[${#httpServletRequest.getContextPath()}]]/statistic/operating/income/month/ajax/'+'[[${statisticIncomeQo.year}]]',
        success : function(data) {
            articles = eval(data);
            // 基于准备好的dom，初始化echarts实例
            var main0 = echarts.init(document.getElementById('main0'));
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: articles.year+'净毛利统计-总额：'+articles.totalImcome,
                    x:'left'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        var tar;
                        if (params[1].value != '-') {
                            tar = params[1];
                        } else {
                            tar = params[0];
                        }
                        return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                    }
                },
                legend: {
                    x : 'center',
                    y : 'bottom',
                    data: ['月净毛利']
                },
                toolbox: {
                    show: true,
                    feature: {
                        mark: {show: true},
                        dataView: {show: true, readOnly: false},
                        restore: {show: false},
                        saveAsImage: {show: true}
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        splitLine: {show: false},
                        data: articles.monthArray,
                        axisLabel: {
                            interval:'auto',
                            rotate: 30
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '辅助',
                        type: 'bar',
                        stack: '总量',
                        itemStyle: {
                            normal: {
                                barBorderColor: 'rgba(0,0,0,0)',
                                color: 'rgba(0,0,0,0)'
                            },
                            emphasis: {
                                barBorderColor: 'rgba(0,0,0,0)',
                                color: 'rgba(0,0,0,0)'
                            }
                        },
                        data: articles.startImcomeArray
                    },
                    {
                        name: '净毛利',
                        type: 'bar',
                        stack: '总量',
                        color:'#00ACC1',
                        itemStyle: {normal: {label: {show: true, position: 'top'}}},
                        data:articles.incomeArray,
                    }

                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            main0 .setOption(option);


            // 基于准备好的dom，初始化echarts实例
            var main1 = echarts.init(document.getElementById('main1'));
            // 指定图表的配置项和数据
            var option1 = {
                title : {
                    text: articles.year+'净毛利占比-总额：'+articles.totalImcome,
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left'
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel']
                        },
                        restore : {show: false},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [

                    {
                        name:'净毛利占比',
                        type:'pie',
                        radius : [30, 110],
                        center : ['50%', 200],
                        roseType : 'area',
                        x: '50%',               // for funnel
                        max: 40,                // for funnel
                        sort : 'ascending',     // for funnel
                        data: articles.ratios
                    }
                ]
            };

            // 使用刚指定的配置项和数据显示图表。
            main1 .setOption(option1);
        }
    });






    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });

	     //年度选择框
    $('#datetimepicker').datetimepicker({
        format: 'yyyy',
        startView:"decade", //表示起始范围 0为日 1为月 2为年
        minView: "decade", //选择日期后，不会再跳转去选择时分秒
        language:  'zh-CN',
        startDate:2018,
        autoclose:true //选择一个日期之后是否立即关闭此日期选择器
    }).on('changeDate',function(ev){
        $("#datetimepicker").datetimepicker('hide');
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>