<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.css}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">素材分类管理</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="mails">
                    <div class="table-box">
                        <div class="table-detail col-md-3" style="background-color: #FFFFFF">
                            <div class="row">
                                <div class="p-20" style="min-width: 300px;">
                                    <h5 class=" text-uppercase hidden-xxs">素材分类</h5>
                                    <div class="row">
                                        <div class="form-group  col-sm-9" style="padding-left:12px">
                                            <input type="text" class="form-control" id="input-search" name="input-search" width="60%">
                                        </div>
                                        <a id="btn-search" class="btn btn-teal waves-effect waves-light">搜索</a>
                                    </div>
                                    <div class="list-group mail-list">
                                        <div id="resource_tree"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-detail mail-right col-md-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    <iframe sec:authorize-url="/intel/resource/type/page/getResourceType/*" name="menus" id="resourceFrame"
                                            src=""
                                            style="padding: 0px; width: 100%;margin-bottom: 10px"
                                            scrolling="yes" onload="changeFrameHeight()"
                                            frameborder="0"></iframe>
                                </div>
                            </div>
                        </div> <!-- table detail -->
                    </div>
                    <!-- end table box -->
                </div> <!-- mails -->
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<!-- start menus js -->
<script th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<script>
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';

        $(function () {
            $('#resource_tree').treeview({
                data: loadEnterpriseData(),//节点数据
                expanded: false,//初始是否展开
                levels: 2,//初始显示层数
                icon: "glyphicon glyphicon-stop",
                selectedIcon: "glyphicon glyphicon-stop",
                color: "#4c4c4c",
                backColor: "#3ac9d6",
                selectedColor: "#3ac9d6",
                iconBackground: "#4c4c4c",
                lazyLoad: loadSubData,
                onNodeSelected: function (event, data) {
                    if("ACCOUNT"== data.orgCode){
                      $('#resourceFrame').attr('src',contextPath + "/intel/resource/type/page/getResourceType/"+data.id);
                    }
                    if("RESOURCE_TYPE"== data.orgCode){
                      $('#resourceFrame').attr('src',contextPath + "intel/material/getMaterial/"+data.href+"/"+data.id);
                    }
                }
            });
        });

        function loadEnterpriseData(){
         var treeData = {};
            $.ajax({
                url: contextPath + "/intel/resource/type/getEnterprise",
                type: "get",
                contentType: "application/json",
                timeout: 60000, //超时时间：60秒
                async: false,
                dataType: "text",
                success: function (data) {
                    treeData = data;
                }, error: function (data) {
                    console.log("error");
                }
            });
            return treeData;
        }

        function loadAccountData(id) {
            var treeData = {};
            $.ajax({
                url: contextPath + "/intel/resource/type/getAccount/"+id,
                type: "get",
                contentType: "application/json",
                timeout: 60000, //超时时间：30秒
                async: false,
                dataType: "text",
                success: function (data) {
                    treeData = data;
                }, error: function (data) {
                    console.log("error");
                }
            });
            return treeData;
        }

        function loadTypeData(id) {
            var treeData = {};
            $.ajax({
                url: contextPath + "/intel/resource/type/getResourceType/"+id,
                type: "get",
                contentType: "application/json",
                timeout: 60000, //超时时间：30秒
                async: false,
                dataType: "text",
                success: function (data) {
                    treeData = data;
                }, error: function (data) {
                    console.log("error");
                }
            });
            return treeData;
        }

        function loadSubData(node, func) {//这个技巧真高，即能得到节点数据，又能把节点下级的数据通过函数发回去
            var subData = {};
            if("ENTERPRISE" == node.orgCode){
               subData = loadAccountData(node.id);
            }
            if("ACCOUNT" == node.orgCode){
               subData = loadTypeData(node.id);
            }
            if("RESOURCE_TYPE" == node.orgCode){
               return;
            }
            var array = JSON.parse(subData);
            $('#resource_tree').treeview('addNode', [array, node, 1, {silent: true}]);
        }

        function changeFrameHeight() {
            var ifm = document.getElementById("resourceFrame");
            ifm.height = document.documentElement.clientHeight - 230;
        }

        var search = function(e) {
          var pattern = $('#input-search').val();
          var options = {
            ignoreCase: true,
            exactMatch: false,
            revealResults: false
          };
          var results = $('#resource_tree').treeview('search', [ pattern, options ]);
        }

        $('#btn-search').on('click', search);

        var resizefunc = [];
        //隐藏进度项
        $('#preloader').css('display', 'none');



</script>
</body>
</html>