<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">客户发送明细查询 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            运营管理
                        </li>
                        <li class="active">
                            客户发送明细查询
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row" style="position: relative;margin-top: 80px"  th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <form  id="query_form" th:action="@{/data/task/taskCustomerPage}" method="post">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input id="reportrange" class="form-control" type="text" />
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="任务单ID" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="手机号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="businessType" identity="businessType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="业务类型" />
                                </div>
                                <div class="form-group pull-right" style="text-align: right">
                                    <button sec:authorize-url="/data/task/taskCustomerPage" class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div id="help" class="alert alert-icon alert-success alert-dismissible fade in"  role="alert">
            <button id="help_button" type="button" class="close"
                    aria-label="Close">
            </button>
            <i class="mdi mdi-help-circle-outline"></i>
            <strong>操作提示：</strong> 通过输入条件进行查询，企业名称是必输项，任务单或手机号二选一。
        </div>


        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">客户发送列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>手机号</th>
                                    <th>运营商</th>
                                    <th>通道ID/通道名称</th>
                                    <th>发送时间/返回时间</th>
                                    <th>返回状态</th>
                                    <th>拆分条数</th>
                                    <th>内容</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr><tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">北京星语互联科技有限公司</td>
                                    <td style="vertical-align: middle;line-height: 26px">13683071246</td>
                                    <td style="vertical-align: middle;line-height: 26px"><mpm:tag identity="carrier" value="CMCC" show-type="label"  key="code" /></td>
                                    <td style="vertical-align: middle;">XY2010232323223200<br>国际短信通道-GJ091000</td>
                                    <td style="vertical-align: middle">2021-11-18 14:25:09<br>2021-11-18 14:26:09</td>
                                    <td style="vertical-align: middle;line-height: 26px"><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">发送完成</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">2</td>
                                    <td style="vertical-align: middle;">
                                        <span data-toggle="tooltip" data-placement="bottom" title="" data-original-title="【中信银行】根据综合评估，您可于本月申请到一笔我行利息低至0.04%，最长30年授信的房抵贷业务，材料简单，审核迅速，详询请回复1，退订回T。">
                                            【中信银行】根据综合评估...
                                        </span>
                                    </td>
                                </tr>



                                </tbody>

                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- Modal-Effect -->

<script>

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '2020-11-03',
        endDate: '2021-11-03',
        minDate: '2012-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 720
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>