<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <!-- Tooltipster css -->
    <link rel="stylesheet" th:href="@{/static/plugins/tooltipster/tooltipster.bundle.min.css}">
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 10px">
    <div class="container">

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">

            <form th:action="@{/ec/customer/center/material/page}" th:object="${enterpriseDocumentInfoValidator}" id="query_form" method="post">
                <input type="hidden" th:field="*{enterpriseId}">
                <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
            </form>

            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">EC资质列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="width:280px">签名</th>
                                    <th style="width:160px">业务类型</th>
                                    <th style="width:200px">短链/签名合同链</th>
                                    <th style="width:160px">审核状态</th>
                                    <th style="width:200px">创建人/创建日期</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="line-height: 26px"><span style="color:#26A69A;" class="text-overflow"
                                                                        data-toggle="tooltip" data-placement="bottom"
                                                                        th:data-original-title="${info.signName}">[[${info.signName}]]</span>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <mpm:tag identity="businessType" show-type="button"
                                                 key="code" th:value="${info.businessType}"
                                                 class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">[[${info.shortLink}]]<br>
                                        <i class="mdi mdi-comment-text" style="margin-left:5px"
                                           th:id="chain+${info.id}"
                                           th:onmouseover="chainTip([[${info.id}]])"
                                           data-toggle="tooltip"></i>
                                        <i class="mdi mdi-file-document" style="color: #00acc1"
                                           th:id="interaction+${info.id}"
                                           th:onmouseover="interaction([[${info.id}]])"
                                           data-toggle="tooltip">
                                        </i>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px;word-wrap:break-word;">
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light" th:if="${info.docStatus eq '2'}">通过审核</a>
                                        <a class="btn btn-warning btn-rounded btn-sm waves-effect waves-light" th:if="${info.docStatus eq '3'}">待审核</a>
                                        <a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light" th:if="${info.docStatus eq '1'}">拒绝</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">[[${info.createdBy}]]<br>[[${info.createdTime}]]</td>


                                </tr>

                                </tbody>

                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- Modal-Effect -->
<script th:src="@{/static/plugins/tooltipster/tooltipster.bundle.min.js}"></script>

<script>

    function chainTip(id){
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/ec/customer/material/chain/chainView/" + id,
            async: false,
            success: function (data) {
                var chains = data.split("@");
                var chainName = ""
                if (chains.length > 1) {
                    for (i = 0; i < chains.length; i++) {
                        chainName += '<span style="font-size:12px">' + chains[i] + '</span><br>';
                    }
                } else {
                    chainName = '<span style="font-size:12px">' + chains + '</span>';
                }

                $('#chain' + id).tooltipster({
                    content: $('<p style="text-align:left;">' + chainName + '</p>'),
                    maxWidth: 600,
                    position: 'right',
                });
            }
        });
    }

    function interaction(id) {

        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/attachment/findByModelId/" + id,
            async: false,
            success: function (data) {
                var files = data.split("@");
                var onefile = ""
                if (files.length > 1) {
                    for (i = 0; i < files.length; i++) {
                        var a = files[i].split(",");
                        var url = contextPath+"/attachment/download/"+a[1];
                        onefile += '<span style="font-size:12px"><a href="'+url+'" style="color: white">' + a[0] + '</a></span><br>';
                    }
                } else {
                    var a = data.split(",");
                    if(a.length>1){
                        var url = contextPath+"/attachment/download/"+a[1];
                        onefile =  '<span style="font-size:12px"><a href="'+url+'" style="color: white">' + a[0] + '</a></span>';
                    }else{
                        onefile =  '<span style="font-size:12px">无附件</a></span>';
                    }
                }

                $('#interaction' + id).tooltipster({
                    content: $('<p style="text-align:left;">' + onefile + '</p>'),
                    maxWidth: 600,
                    position: 'right',
                    contentAsHTML: true,
                    interactive: true
                });
            }
        });
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>