<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form" th:action="@{/ec/customer/material/chain/save/{op}(op=${op})}" th:object="${enterpriseChainInfoValidator}"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-success" style="padding-left:0px;padding-right:0px">
                            <div  class="panel-heading"
                                  style="display:block">
                                <h3 class="panel-title">
                                    签名合同链维护
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>企业名称</label><br>
                                                    [[${enterpriseBasicInfoValidator.enterpriseName}]]
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>企业类型</label>
                                                    <br><mpm:tag identity="enterpriseType" show-type="label" key="code"
                                                                 th:value="${enterpriseBasicInfoValidator.enterpriseType}"/>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>业务类型</label><br>
                                                    <mpm:tag identity="businessType" show-type="label" key="code"
                                                             th:value="${enterpriseDocumentInfoValidator.businessType}"/>
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>信息类型</label>
                                                    <br><mpm:tag identity="infoType" show-type="label" key="code"
                                                                 th:value="${enterpriseDocumentInfoValidator.infoType}"/>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 ">
                                                    <label>签名合同链<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('signChain')}"
                                                              th:errors="*{signChain}"></span></label>
                                                    <input class="form-control" type="text" th:field="*{signChain}"
                                                           required="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>签订日期<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('signDate')}"
                                                              th:errors="*{signDate}"></span></label>
                                                    <input id="signDate" class="form-control" type="text"
                                                           th:field="*{signDate}" required="" autocomplete="off">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>到期日期<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('signExpireDate')}"
                                                              th:errors="*{signExpireDate}"></span></label>
                                                    <input id="signExpireDate" class="form-control" type="text"
                                                           th:field="*{signExpireDate}" required="" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>顺序<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('sort')}"
                                                              th:errors="*{sort}"></span></label>
                                                    <input id="sort" class="form-control" type="text"
                                                           th:field="*{sort}" required="" data-parsley-type="number" autocomplete="off">
                                                </div>

                                            </div>
                                        </div>
                                    </div> <!-- end col -->

                                </div> <!-- end row -->
                                <div class="text-center" style="margin-bottom:20px">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{documentId}">
                                    <input type="hidden" th:field="*{signChainStatus}">
                                    <input type="hidden" th:field="*{createdTime}">
                                    <input type="hidden" th:field="*{createdBy}">
                                    <button sec:authorize-url="/ec/customer/material/chain/save/*" type="submit"
                                            class="btn btn-teal waves-effect waves-light">提交
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </form>
                <!-- end form -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>

<script>

    $(document).ready(function () {
        init_select_date_picker($("#signDate"));
        init_select_date_picker($("#signExpireDate"));
    });

    function init_select_date_picker(id){
        id.daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            minDate: '2015-01-01',
            maxDate: '2080-12-31',
            locale : {
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '01月', '02月', '03月', '04月', '05月', '06月',
                    '07月', '08月', '09月', '10月', '11月', '12月' ],
                format : 'YYYY-MM-DD' ,
                cancelLabel: 'Clear'
            }
        });
        id.on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD') );
        });
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>