<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-info" style="padding-left:0px;padding-right:0px">
                            <div  class="panel-heading"
                                  style="display:block">
                                <h3 class="panel-title">
                                    签名合同链列表
                                    <div class="pull-right">
                                        <a sec:authorize-url="/ec/customer/material/chain/add/*" th:href="@{/ec/customer/material/chain/add/{id}(id=${enterpriseDocumentInfoValidator.id})}"
                                           style="margin-top: -8px"
                                           class="btn btn-purple waves-effect waves-light m-l-10 btn-sm" data-toggle="tooltip" data-placement="left" title="" >
                                            <i class="glyphicon glyphicon-plus-sign" style="margin-right:5px"></i>新建合同链</a>
                                    </div>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table table-hover m-10" style="margin-top: -12px;">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>签名合同链</th>
                                            <th>签订日期</th>
                                            <th>到期日期</th>
                                            <th>创建人</th>
                                            <th>创建日期</th>
                                            <th>操作</th>
                                        </tr>
                                        <thead>
                                        <tbody>
                                        <tr th:each="info:${list}">

                                            <td style="line-height: 26px">[[${info.sort}]]</td>
                                            <td style="line-height: 26px">[[${info.signChain}]]</td>
                                            <td style="line-height: 26px">[[${info.signDate}]]</td>
                                            <td style="line-height: 26px">[[${info.signExpireDate}]]</td>
                                            <td style="line-height: 26px">[[${info.createdBy}]]</td>
                                            <td style="line-height: 26px">[[${info.createdTime}]]</td>
                                            <td style="line-height: 26px;">
                                                <a sec:authorize-url="/ec/customer/material/chain/edit/*"
                                                   th:href="@{/ec/customer/material/chain/edit/{id}(id=${info.id})}" class="on-default edit-row"
                                                   style="padding-left: 5px;color: #29b6f6;" data-toggle="tooltip"
                                                   data-placement="left" title=""  data-original-title="编辑"><i
                                                        style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                                <a sec:authorize-url="/ec/customer/material/chain/deleteById/*"
                                                   th:onclick="confirmDelete([[${info.id}]],this)" data-toggle="modal"
                                                   data-target="#confirm-modal" class="on-default remove-row"
                                                   style="padding-left: 5px;color: #f05050" title="删除"><i
                                                        style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                            </td>
                                        </tr>


                                        </tbody>

                                    </table>
                                </div>


                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </form>
                <!-- end form -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start row  删除确认-->
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

<script>

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + "/ec/customer/material/chain/deleteById/" + $("#deleteId").val();
    }


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>