<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row  页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">码号管理 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            产品通道设置
                        </li>
                        <li>
                            码号管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/configure/code/number/page}" th:object="${codeNumberInfoValidator}"
                          method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" name="srcId" th:value="${codeNumberInfoValidator.srcId}"
                                           placeholder="码号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="carrier" identity="carrier" name="carrier" show-type="select"
                                             key="code" class="form-control" th:value="${codeNumberInfoValidator.carrier}" title="运营商"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="businessType" identity="businessType" name="businessType" show-type="select" key="code"
                                             class="form-control" th:value="${codeNumberInfoValidator.businessType}" title="业务类型"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="channelStatus" identity="codeStatus" name="srcIdStatus" show-type="select" key="code"
                                             class="form-control" th:value="${codeNumberInfoValidator.srcIdStatus}" title="码号状态"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="codePoint" identity="codePoint" name="accessPoint" show-type="select" key="code"
                                             class="form-control" th:value="${codeNumberInfoValidator.accessPoint}" title="接入点"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="codeSource" identity="codeSource" name="srcIdSource" show-type="select" key="code"
                                             class="form-control" th:value="${codeNumberInfoValidator.srcIdSource}" title="码号来源"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="provice" identity="provices" name="province" show-type="select" key="code" class="form-control"
                                             th:value="${codeNumberInfoValidator.province}" title="接入省份"/>
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/configure/code/number/page"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/configure/code/number/add"
                                       th:href="@{/configure/code/number/add}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新建码号</a>
                                    <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">码号列表
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" th:each="info:${list}">
                            <div class="col-md-12">
                                <div class="property-card property-horizontal" style="margin-bottom:10px;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="property-content"
                                                 style="height:240px">
                                                <div class="listingInfo">
                                                    <div class="">
                                                        <h5 style="padding-left:10px">
                                                            [[${info.srcId}]]-<mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrier}"/>-<mpm:tag identity="provices" show-type="label" key="code" th:value="${info.province}"/>
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p style="font-size:12px">码号：[[${info.srcId}]]</p>
                                                        <p style="font-size:12px">计费号码/CA编号：[[${info.caSrcId}]]</p>
                                                        <p style="font-size:12px">接入点：<mpm:tag identity="codePoint" show-type="label" key="code" th:value="${info.accessPoint}"/></p>
                                                        <p style="font-size:12px">低消要求：<span th:if="${info.minConsumeDemand ne 0}">[[${info.minConsumeDemand}]] 万条</span></p>

                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p style="font-size:12px">抗速率：<span th:if="${not #strings.isEmpty(info.maxComplaintRate)}">[[${info.maxComplaintRate}]]/百万</span></p>
                                                        <p style="font-size:12px">资费：<span th:if="${not #strings.isEmpty(info.srcIdRpice)}">¥ [[${info.srcIdRpice}]] 元/条</span></p>
                                                        <p style="font-size:12px">接入时间：[[${info.accessTime}]]</p>
                                                        <p style="font-size:12px">低消生效时间：[[${info.minConsumeEffectiveDate}]]</p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p style="font-size:12px">运营商：<mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrier}"/></p>
                                                        <p style="font-size:12px">资费生效时间：[[${info.priceEffectiveDate}]]</p>
                                                        <p style="font-size:12px">接入省市：<mpm:tag identity="provices" show-type="label" key="code" th:value="${info.province}"/>[[${info.city}]]</p>
                                                        <p style="font-size:12px">用途：<mpm:tag identity="codeUseType" show-type="label" key="code" th:value="${info.useType}"/></p>

                                                    </div>
                                                    <div class="col-sm-3">
                                                        <p style="font-size:12px">
                                                            业务类型：<mpm:tag identity="businessType" show-type="button" key="code" th:value="${info.businessType}"
                                                                     class="TEXT_SMS,btn btn-teal waves-effect waves-light btn-xs;MULTI_SMS,btn btn-brown waves-effect waves-light btn-xs;MMS,btn btn-info waves-effect waves-light btn-xs;5G_SMS,btn btn-primary waves-effect waves-light btn-xs;INTERNATIONAL_SMS,btn btn-purple waves-effect waves-light btn-xs;BLACK_SERVICE,btn btn-inverse waves-effect waves-light btn-xs"/>
                                                        </p>
                                                        <p style="font-size:12px">码号生效时间：[[${info.srcIdEffectiveDate}]]</p>
                                                        <p style="font-size:12px">码号来源：<mpm:tag identity="codeSource" show-type="label" key="code" th:value="${info.srcIdSource}"/></p>
                                                        <p style="font-size:12px">
                                                            码号状态：<mpm:tag identity="codeStatus" show-type="button" key="code" th:value="${info.srcIdStatus}"
                                                                     class="001,btn btn-success waves-effect waves-light btn-xs;002,btn btn-inverse waves-effect waves-light btn-xs;003,btn btn-warning waves-effect waves-light btn-xs;004,btn btn-danger waves-effect waves-light btn-xs;"/>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="property-action">
                                                    <span style="padding-left:10px;font-size:12px">
                                                        备注：[[${info.srcIdRemark}]]
                                                    </span>
                                                    <div class="pull-right">
                                                        <a sec:authorize-url="/configure/code/number/view/center/*"
                                                           th:href="@{/configure/code/number/view/center/{id}(id=${info.id})}"
                                                           data-toggle="tooltip" data-placement="left"
                                                           data-original-title="码号详情" style="font-size:12px">
                                                            <i class="glyphicon  glyphicon-search"
                                                               style="margin-right:5px;font-size:12px;color:#0095a8"></i>详细</a>
                                                        <a sec:authorize-url="/configure/code/number/edit/*"
                                                           th:href="@{/configure/code/number/edit/{id}(id=${info.id})}"
                                                           data-toggle="tooltip" data-placement="left"
                                                           data-original-title="码号修改" style="font-size:12px">
                                                            <i class="glyphicon glyphicon-cog"
                                                               style="margin-right:5px;font-size:12px;color:#0095a8"></i>修改</a>
                                                    </div>
                                                </div>
                                                <!-- end. Card actions -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div style="margin-top:10px">
                            <th:block th:insert="fragments/page_fragments :: page"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>