<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>

</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">错误码管理</h3>
                    </div>
                    <div class="panel-body">
                        <form id="submit_form" th:action="@{/errorCode/upFiles}" method="post" data-parsley-validate="" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-20">

                                        <div class="form-group m-b-20">
                                            <label>下载模板</label>&nbsp;
                                            <label>
                                                <a sec:authorize-url="/errorCode/downFileTemp" th:onclick="downFile()"
                                                   class="btn btn-success waves-effect waves-light m-l-10 btn-md"><i class="glyphicon glyphicon-download"></i>下载错误码模板</a>
                                            </label>
                                        </div>

                                        <div class="form-group m-b-20">
                                            <label>上传附件<span class="text-danger">*</span>&nbsp;</label>
                                            <input type="file" name="file" id="input_file"
                                                   multiple="multiple">
                                        </div>


                                    </div>
                                    <!-- end class p-20 -->

                                </div> <!-- end col -->

                            </div> <!-- end row -->

                            <div class="text-center">
                                <input type="hidden"  name="parentId" th:value="${parentId}">
                                <button sec:authorize-url="/errorCode/upFiles" type="submit"
                                        class="btn btn-teal waves-effect waves-light">提交
                                </button>
                                <a sec:authorize-url="/errorCode/list/*" th:href="@{/errorCode/list/{parentId}(parentId=${parentId})}"  class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                </div>
                <div class="col-md-6">

                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->

</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/js/contractUploadFile.js}"></script>
<script th:src="@{/static/plugins/jquery.filer/js/jquery.filer.min.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>

<script>

    function downFile() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        location.href = contextPath + "/errorCode/downFileTemp" ;
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>