<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">新建、修改套餐</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            套餐管理
                        </li>
                        <li class="active">
                            新建、修改套餐
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/iot/package/save/{op}(op=${op})}"
                          th:object="${validator}"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>套餐名称<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('packageName')}"
                                                        th:errors="*{packageName}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control"
                                                       autocomplete="off" th:field="*{packageName}"
                                                       data-parsley-length="[2,24]" placeholder="套餐名称">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>套餐标准费用(元)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('packageCharging')}"
                                                        th:errors="*{packageCharging}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control"
                                                       autocomplete="off" th:field="*{packageCharging}"
                                                       min="0.01" placeholder="套餐标准费用">
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label>计费周期<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('chargingCycle')}"
                                                        th:errors="*{chargingCycle}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <select class="selectpicker" name="chargingCycle" required>
                                                    <option value="">--请选择计费周期--</option>
                                                    <option th:selected="${validator.chargingCycle == '01'}" value="01">自然月</option>
                                                    <option th:selected="${validator.chargingCycle == '02'}" value="02">年</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>套餐流量类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('packageType')}"
                                                        th:errors="*{packageType}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <mpm:tag id="packageType" identity="poolType" required="true"
                                                         name="packageType" show-type="select" key="code"
                                                         style="margin-top:0px"
                                                         th:value="${validator.packageType}"
                                                         title="流量类型"/>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>套餐周期流量池额度(G)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('packagePoolSize')}"
                                                        th:errors="*{packagePoolSize}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control"
                                                       autocomplete="off" th:field="*{packagePoolSize}"
                                                       min="0.0001" placeholder="套餐周期流量池额度(G)">
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label>单卡周期限额(G)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('cycleQuota')}"
                                                        th:errors="*{cycleQuota}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control"
                                                       autocomplete="off" th:field="*{cycleQuota}"
                                                       min="0" placeholder="单卡周期限额(0表示不限量)" data-toggle="tooltip" data-placement="top"
                                                       data-original-title="0表示不限量">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>套餐超限额计费（元/K）<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('aboveQuotaCharging')}"
                                                        th:errors="*{aboveQuotaCharging}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control"
                                                       autocomplete="off" th:field="*{aboveQuotaCharging}"
                                                       min="0" placeholder="单卡超额计费标准（元/K）" data-toggle="tooltip" data-placement="top"
                                                       data-original-title="0表示该字段不起作用">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>套餐临时额度(G) <span class="text-danger">*</span><span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('packageTempAmount')}"
                                                        th:errors="*{packageTempAmount}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control" required=""
                                                       autocomplete="off" th:field="*{packageTempAmount}"
                                                       min="0.00" placeholder="临时额度(G)" data-toggle="tooltip" data-placement="top"
                                                       data-original-title="0表示无临时额度">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>套餐临时额度费用（元）<span class="text-danger">*</span><span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('packageTempAmountFee')}"
                                                        th:errors="*{packageTempAmountFee}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text"  class="form-control" required=""
                                                       autocomplete="off" th:field="*{packageTempAmountFee}"
                                                       min="0.00" placeholder="临时额度费用（元）">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>预警比例(%)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger"
                                                        th:if="${#fields.hasErrors('warningLevel')}"
                                                        th:errors="*{warningLevel}"
                                                        style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" data-parsley-type="number"
                                                       autocomplete="off" th:field="*{warningLevel}"  placeholder="预警比例（默认90%）" data-toggle="tooltip" data-placement="top"
                                                       data-original-title="使用比例达到这个值，将通知所属人">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="m-b-10">是否收取开卡费</label>
                                                <br/>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="isOpenFee" type="radio" value="1" required
                                                           th:checked="${validator.isOpenFee eq '1'}"><label>收取</label>
                                                </div>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="isOpenFee" type="radio" value="0" required
                                                           th:checked="${validator.isOpenFee eq '0'}"><label>不收取</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="m-b-10">是否收取周期功能费</label>
                                                <br/>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="isFunctionFee" type="radio" value="1" required
                                                           th:checked="${validator.isFunctionFee eq '1'}"><label>收取</label>
                                                </div>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="isFunctionFee" type="radio" value="0" required
                                                           th:checked="${validator.isFunctionFee eq '0'}"><label>不收取</label>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-center m-t-20">
                                                <input type="hidden" th:field="*{packageChargingDiscount}">
                                                <input type="hidden" th:field="*{thisMonthUsedAmount}">
                                                <input type="hidden" th:field="*{lastMonthCarryAmount}">
                                                <input type="hidden" th:field="*{packageCardsNum}">
                                                <input type="hidden" th:field="*{useStatus}">
                                                <input type="hidden" th:field="*{packageStatus}">
                                                <input type="hidden" th:field="*{createdTime}">
                                                <input type="hidden" th:field="*{createdBy}">
                                                <input type="hidden" th:field="*{id}">
                                                <button sec:authorize-url="/iot/package/save/*" type="submit"
                                                        class="btn btn-teal waves-effect waves-light">提交
                                                </button>
                                                <a sec:authorize-url="/iot/package/list"
                                                   th:href="@{/iot/package/list}" style="margin-left:20px"
                                                   class="btn btn-default waves-effect waves-light">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>