<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">套餐管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            套餐管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/iot/package/page}" method="post" th:object="${validator}">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{packageName}"
                                           placeholder="套餐名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="packageType" identity="poolType"
                                             name="packageType" show-type="select" key="code"
                                             style="margin-top:0px"
                                             th:value="${validator.packageType}"
                                             title="套餐流量类型"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <select class="selectpicker" name="useStatus">
                                        <option value="">--请选择套餐使用状态--</option>
                                        <option value="01" th:selected="${validator.useStatus == '01'}">未使用</option>
                                        <option value="02" th:selected="${validator.useStatus == '02'}">已使用</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/iot/package/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/iot/package/add"
                                       th:href="@{/iot/package/add}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新建套餐</a>
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">套餐列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>套餐名称</th>
                                    <th>套餐流量类型</th>
                                    <th>套餐标准费用（元）</th>
                                    <th>计费周期</th>
                                    <th>套餐流量池额度(G)</th>
                                    <th>单卡周期限额(G)</th>
<!--                                    <th>套餐超限额计费（元/K）</th>-->
                                    <th>物联网卡数</th>
                                    <th>当月用量</th>

                                    <th>数据同步时间</th>
                                    <th>预警值</th>
                                    <th>使用状态</th>
<!--                                    <th>创建人</th>-->
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.packageName}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                       <mpm:tag id="packageType" identity="poolType"
                                                 name="packageType" show-type="button" key="code"
                                                 style="margin-top:0px"
                                                 th:value="${info.packageType}"
                                                 class="01,btn btn-success btn-rounded btn-sm waves-effect waves-light;02,btn btn-info btn-rounded btn-sm waves-effect waves-light;03,btn btn-teal btn-rounded btn-sm waves-effect waves-light;"/>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.packageCharging}]] 元
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a th:if="${info.chargingCycle =='01'}" class="btn btn-info btn-rounded  waves-effect waves-light btn-sm">自然月</a>
                                        <a th:if="${info.chargingCycle =='02'}" class="btn btn-teal btn-rounded  waves-effect waves-light btn-sm">年</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.packagePoolSize}]] G
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="color:#188ae2" th:if="${info.cycleQuota == 0}">不限</span>
                                        <span th:if="${info.cycleQuota != 0}">[[${info.cycleQuota}]]G</span>
                                    </td>
<!--                                    <td style="vertical-align: middle;line-height: 26px">-->
<!--                                        [[${info.aboveQuotaCharging}]] 元/K-->
<!--                                    </td>-->
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.packageCardsNum}]] 张
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <div class="progress" style="margin-top:20px" data-toggle="tooltip"
                                             data-placement="bottom" data-original-title="60%">
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 60%;"
                                                 class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                                        </div>
                                    </td>

                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.syncDate}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px" >
                                        [[${info.warningLevel}]]%
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a th:if="${info.useStatus =='01'}" class="btn btn-warning btn-rounded  waves-effect waves-light btn-sm">未使用</a>
                                        <a th:if="${info.useStatus =='02'}" class="btn btn-teal btn-rounded  waves-effect waves-light btn-sm">已使用</a>
                                    </td>
<!--                                    <td style="vertical-align: middle;line-height: 26px">-->
<!--                                        [[${info.createdBy}]]-->
<!--                                    </td>-->
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a sec:authorize-url="/iot/package/center/*"
                                           th:href="@{/iot/package/center/{packageId}(packageId=${info.id})}"
                                           data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="套餐明细"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color:#4BD396;"><i style="font-size: 18px"
                                                                                       class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/iot/package/edit/*"
                                           th:href="@{/iot/package/edit/{id}(id=${info.id})}"
                                           class="on-default edit-row"
                                           style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="bottom" title="" data-original-title="修改套餐信息"><i
                                                style="font-size: 18px"
                                                class="mdi mdi-table-edit"></i></a>
                                        <a  sec:authorize-url="/iot/package/config/edit/*"
                                           th:href="@{/iot/package/config/edit/{id}(id=${info.id})}"
                                           class="on-default edit-row"
                                           style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="bottom" title="" data-original-title="套餐设置"><i
                                                style="font-size: 18px"
                                                class="mdi mdi-brightness-7"></i></a>
                                        <a
                                                data-toggle="modal"
                                                data-target="#confirm-modal" class="on-default remove-row"
                                                style="padding-left: 5px;color: #f05050"
                                                title="停用套餐"><i style="font-size: 18px"
                                                                class="mdi mdi-cup-off"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start confirm delete modal  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">确认停用</h4>
                    </div>
                    <div class="modal-body">
                        <p>停用之后，该套餐下所有物联网卡都将无法使用！你还是确认停用？</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button onclick="logoutById()" class="btn btn-primary waves-effect waves-light">确认停用</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm delete modal  -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->
    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    function confirmLogout(id) {
        $("#deleteId").val(id);
    }

    //注销
    function logoutById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>