<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="page">
    <!-- start page -->
    <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
        <div class="col-sm-6">
            <div th:remove="${pageParams.pages}<=1?'all':'none'" class="dataTables_info"
                 id="datatable-fixed-header_info" role="status" aria-live="polite">
                共[[${pageParams.totalRows}]]条，每页显示[[${pageParams.pageSize}]]条，显示从[[${pageParams.startRow}]]条到[[${pageParams.endRow}]]条
            </div>
        </div>
        <div class="col-sm-6">
            <div th:remove="${pageParams.pages}<=1?'all':'none'"
                 class="dataTables_paginate paging_simple_numbers"
                 id="datatable-fixed-header_paginate">
                <ul class="pagination">
                    <!--前一页-->
                    <li th:remove="${pageParams.currentPage}==1?'all':'none'"
                        class="paginate_button previous"
                        aria-controls="datatable-fixed-header"
                        tabindex="0" id="datatable-fixed-header_previous"><a href="#" th:onclick="turnPage([[${pageParams.currentPage-1}]],this)">前一页</a></li>
                    <div th:if="${pageParams.pages <=6}" th:remove="tag">
                        <li
                                th:each="i:${#numbers.sequence(1,pageParams.pages)}"
                                th:attr="class=${i==pageParams.currentPage}?'paginate_button active':'paginate_button'"
                                aria-controls="datatable-fixed-header" tabindex="0"><a
                                href="#" th:onclick="turnPage([[${i}]],this)">[[${i}]]</a></li>
                    </div>
                    <div th:if="${pageParams.pages >6 && pageParams.currentPage <= 4 }" th:remove="tag">
                        <li th:each="i:${#numbers.sequence(1,6)}"
                            th:attr="class=${i==pageParams.currentPage}?'paginate_button active':'paginate_button'"
                            aria-controls="datatable-fixed-header" tabindex="0"><a
                                href="#" th:onclick="turnPage([[${i}]],this)">[[${i}]]</a></li>
                    </div>
                    <div th:if="${pageParams.pages >6 && pageParams.currentPage > 4 && ((pageParams.pages - pageParams.currentPage-2)<=0)}"
                         th:remove="tag">
                        <li
                                th:each="i:${#numbers.sequence((pageParams.pages - 5),pageParams.pages)}"
                                th:attr="class=${i==pageParams.currentPage}?'paginate_button active':'paginate_button'"
                                aria-controls="datatable-fixed-header" tabindex="0"><a
                                href="#" th:onclick="turnPage([[${i}]],this)">[[${i}]]</a></li>
                    </div>
                    <div th:if="${pageParams.pages >6 && pageParams.currentPage > 4 && ((pageParams.pages-pageParams.currentPage-2)>0)}"
                         th:remove="tag">
                        <li
                                th:each="i:${#numbers.sequence((pageParams.currentPage-3),(pageParams.currentPage+2))}"
                                th:attr="class=${i==pageParams.currentPage}?'paginate_button active':'paginate_button'"
                                aria-controls="datatable-fixed-header" tabindex="0"><a
                                href="#" th:onclick="turnPage([[${i}]],this)">[[${i}]]</a></li>
                    </div>
                    <!--下一页-->
                    <li th:remove="${pageParams.currentPage}==${pageParams.pages}?'all':'none'"
                        class="paginate_button next" aria-controls="datatable-fixed-header" tabindex="0"
                        id="datatable-fixed-header_next"><a href="#" th:onclick="turnPage([[${pageParams.currentPage+1}]],this)">下一页</a></li>
                    <li>
                        <div class="btn-group m-b-10" style="margin-left: 5px">
                            <div class="btn-group">
                                <button type="button" style="height: 33px"
                                        class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false"> 跳转到 <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li th:each="i:${#numbers.sequence(1,pageParams.pages)}"><a href="#"
                                                                                                th:onclick="turnPage([[${i}]],this)">[[${i}]]</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <!-- end page -->
    <script>

        //提交分页表单 分页表单id为query_form
        function turnPage(pageNum) {

            $("#currentPage").val(pageNum);
            $("#query_form").submit();

        }
    </script>
</th:block>
</body>
</html>