<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">签名管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            素材管理
                        </li>
                        <li>
                            签名管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/sign/page/{signType}(signType=${signType})}" th:object="${enterpriseDocumentInfoValidator}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{signName}"
                                           placeholder="签名名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <select data-style="btn-default" name="docStatus" data-live-search="true" id="signStatus" class="selectpicker form-control" tabindex="-98">
                                        <option value="" data-icon="mdi mdi-bell-ring-outline">--请选择签名状态--</option>
                                        <option data-icon="mdi mdi-bell-ring-outline" value="2" th:selected="${enterpriseDocumentInfoValidator.docStatus eq '2'}">通过审核</option>
                                        <option data-icon="mdi mdi-bell-ring-outline" value="3" th:selected="${enterpriseDocumentInfoValidator.docStatus eq '3'}">待审核</option>
                                        <option data-icon="mdi mdi-bell-ring-outline" value="1" th:selected="${enterpriseDocumentInfoValidator.docStatus eq '1'}">拒绝</option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button th:sec:authorize-url="|/sign/page/${signType}|" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a th:sec:authorize-url="|/sign/add/${signType}|"
                                       th:href="@{/sign/add/{type}(type=${signType})}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新建签名</a>
                                    <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">签名列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="width:400px">签名名称</th>
                                    <th style="width:200px">备注</th>
                                    <th style="width:150px">审核状态</th>
                                    <th style="width:180px">提交时间</th>
                                    <th style="width:180px">审核时间</th>
                                    <th style="width:120px">操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span class="text-overflow"
                                              data-toggle="tooltip" data-placement="bottom"
                                              th:data-original-title="${info.signName}">[[${info.signName}]]</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span class="text-overflow"
                                              data-toggle="tooltip" data-placement="bottom"
                                              th:data-original-title="${info.docKey}">[[${info.docKey}]]</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success btn-rounded btn-sm waves-effect waves-light" th:if="${info.docStatus eq '2'}">通过审核</a>
                                        <a class="btn btn-warning btn-rounded btn-sm waves-effect waves-light" th:if="${info.docStatus eq '3'}">待审核</a>
                                        <a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light" th:if="${info.docStatus eq '1'}">拒绝</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.createdTime}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.checkDate}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a sec:authorize-url="/sign/detail/*"
                                           th:href="@{/sign/detail/{id}(id=${info.id})}"
                                           data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="查看详情"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color:#4BD396;"><i style="font-size: 18px"
                                           class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/sign/edit/*"
                                           th:href="@{/sign/edit/{id}(id=${info.id})}" class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;" data-toggle="tooltip" th:if="${info.docStatus ne '2'}"
                                           data-placement="left" title=""  data-original-title="编辑"><i
                                                style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/sign/deleteById/*" th:if="${info.docStatus ne '2'}"
                                           th:onclick="confirmDelete([[${info.id}]],this)"data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050" title="删除"><i
                                                style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start row  删除确认-->
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>

<script>

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + "/sign/deleteById/" + $("#deleteId").val();
    }


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');



</script>
</body>
</html>