<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- end row -->
        <div class="row text-center" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12" style="marin-bottom:40px">
                <div class="card-box">
                    <h4 class="header-title m-t-10">根据导出的订单号，完成数据报备</h4>
                    <p class="text-muted m-b-25 font-13">

                    </p>
                    <p class="text-muted m-b-25 font-13">
                        <input id="registerOrderNo" type="text" class="form-control" name="registerOrderNo"
                               required="" data-parsley-length="[2,32]" autocomplete="off"
                               placeholder="请输入订单号" >
                    </p>
                    <div class="button-list">
                        <button id="export" onclick="disableButton('export')"
                                sec:authorize-url="/sign/register/file/register_op/*"
                                class="btn btn-info waves-effect waves-light btn-lg" style="margin-right:20px">
                            完成报备
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!-- start row  错误提示-->
        <!-- error div start-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?all:none">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="#" class="text-success">
                                    <span style="color:#FFFFFF">成功提示</span>
                                </a>
                            </h2>
                        </div>
                        <div class="account-content">
                            <div class="text-center m-b-20">
                                <div class="m-b-20">
                                    <img th:src="@{/static/assets/images/users/avatar-5.jpg}"
                                         class="img-circle img-thumbnail thumb-lg" alt="thumbnail">
                                </div>
                                <p class="text-muted m-b-0 font-13">成功信息：[[${error}]] </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end card-box-->
                </div>
                <!-- end wrapper -->
            </div>
        </div>
        <!-- error div end-->
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

     function disableButton(id){
       var registerOrderNo = $("#registerOrderNo").val();
       //alert(registerOrderNo);
       if(null == registerOrderNo || ""==registerOrderNo){
          return;
       }
       $("#"+id).attr("disabled","disabled")
       var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
       $('#preloader').css('display', 'block');
       location.href = contextPath + '/sign/register/file/register_op/' + registerOrderNo;
     }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>