<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">新增、修改企业签名报备</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            业务办理
                        </li>
                        <li>
                            企业签名报备
                        </li>
                        <li>
                            新增、修改企业签名报备
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/sign/register/save/{op}(op=${op})}"
                          th:object="${accountSignRegisterValidator}"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>签名资质企业<span class="text-danger">*</span>
                                                    <span class="text-danger"
                                                          th:if="${#fields.hasErrors('enterpriseId')}"
                                                          th:errors="*{enterpriseId}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <select data-style="btn-default" name="enterpriseId"
                                                        data-live-search="true"
                                                        id="enterpriseId" class="selectpicker" required>
                                                    <option value="" data-icon="mdi mdi-account-convert">--请选择签名资质企业--
                                                    </option>
                                                    <option th:each="certify:${certifies}"
                                                            th:selected="${certify.id == accountSignRegisterValidator.enterpriseId}"
                                                            th:value="${certify.id}"
                                                            data-icon="mdi mdi-cellphone-android"
                                                            th:text="${certify.registerEnterpriseName}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="account">业务账号<span class="text-danger">*</span>&nbsp;
                                                    <span class="text-danger" th:if="${#fields.hasErrors('account')}"
                                                          th:errors="*{account}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input id="account" type="text" class="form-control"
                                                       th:field="*{account}"
                                                       required="" data-parsley-length="[2,32]" autocomplete="off"
                                                       placeholder="业务账号" readonly>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="sign">报备签名<span class="text-danger">*</span>&nbsp;
                                                    <span class="text-danger" th:if="${#fields.hasErrors('sign')}"
                                                          th:errors="*{sign}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input id="sign" type="text" class="form-control" th:field="*{sign}"
                                                       data-parsley-length="[2,64]" required="" autocomplete="off"
                                                       placeholder="报备签名">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>签名扩展号<span class="text-danger">*</span>
                                                    <span class="text-danger"
                                                          th:if="${#fields.hasErrors('signExtendNumber')}"
                                                          th:errors="*{signExtendNumber}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input id="signExtendNumber" type="text" class="form-control"
                                                       th:field="*{signExtendNumber}"
                                                       data-parsley-length="[4,4]" required="" autocomplete="off"
                                                       placeholder="签名扩展号"
                                                       th:attr="readonly=${op == 'edit'?'true':'false'}">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="extendData">签名自定义扩展号<span class="text-danger">*</span>
                                                    <span class="text-danger" th:if="${#fields.hasErrors('extendData')}"
                                                          th:errors="*{extendData}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <select id="extendData" name="extendData" class="multi-select"
                                                        multiple="" required>
                                                    <option th:each="number:${signExtendNumbers}" th:value="${number}"
                                                            th:attr="selected=${number == thisExtendNumberMap.get(number)}">
                                                        [[${number}]]
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="serviceType">服务类型<span class="text-danger">*</span>
                                                    <span class="text-danger"
                                                          th:if="${#fields.hasErrors('serviceType')}"
                                                          th:errors="*{serviceType}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <select id="serviceType" name="serviceType" class="multi-select"
                                                        multiple="" required>
                                                    <option value="账号注册" th:attr="selected=${'账号注册' == thisServiceTypeMap.get('账号注册')}">账号注册</option>
                                                    <option value="账号登录" th:attr="selected=${'账号登录' == thisServiceTypeMap.get('账号登录')}">账号登录</option>
                                                    <option value="广告促销" th:attr="selected=${'广告促销' == thisServiceTypeMap.get('广告促销')}">广告促销</option>
                                                    <option value="通知提醒" th:attr="selected=${'通知提醒' == thisServiceTypeMap.get('通知提醒')}">通知提醒</option>
                                                    <option value="公共服务" th:attr="selected=${'公共服务' == thisServiceTypeMap.get('公共服务')}">公共服务</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="appName">APP名称<span class="text-danger">*</span>
                                                    <span class="text-danger" th:if="${#fields.hasErrors('appName')}"
                                                          th:errors="*{appName}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input id="appName" type="text" class="form-control"
                                                       th:field="*{appName}"
                                                       data-parsley-length="[2,64]" autocomplete="off" required=""
                                                       placeholder="APP名称">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="mainApplication">具体用途<span class="text-danger">*</span>
                                                    <span class="text-danger"
                                                          th:if="${#fields.hasErrors('mainApplication')}"
                                                          th:errors="*{mainApplication}"
                                                          style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input id="mainApplication" type="text" class="form-control"
                                                       th:field="*{mainApplication}"
                                                       data-parsley-length="[2,24]" autocomplete="off" required=""
                                                       placeholder="具体用途">
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <input type="hidden" th:field="*{extendType}">
                                                <input type="hidden" th:field="*{registerStatus}">
                                                <input type="hidden" th:field="*{createdTime}">
                                                <input type="hidden" th:field="*{createdBy}">
                                                <input type="hidden" th:field="*{id}">
                                                <button sec:authorize-url="/sign/register/save/*" type="submit"
                                                        class="btn btn-teal waves-effect waves-light">提交
                                                </button>
                                                <a sec:authorize-url="/sign/register/list"
                                                   th:href="@{/sign/register/list}" style="margin-left:20px"
                                                   class="btn btn-default waves-effect waves-light">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

    //advance multiselect start
    $('#extendData').multiSelect({
<!--        selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",-->
<!--        selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",-->
        afterInit: function (ms) {
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
        },
        afterSelect: function () {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function () {
            this.qs1.cache();
            this.qs2.cache();
        }
    });

     //advance multiselect start
    $('#serviceType').multiSelect({
<!--        selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",-->
<!--        selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",-->
        afterInit: function (ms) {
            var that = this,
                $selectableSearch = that.$selectableUl.prev(),
                $selectionSearch = that.$selectionUl.prev(),
                selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

            that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

            that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
        },
        afterSelect: function () {
            this.qs1.cache();
            this.qs2.cache();
        },
        afterDeselect: function () {
            this.qs1.cache();
            this.qs2.cache();
        }
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');



</script>
</body>
</html>