<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container" style="margin-top:20px">


        <form id="query_form" th:action="@{/sign/register/file/record/page}"
              method="post">

            <input type="hidden" name="currentPage" id="currentPage"
                   th:value="${pageParams.currentPage}">
            <input type="hidden" name="pageSize" id="pageSize"
                   th:value="${pageParams.pageSize}">

        </form>

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">签名报备导出记录</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th>导出报备订单号</th>
                                    <th>运营商</th>
                                    <th>报备条数</th>
                                    <th>报备状态</th>
                                    <th>操作人</th>
                                    <th>操作时间</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.registerOrderNo}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <mpm:tag identity="carrier" show-type="button" key="code"
                                                 th:value="${info.carrier}"
                                                 class="CMCC,btn btn-teal btn-rounded btn-sm waves-effect waves-light;UNIC,btn btn-info btn-rounded btn-sm waves-effect waves-light;TELC,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTL,btn btn-brown btn-rounded btn-sm waves-effect waves-light;"/>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.registerNumber}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a th:if="${info.registerStatus == '2'}"
                                           class="btn btn-info btn-rounded  waves-effect waves-light btn-sm">报备中</a>
                                        <a th:if="${info.registerStatus == '3'}"
                                           class="btn btn-teal btn-rounded  waves-effect waves-light btn-sm">已报备</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.createdBy}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.createdTime}]]
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>

<script th:remove="${#strings.isEmpty(error)}?none:all">

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>