<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">首页 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            首页
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px">

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            营收总额（2022年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                                <span data-d-group="4" data-a-sign="¥ "
                                                                style="width:100px;text-align:left"
                                                                class="autonumber">2045922</span>
                            </span></h2>
                        <p class="m-0">截止日期: 2022-05-11</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-account-convert widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            毛利总额（2022年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                             <span data-d-group="4" data-a-sign="¥ "
                                   style="width:100px;text-align:left"
                                   class="autonumber">1492000</span>
                            </span></h2>
                        <p class="m-0">截止日期: 2022-05-11</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-layers widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            客户发送总量（2022年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                            <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                  style="width:90px;text-align:left"
                                  class="autonumber">459322200</span>
                            </span></h2>
                        <p class="m-0">截止日期: 2022-05-11</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-danger">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            欠费总额（后付费）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                             <span data-d-group="4" data-a-sign="¥ "
                                   style="width:100px;text-align:left"
                                   class="autonumber">145922</span>
                            </span></h2>
                        <p class="m-0">截止日期: 2022-05-11</p>
                    </div>
                </div>
            </div><!-- end col -->


        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div id="main1" style="height: 400px;"></div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-12">
                <div class="card-box">
                    <div id="main2" style="height: 400px;"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script type="text/javascript">

    var dom3 = document.getElementById("main1");
    var myChart3 = echarts.init(dom3);
    var app = {};
    option3 = null;
    option3 = {
        title: {
            text: '近30天运营数据'
        },
        color: ['#71D5DE', '#59A9E7','#F4979E', '#7DDCB1'],
        legend: {
          data: ['发送量（W）', '营收（元）', '成本（元）','毛利（元）']
        },
        tooltip: {
            trigger: 'axis'
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                axisLabel: {
                  interval: 'auto',
                  rotate: 30
                 },
                data: ['2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12','2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-23','2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29','2020-11-30']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
         series: [
            {
              name: '发送量（W）',
              type: 'line',
              stack: 'Total',
              data: [426, 459, 190, 264, 287, 707, 856, 822, 487, 188, 460, 423,126, 459, 490, 264, 287, 707, 1756, 1822, 487, 488, 460, 423,426, 459, 490, 264, 287, 707],
            },
             {
                 name: '营收（元）',
                 type: 'line',
                 stack: 'Total',
                 data: [26, 59, 90, 264, 287, 707, 1756, 1822, 487, 188, 60, 23,26, 59, 90, 264, 287, 707, 1756, 1822, 487, 188, 60, 23,26, 59, 90, 264, 287, 707],
             },
             {
                 name: '成本（元）',
                 type: 'line',
                 stack: 'Total',
                 data: [13, 29, 40, 164, 187, 207, 756, 822, 287, 88, 20, 13,6, 9,30, 64, 87, 207, 656,622, 187, 88, 20, 10,6, 25, 36, 64, 87, 77],
             },
             {
                 name: '毛利（元）',
                 type: 'line',
                 stack: 'Total',
                 data: [6, 9, 9, 64, 87, 77, 56, 22, 87, 88, 6, 3,6, 9, 9, 64, 87, 77, 56, 182, 87, 18, 6, 3,6, 9, 9, 64, 27, 70],
             },
        ]
    };
    ;
    if (option3 && typeof option3 === "object") {
        myChart3.setOption(option3, true);
    }

    var dom4 = document.getElementById("main2");
    var myChart4 = echarts.init(dom4);
    var app = {};
    option4 = null;
    option4 = {
        title: {
            text: '近12月运营数据'
        },
        color: ['#71D5DE', '#59A9E7','#F4979E', '#7DDCB1'],
        legend: {
            data: ['发送量（W）', '营收（元）', '成本（元）','毛利（元）']
        },
        tooltip: {
            trigger: 'axis'
        },
        toolbox: {
            show: true,
            feature: {
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                axisLabel: {
                    interval: 'auto',
                    rotate: 30
                },
                data: ['2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12','2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-23','2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29','2020-11-30']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
        series: [
            {
                name: '发送量（W）',
                type: 'line',
                stack: 'Total',
                data: [426, 459, 190, 264, 287, 707, 856, 822, 487, 188, 460, 423,126, 459, 490, 264, 287, 707, 1756, 1822, 487, 488, 460, 423,426, 459, 490, 264, 287, 707],
            },
            {
                name: '营收（元）',
                type: 'line',
                stack: 'Total',
                data: [26, 59, 90, 264, 287, 707, 1756, 1822, 487, 188, 60, 23,26, 59, 90, 264, 287, 707, 1756, 1822, 487, 188, 60, 23,26, 59, 90, 264, 287, 707],
            },
            {
                name: '成本（元）',
                type: 'line',
                stack: 'Total',
                data: [13, 29, 40, 164, 187, 207, 756, 822, 287, 88, 20, 13,6, 9,30, 64, 87, 207, 656,622, 187, 88, 20, 10,6, 25, 36, 64, 87, 77],
            },
            {
                name: '毛利（元）',
                type: 'line',
                stack: 'Total',
                data: [6, 9, 9, 64, 87, 77, 56, 22, 87, 88, 6, 3,6, 9, 9, 64, 87, 77, 56, 182, 87, 18, 6, 3,6, 9, 9, 64, 27, 70],
            },
        ]
    };
    if (option4 && typeof option4 === "object") {
        myChart4.setOption(option4, true);
    }

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>