<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">首页 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            首页
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px">

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">
                            营收总额（[[${year}]]年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                                <span data-d-group="4" data-a-sign="¥ "
                                                                style="width:100px;text-align:left"
                                                                class="autonumber">[[${countMap.get('TOTAL_SUM')}]]</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-account-convert widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            利润总额（[[${year}]]年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                             <span data-d-group="4" data-a-sign="¥ "
                                   style="width:100px;text-align:left"
                                   class="autonumber">[[${countMap.get('PROFIT_SUM')}]]</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-layers widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            发送总量(W)（[[${year}]]年）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                            [[${countMap.get('MESSAGE_SEND_TOTAL')}]]
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-danger">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">
                            欠费总额（后付费）</p>
                        <h2 class="text-white">
                            <span data-plugin="counterup">
                             <span data-d-group="4" data-a-sign="¥ "
                                   style="width:100px;text-align:left"
                                   class="autonumber">[[${countMap.get('ACCOUNT_LATER_USABLE_SUM')}]]</span>
                            </span></h2>
                        <p class="m-0">截止日期: [[${endDate}]]</p>
                    </div>
                </div>
            </div><!-- end col -->


        </div>
        <!-- end row -->
        <div class="row text-center" >

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">客户总数</p>
                        <h2 class="text-teal"><i class="mdi mdi-weather-partlycloudy"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('TOTAL_ACCOUNT')}]]</span></h2>

                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">新增客户（[[${year}]]年）</p>
                        <h2 class="text-custom"><i class="mdi mdi-weather-snowy"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('TOTAL_NEWLY_ACCOUNT')}]]</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">通道总数</p>
                        <h2 class="text-brown"><i class="mdi mdi-weather-rainy"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('TOTAL_CHANNEL')}]]</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">新增通道（[[${year}]]年）</p>
                        <h2 class="text-warning"><i class="mdi mdi-weather-night"  style="padding-right: 5px"></i><span data-plugin="counterup">[[${countMap.get('TOTAL_NEWLY_CHANNEL')}]]</span> </h2>

                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->
        <div class="row">
            <!--<div class="col-lg-12">
                <div class="card-box">
                    <div id="main1" style="height: 400px;"></div>
                </div>
            </div>&lt;!&ndash; end col &ndash;&gt;-->
            <div class="col-lg-12">
                <div class="card-box">
                    <div id="main2" style="height: 400px;"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script type="text/javascript">

    $.ajax({
        url : '[[${#httpServletRequest.getContextPath()}]]/statistic/manager/month/ajax/'+'[[${month}]]',
        success : function(data) {
            articles = eval(data);
            var dom4 = document.getElementById("main2");
            var myChart4 = echarts.init(dom4);
            var app = {};
            option4 = null;
            option4 = {
                title: {
                    text: '近24月运营数据'
                },
                color: ['#71D5DE', '#59A9E7', '#F4979E'],
                legend: {
                    data: ['发送量（百万）', '营收（万元）', '净利润（万元）']
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        magicType: {                       //动态类型切换
                            show: true,
                            title: "切换",                   //各个类型的标题文本，可以分别配置。
                            type: ['line', 'bar'],          //启用的动态类型，包括'line'（切换为折线图）, 'bar'（切换为柱状图）, 'stack'（切换为堆叠模式）, 'tiled'（切换为平铺模式）
                        },
                        dataView: {show: true, readOnly: false},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                grid: {
                    top: '60px',
                    left: '24px',
                    right: '24px',
                    bottom: '24px',
                    containLabel: true
                },
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: {
                            interval: 'auto',
                            rotate: 30
                        },
                        data: articles.date
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '发送量（百万）',
                        type: 'line',
                        stack: 'Total',
                        data: articles.sendAmount
                    },
                    {
                        name: '营收（万元）',
                        type: 'line',
                        stack: 'Total',
                        data: articles.incomeAmount
                    },
                    {
                        name: '净利润（万元）',
                        type: 'line',
                        stack: 'Total',
                        data: articles.profitAmount
                    },
                ]
            };
            if (option4 && typeof option4 === "object") {
                myChart4.setOption(option4, true);
            }
        }
    });

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>