<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">CMPP模板维护</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            模板管理
                        </li>
                        <li class="active">
                            CMPP模板维护
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/template/save/{op}(op=${op})}"
                          th:object="${accountTemplateInfoValidator}"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <label>企业名称： <span style="color:#00acc1">[[${enterpriseBasicInfoValidator.enterpriseName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务账号： <span style="color:#00acc1">[[${accountBasicInfoValidator.accountId}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务类型：<span style="color:#00acc1">
                                                    <mpm:tag id="templateType" identity="businessType"
                                                             class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"
                                                             name="businessType" show-type="button" key="code"
                                                             th:value="${accountBasicInfoValidator.businessType}"
                                                             title="业务类型"/></span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务账号名称：<span style="color:#00acc1">[[${accountBasicInfoValidator.accountName}]]</span>
                                                </label>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label class="m-b-10">模板分类
                                                    <span class="text-danger">*</span>&nbsp;
                                                    <span class="text-danger"
                                                          th:if="${#fields.hasErrors('templateClassify')}"
                                                          th:errors="*{templateClassify}"></span></label>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="templateClassify" type="radio" value="3" required
                                                           th:checked="${accountTemplateInfoValidator.templateClassify eq '3'}"
                                                           onclick="changeRadio('3')"><label>签名模板</label>
                                                </div>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="templateClassify" type="radio" value="2" required
                                                           th:checked="${accountTemplateInfoValidator.templateClassify eq '2'}"
                                                           onclick="changeRadio('2')"><label>变量模板</label>
                                                </div>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="templateClassify" type="radio" value="1" required
                                                           th:checked="${accountTemplateInfoValidator.templateClassify eq '1'}"
                                                           onclick="changeRadio('1')"><label>固定模板</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="m-b-10">是否需要过滤审核词及敏感词
                                                    <span class="text-danger">*</span>&nbsp</label>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input id="FILTER" name="isFilter" type="radio" value="FILTER"
                                                           required
                                                           th:attr="disabled=${accountTemplateInfoValidator.templateClassify !='2'}"
                                                           th:checked="${accountTemplateInfoValidator.isFilter eq 'FILTER'}"><label>继续过滤</label>
                                                </div>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input id="NO_FILTER" name="isFilter" type="radio" value="NO_FILTER"
                                                           required
                                                           th:attr="disabled=${accountTemplateInfoValidator.templateClassify !='2'}"
                                                           th:checked="${accountTemplateInfoValidator.isFilter eq 'NO_FILTER'}"><label>不继续过滤</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group" id="content_title_1"
                                                 th:style="${accountTemplateInfoValidator.templateClassify eq '1'?'display:block':'display:none'}">
                                                <label>模板内容</label> <span style="margin-left:20px;color:#F5707A">固定模版：模版内容与发送内容完全一致，经过审核后，自动免除其他内容过滤。不支持多个</span>
                                            </div>
                                            <div class="col-md-12 form-group" id="content_title_2"
                                                 th:style="${accountTemplateInfoValidator.templateClassify eq '2'?'display:block':'display:none'}">
                                                <label>模板内容</label> <span style="margin-left:20px;color:#198AE2">变量模版：发送短信内容格式相对固定，发送格式有规律，对于有规律性文字，固定文字加${1}来表示，${1}表示规律文字中的变化部分,${}中数字最大10，无顺序要求，可重复。支持多个签名，请用 | 隔开</span>
                                            </div>
                                            <div class="col-md-12 form-group" id="content_title_3"
                                                 th:style="${accountTemplateInfoValidator.templateClassify eq '3'?'display:block':'display:none'}">
                                                <label>模板内容</label> <span style="margin-left:20px;color:#6B5FB6">签名模版：该模版只填写报备的签名，不涉及内容，签名格式【xxxx】。支持多个签名，请用 | 隔开</span>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" required th:field="*{templateContent}"
                                                          rows="12">[[${accountTemplateInfoValidator.templateContent}]]</textarea>
                                            </div>
                                            <div sec:authorize-url="/regular_expression" id="forbidden-title"
                                                 class="col-md-12 form-group" style="display:block">
                                                <label>模版示例</label> <span
                                                    style="margin-left:20px;color:#F5707A"></span>
                                            </div>
                                            <div class="col-md-12 form-group" style="display:none" id="example_1"
                                                 th:style="${accountTemplateInfoValidator.templateClassify eq '1'?'display:block':'display:none'}">
                                                【招商银行】尊敬的客户，为更好保障持卡人用卡权益，并逐步关闭部分账单日，建议您可拨打信用卡客服热线400-820-5555申请更改至新账单日。退订回#C
                                            </div>
                                            <div class="col-md-12 form-group" style="display:none" id="example_2"
                                                 th:style="${accountTemplateInfoValidator.templateClassify eq '2'?'display:block':'display:none'}">
                                                【光大银行】|【广发银行】尾号${1}客户，您的信用卡申请资格已到达，请于${2}小时内填写${3}过期作废！以银审为准，退订回T
                                            </div>
                                            <div class="col-md-12 form-group" style="display:block" id="example_3"
                                                 th:style="${accountTemplateInfoValidator.templateClassify eq '3'?'display:block':'display:none'}">
                                                【京东金融】|【众安贷】|【滴滴数科】|【恒易贷】|【小米分期】|【小赢卡贷】|【小米随星借】|【好分期】
                                            </div>
                                            <div id="check-tooltip-warning" class="col-md-12 form-group"
                                                 th:style="${illegal eq 'illegal'?'display:block':'display:none'}">
                                                <label>内容检测结果</label> <span id="warning-content"
                                                                            style="margin-left:20px;color:#F5707A">还有非法字符  *  </span>
                                            </div>
                                            <div class="col-md-12 text-center" style="margin-top:20px">
                                                <input type="hidden" th:field="*{templateId}">
                                                <input type="hidden" th:field="*{infoType}">
                                                <input type="hidden" th:field="*{enterpriseId}">
                                                <input type="hidden" th:field="*{businessAccount}">
                                                <input type="hidden" th:field="*{templateAgreementType}">
                                                <input type="hidden" th:field="*{templateType}">
                                                <input type="hidden" th:field="*{templateStatus}">
                                                <input type="hidden" th:field="*{createdTime}">
                                                <input type="hidden" th:field="*{createdBy}">
                                                <input type="hidden" th:field="*{templateFlag}">
                                                <button sec:authorize-url="/template/save/*" type="submit"
                                                        class="btn btn-teal waves-effect waves-light">提交
                                                </button>
<!--                                                <a sec:authorize-url="/template/check" style="margin-left:20px"-->
<!--                                                   id="check"-->
<!--                                                   class="btn btn-info waves-effect waves-light">内容检测-->
<!--                                                </a>-->
                                                <a th:href="@{/template/list/{protocol}(protocol=${accountTemplateInfoValidator.templateAgreementType})}"
                                                   style="margin-left:20px"
                                                   class="btn btn-default waves-effect waves-light">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div>
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

   function changeRadio(type){
       $('#content_title_1').css('display', 'none');
       $('#content_title_2').css('display', 'none');
       $('#content_title_3').css('display', 'none');
       $('#example_1').css('display', 'none');
       $('#example_2').css('display', 'none');
       $('#example_3').css('display', 'none');
       $('#content_title_'+type).css('display', 'block');
       $('#example_'+type).css('display', 'block');
       if("1"==type){
          $('#FILTER').removeAttr("disabled");
          $('#NO_FILTER').removeAttr("disabled");
          $('#FILTER').removeAttr("checked");
          $('#NO_FILTER').prop("checked", true);
          $('#FILTER').prop("disabled", true);
          $('#NO_FILTER').prop("disabled", true);
       }
        if("2"==type){
          $('#FILTER').removeAttr("disabled");
          $('#NO_FILTER').removeAttr("disabled");
          $('#NO_FILTER').prop("checked",true);
          $('#FILTER').prop("checked", false);
       }
        if("3"==type){
          $('#FILTER').removeAttr("disabled");
          $('#NO_FILTER').removeAttr("disabled");
          $('#NO_FILTER').removeAttr("checked");
          $('#FILTER').prop("checked", true);
          $('#FILTER').prop("disabled", true);
          $('#NO_FILTER').prop("disabled", true);
       }
   }

   var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
   $(document).ready(function() {

        $("#check").click(function () {
             $('#preloader').css('display', 'block');
             $.ajax({
                type:"POST",
                url: contextPath+"/template/check",
                contentType: "application/json", //必须这样写
                dataType:"json",
                data: JSON.stringify(GetJsonData()),
                success:function (data) {
                  if(!("undefined" ==typeof(data.system))){
                     $("#check-tooltip-warning").css('display','block');
                     $("#check-tooltip-success").css('display','none');
                     $("#warning-content").html("包含系统黑词："+data.system);
                     $('#preloader').css('display', 'none');
                     return;
                  }

                  if(!("undefined" ==typeof(data.account))){
                     $("#check-tooltip-warning").css('display','block');
                     $("#check-tooltip-success").css('display','none');
                     $("#warning-content").html("包含账号黑词："+data.account);
                     $('#preloader').css('display', 'none');
                     return;
                  }

                  if(("undefined" ==typeof(data.system))){
                    $("#check-tooltip-warning").css('display','none');
                    $("#check-tooltip-success").css('display','block');
                  }
                  $('#preloader').css('display', 'none');
                }

             })
　　     })

        //json格式的数据源
        function GetJsonData() {
              // 使用 jquery 中的 ajax 发请求
            var account = $("#businessAccount").val();
            var templateContent = $("#templateContent").val();
          var json = {
              "account": account,
              "templateContent": templateContent
          };
          return json;
        }
   });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>