<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                        <h4 class="page-title">CMPP模板维护</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            模板管理
                        </li>
                        <li class="active">
                            CMPP模板维护
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/template/save/{op}(op=${op})}"
                          th:object="${accountTemplateInfoValidator}"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <label>企业名称： <span style="color:#00acc1">[[${enterpriseBasicInfoValidator.enterpriseName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务账号： <span style="color:#00acc1">[[${accountBasicInfoValidator.accountId}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务账号名称：<span style="color:#00acc1">[[${accountBasicInfoValidator.accountName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务类型：<span style="color:#00acc1">
                                                    <mpm:tag id="templateType" identity="businessType"
                                                             class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"
                                                             name="businessType" show-type="button" key="code"
                                                             th:value="${accountBasicInfoValidator.businessType}" title="业务类型"/></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="m-b-10">模板分类<span class="text-danger">*</span>&nbsp;
                                                    <span class="text-danger" th:if="${#fields.hasErrors('templateClassify')}"
                                                          th:errors="*{templateClassify}"></span></label><br>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="templateClassify" type="radio" value="1" required th:checked="${accountTemplateInfoValidator.templateClassify eq '1'}"><label>精准模板</label>
                                                </div>
                                                <div style="margin-top:0px" class="radio radio-info checkbox-inline">
                                                    <input name="templateClassify" type="radio" value="2" required th:checked="${accountTemplateInfoValidator.templateClassify eq '2'}"><label>模糊模板</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label>模板内容</label> <span style="margin-left:20px;color:#f5707a"> 如果内容包括多个模板内容，请用 " | " 隔开</span>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" required th:field="*{templateContent}"
                                                          rows="15">[[${accountTemplateInfoValidator.templateContent}]]</textarea>
                                            </div>
                                            <div class="col-md-12 text-center" style="margin-top:20px">
                                                <input type="hidden" th:field="*{templateId}">
                                                <input type="hidden" th:field="*{infoType}">
                                                <input type="hidden" th:field="*{enterpriseId}">
                                                <input type="hidden" th:field="*{businessAccount}">
                                                <input type="hidden" th:field="*{templateAgreementType}">
                                                <input type="hidden" th:field="*{templateType}">
                                                <input type="hidden" th:field="*{templateStatus}">
                                                <input type="hidden" th:field="*{createdTime}">
                                                <input type="hidden" th:field="*{createdBy}">
                                                <input type="hidden" th:field="*{templateFlag}">
                                                <button sec:authorize-url="/template/save/*" type="submit"
                                                        class="btn btn-teal waves-effect waves-light">提交
                                                </button>
                                                <a th:href="@{/template/list/{protocol}(protocol=${accountTemplateInfoValidator.templateAgreementType})}"
                                                   style="margin-left:20px"
                                                   class="btn btn-default waves-effect waves-light">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div>
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>