<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/mmTemplate.css}" rel="stylesheet"/>

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                        <h4 class="page-title">WEB模板审核</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            模板管理
                        </li>
                        <li class="active">
                            WEB模板审核
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/template/web/save}"
                          th:object="${accountTemplateInfoValidator}"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>企业名称： <span style="color:#00acc1">[[${enterpriseBasicInfoValidator.enterpriseName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>信息分类： <span style="color:#00acc1"><mpm:tag identity="infoType" show-type="label" key="code"th:value="${accountTemplateInfoValidator.infoType}"/></span>
                                                </label>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label>业务类型：<span style="color:#00acc1">
                                                    <mpm:tag identity="businessType" show-type="button"
                                                             key="code" th:value="${accountTemplateInfoValidator.templateType}"
                                                             class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>签名：<span style="color:#00acc1">[[${accountTemplateInfoValidator.signName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label>模板内容</label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" readonly
                                                          rows="8">[[${accountTemplateInfoValidator.templateContent}]]</textarea>
                                            </div>


                                            <div class="col-md-12 form-group" th:if="${accountTemplateInfoValidator.templateType eq 'MULTI_SMS' or accountTemplateInfoValidator.templateType eq 'MMS'}">
                                                <label>
                                                    帧列表:&nbsp;文件大小总计：[[${allSize}]]KB
                                                </label>
                                                <div class="item_content" >
                                                    <ul style="float: left;padding-left: 10px">
                                                        <li th:each="para:${params}">
                                                            <div class="item filer-item">
                                                                <div>
                                                                    <div th:if="${para.resType eq 'TXT'}" class="item-span-img">
                                                                        <div class="jFiler-item-thumb-image">
                                                                            <span class="jFiler-icon-file f-audio"> <i class="ion-clipboard" style="font-size:30px"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div th:if="${para.resType eq 'PIC'}" class="itemImg" >
                                                                        <img th:src="${@resourceProperties.resourceUrl+para.resUrl}" draggable="false" onerror="javascript:this.src='./static/imgs/file-broken.png';this.onerror = null">
                                                                    </div>
                                                                    <div th:if="${para.resType eq 'AUDIO'}" class="item-span-img">
                                                                        <div class="jFiler-item-thumb-image">
                                                                            <span class="jFiler-icon-file f-audio"><i class="icon-jfi-file-audio"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div th:if="${para.resType eq 'VIDEO'}" class="item-span-img">
                                                                        <div class="jFiler-item-thumb-image">
                                                                            <span class="jFiler-icon-file f-video"><i class="icon-jfi-file-video"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="info">
                                                                        <div style="float:left;width: 133px">

                                                                            第<b id="frame-index" style="color: red"></b><span th:id="${'span-staytime-'+para.index}">帧停留：[[${para.stayTimes}]]秒</span>
                                                                            <br>
                                                                            <span th:id="${'span-size-'+para.index}">文件大小：[[${para.getResSize()}]]KB</span>
                                                                            <br>
                                                                            <a th:id="${'span_txt_id-'+para.index}" data-toggle="tooltip" data-placement="bottom"
                                                                               th:data-original-title="'文本内容：'+${para.getFrameTxt()}"  >文本字数：[[${para.getFrameTxt().length()}]]
                                                                            </a>
                                                                        </div>
                                                                        <div style="float:left;">
                                                                            <br><br>
                                                                            <a class="on-default edit-row"
                                                                               href="javascript:void(0)"
                                                                               th:onclick="confirmSend([[${@resourceProperties.resourceUrl+para.resUrl}]], [[${para.resType}]])"
                                                                               data-toggle="modal" data-target="#confirm-send"
                                                                               th:if="${para.resType ne 'TXT'}"
                                                                               style="width:25px ;padding-right: 5px;color: #29b6f6;"
                                                                               title="预览">
                                                                                <i style="font-size: 18px" class="mdi mdi-file-image" th:if="${para.resType eq 'PIC'}"></i>
                                                                                <i style="font-size: 18px" class="mdi mdi-message-video" th:if="${para.resType eq 'VIDEO'}"></i>
                                                                                <i style="font-size: 18px" class="mdi mdi-audiobook" th:if="${para.resType eq 'AUDIO'}"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-color panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">审核记录</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                                <thead>
                                                <tr>
                                                    <th>操作人</th>
                                                    <th>操作类型</th>
                                                    <th>意见</th>
                                                    <th>操作时间</th>
                                                </tr>
                                                <thead>
                                                  <tr th:each="approve:${checkRecord}">
                                                      <td style="vertical-align: middle;line-height: 26px;">
                                                          [[${approve.userName}]]
                                                      </td>
                                                      <td  style="vertical-align: middle;line-height: 26px;">
                                                          <a th:if="${4 == approve.approveStatus}" class="btn btn-teal btn-rounded btn-sm waves-effect waves-light">
                                                              新建
                                                          </a>
                                                          <mpm:tag th:if="${4 != approve.approveStatus}" id="templateStatus" identity="checkStatus"
                                                                   class="2,btn btn-success btn-rounded btn-sm waves-effect waves-light;3,btn btn-warning btn-rounded btn-sm waves-effect waves-light;1,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"
                                                                   show-type="button" key="code"
                                                                   th:value="${approve.approveStatus}" title="审核状态"/>
                                                      </td>
                                                      <td style="vertical-align: middle;line-height: 26px;">
                                                          [[${approve.approveAdvice}]]
                                                      </td>
                                                      <td style="vertical-align: middle;line-height: 26px;">
                                                          [[${approve.submitTimeStr}]]
                                                      </td>
                                                  </tr>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-10">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label>审核状态：<span class="text-danger">*</span>&nbsp;</label>
                                                <select data-style="btn-default" name="checkStatus" data-live-search="true" id="checkStatus" onchange="changeType(this.value)" class="selectpicker" required="true" tabindex="-98">
                                                    <option value="" data-icon="mdi mdi-buffer">--请选择审核状态--</option>
                                                    <option data-icon="mdi mdi-buffer" value="1" th:selected="${accountTemplateInfoValidator.checkStatus eq '1'}">拒绝</option>
                                                    <option data-icon="mdi mdi-buffer" value="2" th:selected="${accountTemplateInfoValidator.checkStatus eq '2'}">审核通过</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label>审核意见：<span class="text-danger">*</span>&nbsp
                                                </label>
                                                <textarea class="form-control" th:field="*{checkOpinions}" id="checkOpinions" required
                                                          rows="3"></textarea>
                                            </div>
                                            <div class="col-md-12 text-center" style="margin-top:20px">
                                                <input type="hidden" th:field="*{templateId}">
                                                <input type="hidden" th:field="*{templateAgreementType}">
                                                <button sec:authorize-url="/template/web/save" type="submit"
                                                        class="btn btn-teal waves-effect waves-light">提交
                                                </button>
                                                <a th:href="@{/template/web/list}"
                                                   style="margin-left:20px"
                                                   class="btn btn-default waves-effect waves-light">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<!-- start confirm delete modal  -->
<div id="confirm-send" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
     aria-hidden="true" style="display: none;margin: 60px">
    <div class="modal-dialog" style="text-align: center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <img id="img_id" src="" style="display: none">
                <video id="video_id" controls style="display: none"></video>
                <audio id="audio_id" controls style="display: none"></audio>
            </div>

        </div>
    </div>
</div>
<!-- end confirm delete modal  -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script th:remove="${#strings.isEmpty(error)}?none:all">

    function confirmSend(url,type) {
        if("VIDEO"==type){
            $("#video_id").attr("src", url);
            $("#video_id").show();
            $("#audio_id").hide();
            $("#img_id").hide();
        }
        if("AUDIO"==type){
            $("#audio_id").attr("src", url);
            $("#audio_id").show();
            $("#video_id").hide();
            $("#img_id").hide();
        }
        if("PIC"==type){
            $("#img_id").attr("src", url);
            $("#img_id").show();
            $("#video_id").hide();
            $("#audio_id").hide();
        }

    }

    $(function () {
        $(".item_content .item").each(function (i) {
            this.init = function () { // 初始化
                this.box = $(this).parent();
                $(this).find("#frame-index").html(i+1);
            },

                this.init();
        });
    });

    function changeType(value) {

        if (2 == value ) {
            document.getElementById("checkOpinions").innerText = "审核通过";
        }else{
            document.getElementById("checkOpinions").innerText = "";
        }

    }

</script>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>