<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" style="margin-top:10px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form"
                          method="post" data-parsley-validate="" th:object="${accountTemplateInfoValidator}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <label>企业名称： <span style="color:#00acc1">[[${enterpriseBasicInfoValidator.enterpriseName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务账号： <span style="color:#00acc1">[[${accountBasicInfoValidator.accountId}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务账号名称：<span style="color:#00acc1">[[${accountBasicInfoValidator.accountName}]]</span>
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label>业务类型：<span style="color:#00acc1">
                                                    <mpm:tag id="templateType" identity="businessType"
                                                             class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"
                                                             name="businessType" show-type="button" key="code"
                                                             th:value="${accountBasicInfoValidator.businessType}" title="业务类型"/></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label>模板内容</label> <span style="margin-left:20px;color:#f5707a"> 如果内容包括多个模板内容，请用 " | " 隔开</span>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <textarea class="form-control" required th:field="*{templateContent}"
                                                          rows="15">[[${accountTemplateInfoValidator.templateContent}]]</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div>
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>