<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form  id="submit_form"
                       method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-info" style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">通道信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label>接入码号&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="接入码号">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道ID<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="通道ID">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>发送运营商<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/><br>
                                                    <mpm:tag id="carrier" identity="carrier" name="carrier" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="运营商" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道名称<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="通道名称">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道协议类型<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="channelProtocolType" identity="channelProtocolType" name="channelProtocolType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道协议类型" />
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道供应商<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="channelSupplier" identity="channelSupplier"  show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道供应商" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label>业务类型<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="businessType" identity="businessType" name="businessType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="业务类型" />
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道对接信息<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="channelConnect" identity="channelConnect" name="channelConnect" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道对接信息" />
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>发送省份<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="全国">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道价格<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="10000">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道商务费<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="0">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>通道状态<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="channelStatus" identity="channelStatus" name="channelStatus" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道状态" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label class="m-b-20">通道商务费是否计入行业账号下发量</label>
                                                    <br/>
                                                    <div class="radio radio-info radio-inline">
                                                        <input type="radio" id="inlineRadio2" name="businessPrrice" value="0">
                                                        <label for="inlineRadio2"> 否 </label>
                                                    </div>
                                                    <div class="radio radio-info radio-inline">
                                                        <input type="radio" id="inlineRadio1" name="businessPrrice" value="1" required>
                                                        <label for="inlineRadio1"> 是 </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 m-b-10">
                                                    <label>通道简介<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="通道简介">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    <label>通道内容限制<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <textarea class="form-control" rows="2"  placeholder="输入审核意见" data-parsley-length="[1,1000]" autocomplete="off"></textarea>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <div class="text-center" style="margin-bottom:20px">
                        <a type="button" class="btn btn-teal waves-effect waves-light">提交</a>
                        <a class="btn btn-default waves-effect waves-light" style="margin-left:10px">查看明细</a>
                    </div>
                </form>
                <!-- end form -->

            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <th:block th:insert="fragments/common_fragments :: common_error"/>

</div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>