<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content" style="margin-top: 0px;background-color: #ffffff;height: 1240px">
    <div class="container" style="padding-top: 30px">

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-lg-6" style="margin-top:10px;">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            通道基础信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 1048px">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>码号ID<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="10691111" class="form-control" autocomplete="off"
                                                       readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>运营商<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/><br>
                                                <mpm:tag identity="carrier" value="CMCC,UNICOM,TELC" show-type="checkbox"  key="code" class="form-control" readonly/>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道ID<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="1000010" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道名称<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" value="全国移动普通短信通道" class="form-control" readonly>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>实际终端接收长码号<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="10692046" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道协议类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag identity="channelProtocolType" value="CMPP" show-type="label"  key="code" class="form-control" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>业务类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" class="form-control"/>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道对接信息<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag identity="channelConnect" value="002" show-type="label"  key="code" class="form-control"/>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>发送省份<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" value="全国" class="form-control">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道状态<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag  identity="channelStatus" value="001" show-type="label"  key="code" class="form-control" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道价格<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" value="0.002" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>商务费<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" value="0.003" class="form-control" readonly>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-20" style="padding-left: 10px;">
                                                <label class="m-b-20">是否计入行业账号下</label>
                                                <br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio2" name="businessPrrice" value="0" checked>
                                                    <label for="inlineRadio2"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio1" name="businessPrrice" value="1" >
                                                    <label for="inlineRadio1"> 是 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="margin-top:10px">
                <div class="panel panel-color panel-brown">
                    <div class="panel-heading" style="display:block">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            通道接口信息
                        </h3>
                    </div>
                    <div class="panel-body" style="display:block">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>IP地址<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control"value="47.94.193.152" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>端口</label>
                                                <input type="text"  class="form-control" value="7890" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>通道账号<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="hy00582" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>通道登录名称<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control" value="hy00582">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>通道登录密码<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control"  >
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>链接数<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control" value="1000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>报告标识<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>计费类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>计费编号<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="100020" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大重新发送次数<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大发送速率<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大运营商速率<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大等待运营商速率<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>版本<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="1.0.0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>协议<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="http" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>接收地址<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text"  class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>接收速度<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>屏蔽省份<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>RE正则表达式<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10" style="padding-left: 10px;">
                                                <label class="m-b-20">黑名单</label><br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio3" name="black" value="0" checked>
                                                    <label for="inlineRadio3"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio4" name="black" value="1">
                                                    <label for="inlineRadio4"> 是 </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 m-b-10" style="padding-left: 10px;">
                                                <label class="m-b-20">是否支持上行</label><br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio5" name="up" value="0" checked>
                                                    <label for="inlineRadio5"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio6" name="up" value="1">
                                                    <label for="inlineRadio6"> 是 </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 m-b-10" style="padding-left: 10px;">
                                                <label class="m-b-20">是否支持携号转网</label><br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio7" name="transfer" value="0" checked>
                                                    <label for="inlineRadio7"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio8" name="transfer" value="1">
                                                    <label for="inlineRadio8"> 是 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>单号码流控(条/分钟)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>单号码流控(条/小时)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>单号码流控(条/天)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次(条/分钟)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次(条/小时)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次(条/天)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次(条/月)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" value="0" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>发送时间限制(开始)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input class="form-control" id="single-input" value="2021-11-05" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>发送时间限制(结束)</label>
                                                <input type="text" value="2022-11-05" class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>签名规则<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" readonly>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>

<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>