<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row  页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-purple"
                             style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">通道扩展参数配置</h3>
                            </div>
                            <div style="margin-top:20px;" id="help"
                                 class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                                <i class="mdi mdi-help-circle-outline"></i>
                                <strong>操作提示：</strong> 设置的参数，在 "通道扩展字短" 字典中进行设置
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div th:each="dict:${channelExtendFields}" class="col-sm-3 m-b-10">
                                                    <label>[[${dict.fieldName}]](key:[[${dict.fieldCode}]])</label>
                                                    <input type="text" th:name="${dict.id}"
                                                           th:placeholder="${dict.fieldName}"
                                                           class="form-control" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" style="margin-bottom:20px">
                                        <a type="button" class="btn btn-teal waves-effect waves-light">提交</a>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </div>
                </form>
                <!-- end form -->
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>