<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content" style="margin-top: 0px;background-color: #ffffff;height: 1240px">
    <div class="container" style="padding-top: 30px">

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">客户使用记录</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                    <tr>
                                        <th>账号</th>
                                        <th>企业名称</th>
                                        <th>企业签名</th>
                                        <th>内容类型</th>
                                        <th>发送量（W）</th>
                                        <th>状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>hy10058</td>
                                        <td><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td>【星语互联科技】</td>
                                        <td><mpm:tag identity="contentType" value="NOTICE" show-type="label"  key="code" /></td>
                                        <td>1000</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">正常</a></td>
                                    </tr>
                                    <tr>
                                        <td>hy10058</td>
                                        <td><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td>【星语互联科技】</td>
                                        <td><mpm:tag identity="contentType" value="REAL_ESTATE" show-type="label"  key="code" /></td>
                                        <td>1000</td>
                                        <td><a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">停用</a></td>
                                    </tr>
                                    <tr>
                                        <td>hy10058</td>
                                        <td><span style="color:#26A69A">（<mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" />）</span>北京星语互联科技有限公司</td>
                                        <td>【星语互联科技】</td>
                                        <td><mpm:tag identity="contentType" value="CREDIT_CARD" show-type="label"  key="code" /></td>
                                        <td>1000</td>
                                        <td><a class="btn btn-inverse btn-rounded btn-sm waves-effect waves-light">暂停</a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>

                </div>

            </div>

        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>

<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>