<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <!-- Tooltipster css -->
    <link rel="stylesheet" th:href="@{/static/plugins/tooltipster/tooltipster.bundle.min.css}">
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 0px">
    <div class="container">

        <!-- start row  页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="property-card property-horizontal" style="margin-top:10px">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content"
                                 style="height:305px">
                                <div class="listingInfo">
                                    <div class="">
                                        <h5 style="padding-left:10px">通道基本信息</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <p style="font-size:12px">通道ID：[[${channelBasicInfoValidator.channelId}]]</p>
                                        <p style="font-size:12px">抗诉率：<span
                                                th:if="${not #strings.isEmpty(channelBasicInfoValidator.maxComplaintRate)}">[[${channelBasicInfoValidator.maxComplaintRate}]]/百万</span>
                                        </p>
                                        <p style="font-size:12px">签名方式：
                                            <mpm:tag identity="signType" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.signType}"/>
                                        </p>
                                        <p style="font-size:12px">是否支持携号转网：
                                            <mpm:tag identity="isOrNo" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.transferEnable}"/>
                                        </p>
                                        <p style="font-size:12px">计价方式：
                                            <mpm:tag identity="chargeType" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.priceStyle}"/>
                                        </p>
                                        <p style="font-size:12px">通道对接销售：[[${realName}]]</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p style="font-size:12px">通道名称：[[${channelBasicInfoValidator.channelName}]]</p>
                                        <p style="font-size:12px">接入省份：
                                            <mpm:tag identity="provices" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.accessProvince}"/>
                                        </p>
                                        <p style="font-size:12px">有无报告：
                                            <mpm:tag identity="yesOrNo" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.reportEnable}"/>
                                        </p>
                                        <p style="font-size:12px">携号转网方式 ：
                                            <mpm:tag identity="transferType" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.transferType}"/>
                                        </p>
                                        <p style="font-size:12px">通道资费(元/条)：
                                            <span th:if="${not #strings.isEmpty(channelBasicInfoValidator.channelPrice)}">¥ [[${channelBasicInfoValidator.channelPrice}]]</span>
                                            <i th:if="${channelBasicInfoValidator.priceStyle eq 'AREA_PRICE'}"
                                               data-toggle="tooltip"
                                               data-placement="right"
                                               th:id="${'channelPrice'+channelBasicInfoValidator.channelId}"
                                               th:onmouseover="channelPrice([[${channelBasicInfoValidator.channelId}]])"
                                               class="mdi mdi-comment-processing"
                                               style="margin-left:5px"></i>
                                        </p>
                                        <p style="font-size:12px">通道运行状态：
                                            <mpm:tag identity="channelLinkStatus" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.channelRunStatus}"/>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p style="font-size:12px">发送号码范围：
                                            <mpm:tag identity="carrier" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.carrier}"/>
                                        </p>
                                        <p style="font-size:12px">通道供应商：
                                            <mpm:tag identity="channelSupplier" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.channelProvder}"/>
                                        </p>
                                        <p style="font-size:12px">有无上行：
                                            <mpm:tag identity="yesOrNo" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.upMessageEnable}"/>
                                        </p>
                                        <p style="font-size:12px"> 通道区域范围：
                                            <mpm:tag identity="businessAreaType" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.businessAreaType}"/>
                                            <i th:if="${channelBasicInfoValidator.supportAreaCodes ne 'ALL'}"
                                               data-toggle="tooltip" data-placement="right" title=""
                                               data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                               th:id="${channelBasicInfoValidator.channelId}"
                                               th:onmouseover="areaCodes([[${channelBasicInfoValidator.channelId}]])"
                                               class="mdi mdi-comment-text" style="margin-left:5px"></i>
                                            <i th:if="${not #strings.isEmpty(channelBasicInfoValidator.maskProvince)}"
                                               data-toggle="tooltip" data-placement="right" title=""
                                               data-original-title="屏蔽区域，如果存在屏蔽区域的话"
                                               th:id="${channelBasicInfoValidator.channelId}"
                                               th:onmouseover="areaCodes([[${channelBasicInfoValidator.channelId}]])"
                                               class="mdi mdi-comment-text-outline"
                                               style="margin-left:5px"></i>
                                        </p>
                                        <p style="font-size:12px">信息分类：
                                            <mpm:tag identity="infoType" show-type="label" key="code"
                                                     th:value="${channelBasicInfoValidator.infoType}"/>
                                        </p>
                                        <p style="font-size:12px">通道状态：
                                            <mpm:tag identity="channelStatus" show-type="button" key="code"
                                                     th:value="${channelBasicInfoValidator.channelStatus}"
                                                     class="001,btn btn-success waves-effect waves-light btn-xs;002,btn btn-orange waves-effect waves-light btn-xs;003,btn btn-brown waves-effect waves-light btn-xs;004,btn btn-pink waves-effect waves-light btn-xs;005,btn btn-inverse waves-effect waves-light btn-xs;006,btn btn-danger waves-effect waves-light btn-xs;"/>
                                        </p>
                                    </div>
                                    <div class="col-sm-12">
                                        <p style="font-size:12px">
                                            内容限制：[[${channelBasicInfoValidator.channelRestrictContent}]]</p>
                                    </div>
                                    <div class="property-action">
                                                    <span style="padding-left:10px;font-size:12px">
                                                        通道业务介绍：[[${channelBasicInfoValidator.channelIntroduce}]]
                                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="property-card property-horizontal" style="margin-top:00px">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content"
                                 style="height:186px">
                                <div class="listingInfo">
                                    <div class="">
                                        <h5 style="padding-left:10px">通道接口信息</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <p style="font-size:12px">
                                            通道对接账号：[[${channelInterfaceValidator.channelAccessAccount}]]</p>
                                        <p style="font-size:12px">企业代码：[[${channelInterfaceValidator.spId}]]</p>
                                        <p style="font-size:12px">连接数：<span
                                                th:if="${channelInterfaceValidator.connectNumber ne 0}">[[${channelInterfaceValidator.connectNumber}]]</span>
                                        </p>
                                        <p style="font-size:12px">通道协议类型：
                                            <mpm:tag identity="channelProtocolType" show-type="label" key="code"
                                                     th:value="${channelInterfaceValidator.protocol}"/>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p style="font-size:12px">
                                            通道密码：[[${channelInterfaceValidator.channelAccessPassword}]]</p>
                                        <p style="font-size:12px">码号：[[${channelInterfaceValidator.srcId}]]</p>
                                        <p style="font-size:12px">最大速率(条/秒)：<span
                                                th:if="${not #strings.isEmpty(channelInterfaceValidator.maxSendSecond)}">[[${channelInterfaceValidator.maxSendSecond}]]/秒</span>
                                        </p>
                                        <p style="font-size:12px">版本 ：[[${channelInterfaceValidator.version}]]</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p style="font-size:12px">
                                            通道服务地址：[[${channelInterfaceValidator.channelServiceUrl}]]</p>
                                        <p style="font-size:12px">业务代码 ：[[${channelInterfaceValidator.serviceCode}]]</p>
                                        <p style="font-size:12px">心跳间隔单位：<span
                                                th:if="${channelInterfaceValidator.heartbeatInterval ne 0}">[[${channelInterfaceValidator.heartbeatInterval}]]</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="property-card property-horizontal" style="margin-top:00px">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content"
                                 style="height:106px">
                                <div class="listingInfo">
                                    <div class="">
                                        <h5 style="padding-left:10px">失败补发通道</h5>
                                    </div>
                                    <div class="col-sm-12">
                                        <p style="font-size:12px"><a>短信-移动-会销(小舟dj)</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div>
        </div>
        <!-- End row -->

        <!-- end row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<!-- Tooltipster js -->
<script th:src="@{/static/plugins/tooltipster/tooltipster.bundle.min.js}"></script>
<script>

    function areaCodes(channelId) {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/configure/channel/findChannelBusinessArea/" + channelId,
            async: false,
            success: function (data) {
                $('#' + channelId).attr({
                    // 设置提示内容
                    'data-original-title': data,
                })
            }
        });
    }

    //查看区域价格
    function channelPrice(channelId) {

        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/configure/channel/findChannelPrice/" + channelId,
            async: false,
            success: function (data) {
                var prices = data.split("@");
                var channelPrice = ""
                if (prices.length > 1) {
                    for (i = 0; i < prices.length; i++) {
                        if (i % 3 == 0 && i > 0) {
                            channelPrice += '<br>';
                        }
                        channelPrice += '<span style="font-size:12px">' + prices[i] + '</span>';
                    }
                } else {
                    channelPrice = '<span style="font-size:12px">' + prices + '</span>';
                }

                $('#channelPrice' + channelId).tooltipster({
                    content: $('<p style="text-align:left;"><strong>区域价格</strong><br>' + channelPrice + '</p>'),
                    maxWidth: 600,
                    position: 'right',
                    multiple: true,
                });
            }
        });
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>