<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-info" style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">通道基本信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道ID<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" readonly class="form-control"
                                                           autocomplete="off"
                                                           placeholder="根据规则自动生成">
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道名称<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control"
                                                           autocomplete="off"
                                                           placeholder="通道名称">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label >发送号码范围<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br>
                                                    <mpm:tag id="carrier" identity="carrier" name="carrier"
                                                             show-type="checkbox" key="code" class="form-control"
                                                             data-icon="mdi mdi-view-module" title="运营商"/>
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>抗诉率（每百万）<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control"
                                                           autocomplete="off"
                                                           placeholder="抗诉率（每百万）">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>接入省份&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px">*</span>
                                                    </label>
                                                    <mpm:tag id="provicesiii" identity="provices" name="provicess"
                                                             show-type="select" key="code" class="form-control"
                                                             data-icon="mdi mdi-view-module" title="接入省份"/>

                                                </div>

                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道供应商<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="channelSupplier" identity="channelSupplier"
                                                             show-type="select" key="code" class="form-control"
                                                             data-icon="mdi mdi-view-module" title="通道供应商"/>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label style="margin-right:10px">信息分类<span
                                                            class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br>
                                                    <mpm:tag id="infoType" identity="infoType"
                                                             name="channelProtocolType" show-type="checkbox" key="code"
                                                             class="form-control" data-icon="mdi mdi-view-module"
                                                             title="信息分类"/>
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>是否支持携号转网<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="isTransfer" identity="isOrNo" name="isTransfer"
                                                             value="0" show-type="radio" style="margin-top:0px"
                                                             key="code" data-icon="mdi mdi-view-module" title="是否"/>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>有无报告<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="yesOrNo1" identity="yesOrNo" name="yesOrNo1" value="1"
                                                             show-type="radio" style="margin-top:0px" key="code"
                                                             data-icon="mdi mdi-view-module" title="有无"/>
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label  style="margin-right: 10px">有无上行<span
                                                            class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="yesOrNo" identity="yesOrNo" name="yesOrNo2" value="1"
                                                             show-type="radio" style="margin-top:0px" key="code"
                                                             data-icon="mdi mdi-view-module" title="有无"/>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-sm-6 m-b-10">
                                                    <label>签名方式<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="signType" identity="signType" value="1" name="signType"
                                                             show-type="radio" style="margin-top:10px" key="code"
                                                             data-icon="mdi mdi-view-module" title="签名方式"/>
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道状态<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="channelStatus" identity="channelStatus" value="002"
                                                             name="channelStatus" show-type="select" key="code"
                                                             class="form-control" data-icon="mdi mdi-view-module"
                                                             title="通道状态"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 p-l-r-10">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    <label class="m-r-5">通道区域范围<span
                                                            class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="businessAreaType" identity="businessAreaType"
                                                             value="COUNTRY" onchange="areaSwith()"
                                                             name="businessAreaType" style="margin-top:0px"
                                                             show-type="radio" key="code"
                                                             data-icon="mdi mdi-view-module" title="业务区域类型"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10" style="text-align:left">
                                                    <label id="maskAreas" style="display:block">屏蔽区域</label>
                                                    <label id="businessAreas" style="display: none">业务区域<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px">*</span></label>
                                                    <div id="province_areas" style="text-align: left;display:block">
                                                        &nbsp;
                                                        <mpm:tag id="provices" identity="provices" name="provices"
                                                                 show-type="checkbox" key="code" class="form-control"
                                                                 data-icon="mdi mdi-view-module" title="屏蔽区域"/>
                                                    </div>
                                                    <div id="international_areas" style="text-align: left;display:none">
                                                        &nbsp;
                                                        <mpm:tag id="internationalCountry"
                                                                 identity="internationalCountry"
                                                                 name="internationalCountry" show-type="checkbox"
                                                                 key="code" class="form-control"
                                                                 data-icon="mdi mdi-view-module" title="屏蔽区域"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label class="m-r-5">计价方式<span
                                                            class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br>
                                                    <mpm:tag id="chargeType" identity="chargeType" value="UNIFIED_PRICE"
                                                             name="chargeType" onchange="chargeSwith()"
                                                             style="margin-top:10px" show-type="radio" key="code"
                                                             data-icon="mdi mdi-view-module" title="计价方式"/>
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>资费(元/条)&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input id="fee" type="text" class="form-control" autocomplete="off"
                                                           placeholder="资费">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    <label>通道介绍<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control"
                                                           autocomplete="off"
                                                           placeholder="通道介绍">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="text-center" style="margin-bottom:20px">
                                    <a type="button" class="btn btn-teal waves-effect waves-light">提交</a>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </form>
                <!-- end form -->

            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <th:block th:insert="fragments/common_fragments :: common_error"/>

</div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

    //计价方式 切换
    function chargeSwith() {
        var checkedChargeType = $('input:radio[name="chargeType"]:checked').val();
        //统一计价
        if("UNIFIED_PRICE" == checkedChargeType){
            $('#fee').removeAttr("placeholder");
            $('#fee').removeAttr("readonly");
            $('#fee').attr("required","");
            $('#fee').attr("placeholder","资费");
        }
        //区域计价
        if("AREA_PRICE" == checkedChargeType){
            $('#fee').removeAttr("placeholder");
            $('#fee').removeAttr("required","");
            $('#fee').attr("readonly","true");
            $('#fee').attr("placeholder","区域计费条数太多，请点\"区域计费\"页签");
        }
    }

    //业务区域类型切换
    function areaSwith(){
        var checkedBusinessAreaType = $('input:radio[name="businessAreaType"]:checked').val();
        //全国
        if("COUNTRY" == checkedBusinessAreaType){
            $('#maskAreas').css('display', 'block');
            $('#businessAreas').css('display', 'none');
            $('#province_areas').css('display', 'block');
            $('#international_areas').css('display', 'none');
        }
        //分省
        if("PROVINCE" == checkedBusinessAreaType){
            $('#maskAreas').css('display', 'none');
            $('#businessAreas').css('display', 'block');
            $('#province_areas').css('display', 'block');
            $('#international_areas').css('display', 'none');
        }
        //国际
        if("INTERNATIONAL" == checkedBusinessAreaType){
            $('#maskAreas').css('display', 'none');
            $('#businessAreas').css('display', 'block');
            $('#province_areas').css('display', 'none');
            $('#international_areas').css('display', 'block');
        }
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');



</script>
</body>
</html>