<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/clockpicker/css/bootstrap-clockpicker.min.css}" rel="stylesheet">

    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">

</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">通道管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            通道管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-lg-6" style="margin-top:10px;">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            通道基础信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 1080px">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>码号ID<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="码号">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>运营商<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/><br>
                                                <mpm:tag id="carrier" identity="carrier" name="carrier" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="运营商" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道ID<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="通道">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道名称<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="通道名称">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>实际终端接收长码号<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="长码号">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道协议类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag id="channelProtocolType" identity="channelProtocolType" name="channelProtocolType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道协议类型" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>业务类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag id="businessType" identity="businessType" name="businessType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="业务类型" />
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道对接信息<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag id="channelConnect" identity="channelConnect" name="channelConnect" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道对接信息" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>发送省份<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="全国">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道状态<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <mpm:tag id="channelStatus" identity="channelStatus" name="channelStatus" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道状态" />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道价格<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="10000">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>商务费<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label><br/>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="0">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-20" style="padding-left: 10px;">
                                                <label class="m-b-20">是否计入行业账号下</label>
                                                <br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio2" name="businessPrrice" value="0">
                                                    <label for="inlineRadio2"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio1" name="businessPrrice" value="1" required>
                                                    <label for="inlineRadio1"> 是 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="margin-top:10px">
                <div class="panel panel-color panel-brown">
                    <div class="panel-heading" style="display:block">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            通道接口信息
                        </h3>
                    </div>
                    <div class="panel-body" style="display:block">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>IP地址<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="192.168.1.1">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>端口</label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="8080">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>通道账号<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>通道登录名称<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="通道登录名称">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>通道登录密码<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>链接数<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="1000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>报告标识<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>计费类型<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>计费编号<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大重新发送次数<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大发送速率<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大运营商速率<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>最大等待运营商速率<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>版本<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>协议<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>接收地址<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>接收速度<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>屏蔽省份<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>RE正则表达式<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10" style="padding-left: 10px;">
                                                <label class="m-b-20">黑名单</label><br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio3" name="black" value="0" required>
                                                    <label for="inlineRadio3"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio4" name="black" value="1">
                                                    <label for="inlineRadio4"> 是 </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 m-b-10" style="padding-left: 10px;">
                                                <label class="m-b-20">是否支持上行</label><br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio5" name="up" value="0">
                                                    <label for="inlineRadio5"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio6" name="up" value="1">
                                                    <label for="inlineRadio6"> 是 </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 m-b-10" style="padding-left: 10px;">
                                                <label class="m-b-20">是否支持携号转网</label><br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio7" name="transfer" value="0">
                                                    <label for="inlineRadio7"> 否 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="inlineRadio8" name="transfer" value="1">
                                                    <label for="inlineRadio8"> 是 </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>单号码流控(条/分钟)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>单号码流控(条/小时)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>单号码流控(条/天)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次限制(条/分钟)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次限制(条/小时)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次限制(条/天)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-3 m-b-10">
                                                <label>频次限制(条/月)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-4 m-b-10">
                                                <label>发送时间限制(开始)<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input class="form-control" id="single-input" value="" placeholder="Now">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>发送时间限制(结束)</label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-sm-4 m-b-10">
                                                <label>签名规则<span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div>

                        <div class="text-right">
                            <button  class="btn btn-teal waves-effect waves-light">提交
                            </button>
                            <a sec:authorize-url="/configure/channel/list" th:href="@{/configure/channel/list}"
                               class="btn btn-default waves-effect waves-light">返回
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/timepicker/bootstrap-timepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/static/plugins/clockpicker/js/bootstrap-clockpicker.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- Jquery filer js -->
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>