<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row  页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form" th:action="@{/configure/channel/priceSave/{op}(op=${op})}" th:object="${channelPriceValidator}"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-primary"
                             style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">区域计价设置</h3>
                            </div>
                            <div style="margin-top:20px;" id="help"
                                 class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                                <i class="mdi mdi-help-circle-outline"></i>
                                <strong>操作提示：</strong> 设置的参数，是有基本信息中，选择的 "省份" 或 "国家"；此提示，将在实现的时候删除
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3 m-b-10" th:each="info:${list}" th:if="${supportAreaCodes eq 'PROVINCE'}">
                                                    <label><mpm:tag identity="provices"  show-type="label" key="code"
                                                                    th:value="${info.key}"/>资费(元/条)<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="资费(元/条)" required="" class="form-control"
                                                           th:name="${info.key}" th:value="${info.value}" min="0"   max="1" autocomplete="off">
                                                </div>
                                                <div class="col-sm-3 m-b-10" th:each="info:${list}" th:if="${supportAreaCodes eq 'INTERNATIONAL'}">
                                                    <label><mpm:tag identity="internationalCountry"  show-type="label" key="code"
                                                                    th:value="${info.key}"/>资费(元/条)<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger"
                                                            style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="资费(元/条)" required="" class="form-control"
                                                           th:name="${info.key}" th:value="${info.value}" min="0"   max="1" autocomplete="off">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" style="margin-bottom:20px">
                                        <input type="hidden" th:field="*{channelId}">
                                        <button sec:authorize-url="/configure/channel/priceSave/*" type="submit" class="btn btn-teal waves-effect waves-light" th:if="${not #lists.isEmpty(list)}">提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end form -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>