<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form  id="submit_form"
                       method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-teal" style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">过滤信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3 m-b-10">
                                                    <label>RE正则表达式&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text"   placeholder="RE正则表达式" class="form-control" autocomplete="off">
                                                </div>

                                                <div class="col-sm-3 m-b-10">
                                                    <label>发送时间限制&nbsp<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="多个用分号隔开；例如00:00:00-08:00:00"  required="" class="form-control" autocomplete="off">
                                                </div>

                                                <div class="col-sm-3 m-b-10" style="padding-left: 10px;">
                                                    <label class="m-b-20">黑名单</label><br>
                                                    <mpm:tag id="isTransfer" identity="isOrNo"  name="isTransfer" style="margin-top:0px" value="0" show-type="radio"  key="code" data-icon="mdi mdi-view-module" title="是否" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3 m-b-10">
                                                    <label>单号码流控（条/分钟）<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="默认0，表示不限制" required="" class="form-control" autocomplete="off">
                                                </div>
                                                <div class="col-sm-3 m-b-10">
                                                    <label>单号码流控（条/小时）<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="默认0，表示不限制" required="" class="form-control" autocomplete="off">
                                                </div>
                                                <div class="col-sm-3 m-b-10">
                                                    <label>单号码流控（条/天）<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="默认0，表示不限制" required="" class="form-control" autocomplete="off">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3 m-b-10">
                                                    <label>每日发送最大条数<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="默认0，表示不限制" required="" class="form-control" autocomplete="off">
                                                </div>
                                                <div class="col-sm-3 m-b-10">
                                                    <label>每月发送最大条数<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" placeholder="默认0，表示不限制" required="" class="form-control" autocomplete="off">
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="text-center" style="margin-bottom:20px">
                                    <a type="button" class="btn btn-teal waves-effect waves-light">提交</a>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </form>
                <!-- end form -->

            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <th:block th:insert="fragments/common_fragments :: common_error"/>

</div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>