<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form  id="submit_form"
                       method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-info" style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">通道基本信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道ID<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" readonly class="form-control" autocomplete="off"
                                                           placeholder="根据规则自动生成">
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道名称<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="通道名称">
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>接入码号&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px">*</span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="接入码号">
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>抗诉率（每万）<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="抗诉率">
                                                </div>


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>业务类型<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="businessType" identity="businessType" name="businessType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="业务类型" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道协议类型<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="channelProtocolType" identity="channelProtocolType" name="channelProtocolType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道协议类型" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>信息分类<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="infoType" identity="infoType" name="channelProtocolType" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="信息分类" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道供应商<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <mpm:tag id="channelSupplier" identity="channelSupplier"  show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道供应商" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>发送号码范围<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br>
                                                    <mpm:tag id="carrier" identity="carrier" name="carrier" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="运营商" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>是否支持携号转网<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="isOrNo" identity="isOrNo" name="isOrNo" value="0" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="是否" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-sm-6 m-b-10">
                                                    <label>有无报告<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="yesOrNo" identity="yesOrNo" name="yesOrNo" value="1" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="有无" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>有无上行<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="yesOrNo" identity="yesOrNo" name="yesOrNo" value="1" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="有无" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道码号来源<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="codeSource" identity="codeSource" name="codeSource" value="" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="有无" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道码号用途<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="codeUseType" identity="codeUseType" name="codeUseType" value="" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="有无" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6" style="m-l-10">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    <label>业务区域类型<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="businessAreaType" identity="businessAreaType" value="COUNTRY" name="businessAreaType" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="业务区域类型" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10" style="text-align:left">
                                                    <label>屏蔽区域<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>&nbsp;&nbsp;
                                                    <mpm:tag id="provices" identity="provices" name="provices" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="屏蔽区域" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>计价方式<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="chargeType" identity="chargeType" value="01" name="chargeType" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="计价方式" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>资费(元/条)&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="资费">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 m-b-10">
                                                    <label>签名方式<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="signType" identity="signType" value="1" name="signType" show-type="checkbox"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="签名方式" />
                                                </div>
                                                <div class="col-sm-6 m-b-10">
                                                    <label>通道状态<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label><br/>
                                                    <mpm:tag id="channelStatus" identity="channelStatus" value="002" name="channelStatus" show-type="select"  key="code" class="form-control" data-icon="mdi mdi-view-module" title="通道状态" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道对接经理&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="通道对接经理">
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>通道对接费用&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" class="form-control" autocomplete="off"
                                                       placeholder="通道对接费用">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-12 m-b-10">
                                                    <label>通道介绍<span class="text-danger">*</span>&nbsp;<span
                                                            class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                    </label>
                                                    <input type="text" required="" class="form-control" autocomplete="off"
                                                           placeholder="通道介绍">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="text-center" style="margin-bottom:20px">
                                    <a type="button" class="btn btn-teal waves-effect waves-light">提交</a>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </form>
                <!-- end form -->

            </div> <!-- end card-box -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <th:block th:insert="fragments/common_fragments :: common_error"/>

</div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>