<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">通道管理 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            通道管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/configure/channel/page}"
                          method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="carrier" identity="carrier" name="carrier" show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="运营商" />
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="通道ID" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="通道名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="channelProtocolType" identity="channelProtocolType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="通道协议类型" />
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="businessType" identity="businessType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="通道业务类型" />
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="channelStatus" identity="channelStatus"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="通道状态" />
                                </div>

                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/configure/channel/page" class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/configure/channel/add" th:href="@{/configure/channel/add}" class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新建</a>
                                    <input type="hidden" name="currentPage" id="currentPage">
                                    <input type="hidden" name="pageSize" id="pageSize">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a class="text-dark">全国移动普通短信通道（全国）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000010</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="CMCC,UNICOM,TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10691111</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$10,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>

                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="CMPP" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#3AC9D6;border: 1px solid #3AC9D6">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="001" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">北京联通普通短信通道（北京）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000020</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="UNICOM,TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10691111</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$430,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>
                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="MULTI_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="HTTP" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#F9C851;border: 1px solid #F9C851">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="003" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">上海电信普通短信通道（上海）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000020</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10692222</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$430,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>
                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="INTERNATIONAL_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="MM7" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#3B3E47;border: 1px solid #3B3E47">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="005" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->

            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">上海电信普通短信通道（上海）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000020</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10692222</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$430,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>
                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="INTERNATIONAL_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="MM7" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#F5707A;border: 1px solid #F5707A">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="006" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">全国移动普通短信通道（全国）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000010</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="CMCC,UNICOM,TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10691111</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$10,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>

                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="CMPP" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#3AC9D6;border: 1px solid #3AC9D6">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="001" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">全国移动普通短信通道（全国）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000010</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="CMCC,UNICOM,TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10691111</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$10,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>

                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="CMPP" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#3AC9D6;border: 1px solid #3AC9D6">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="001" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">全国移动普通短信通道（全国）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000010</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="CMCC,UNICOM,TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10691111</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$10,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>

                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="CMPP" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#3AC9D6;border: 1px solid #3AC9D6">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="001" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->
            <div  class="col-md-6">
                <div class="property-card property-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="property-content">
                                <div class="listingInfo">
                                    <div class="">
                                        <h4><a href="#" class="text-dark">全国移动普通短信通道（全国）</a></h4>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>通道ID：10000010</p>
                                        <p class="text-muted"><i class="mdi mdi-account m-r-5"></i>通道账号：h71008</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>账户使用数：30</p>
                                        <p class="text-muted"><i class="mdi mdi-cellphone m-r-5"></i>运营商：<mpm:tag identity="carrier" value="CMCC,UNICOM,TELC" show-type="label" key="code" /></p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="text-muted"><i class="mdi mdi-blackberry m-r-5"></i>码号：10691111</p>
                                        <p class="text-muted"><i class="fa fa-money m-r-5"></i>单价：$10,000</p>
                                        <p class="text-muted"><i class="mdi mdi-counter m-r-5"></i>产品使用数：500</p>
                                        <p class="text-muted"><i class="mdi mdi-file-delimited m-r-5"></i>频次限制：0/0/0/0</p>

                                    </div>
                                </div>
                                <div class="property-action">
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="业务类型"
                                       style="color:#188AE2;border: 1px solid #188AE2">
                                        <i class="mdi mdi-apps"></i>
                                        <span><mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" /></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道协议类型"
                                       style="color:#4BD396;border: 1px solid #4BD396">
                                        <i class="glyphicon glyphicon-filter"></i>
                                        <span><mpm:tag identity="channelProtocolType" value="CMPP" show-type="label"  key="code"/></span>
                                    </a>
                                    <a href="#" target="new_blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="通道状态"
                                       style="color:#3AC9D6;border: 1px solid #3AC9D6">
                                        <i class="mdi mdi-view-module"></i>
                                        <span> <mpm:tag identity="channelStatus" value="001" show-type="label"  key="code"/></span>
                                    </a>
                                    <div class="pull-right">
                                        <a class="btn btn-primary" sec:authorize-url="/configure/channel/view/*" th:href="@{/configure/channel/view/id}">查看</a>
                                        <a class="btn btn-info" sec:authorize-url="/configure/channel/edit/*" th:href="@{/configure/channel/edit/id}">编辑</a>
                                    </div>
                                </div>
                                <!-- end. Card actions -->
                            </div>
                        </div>
                        <!-- /col 8 -->
                    </div>
                    <!-- /inner row -->
                </div>

            </div> <!-- end col -->

        </div>

        <div class="card-box" th:remove="${#strings.isEmpty(error)}?none:all" th:if="${pageParams.totalRows gt 8}">
            <th:block th:insert="fragments/page_fragments :: page"/>
        </div>

        <th:block th:insert="fragments/common_fragments :: common_error"/>
    </div> <!-- container -->

</div> <!-- content -->


<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>