<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <!-- Custom box css -->
</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">通道管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            通道管理
                        </li>
                        <li class="active">
                            通道信息维护
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h4 class="m-b-10">通道信息维护
                                <div class="pull-right" style="margin-top: -12px;margin-right:10pxx">
                                    <a sec:authorize-url="/configure/channel/list" th:href="@{/configure/channel/list}"
                                       class="btn btn-default waves-effect waves-light btn-md">
                                        <i class="glyphicon  glyphicon-share-alt" style="margin-right:5px"></i>
                                        返回通道列表</a>
                                </div>
                            </h4>
                            <div class="row" style="margin-top:20px">
                                <div class="col-md-12">
                                    <div class="card-box">
                                        <ul class="nav nav-pills m-b-30 pull-right">
                                            <li class="active" id="tab1"><a onclick="active('1')"  sec:authorize-url="/configure/channel/edit/base/*"
                                                                            th:href="@{/configure/channel/edit/base/id}"
                                                                            th:target="tab-content"><i class="mdi mdi-star" style="margin-right:5px;color:#f35864"></i>通道基本信息</a></li>
                                            <li class="" id="tab2"><a onclick="active('2')"  sec:authorize-url="/configure/channel/edit/interface/*"
                                                                            th:href="@{/configure/channel/edit/interface/id}"
                                                                            th:target="tab-content"><i class="mdi mdi-star" style="margin-right:5px;color:#f35864"></i>通道接口参数</a></li>
                                            <li class="" id="tab3"><a onclick="active('3')"  sec:authorize-url="/configure/channel/edit/filter/*"
                                                                      th:href="@{/configure/channel/edit/filter/id}"
                                                                      th:target="tab-content"><i class="mdi mdi-star" style="margin-right:5px;color:#f35864"></i>通道过滤配置</a></li>
                                            <li class="" id="tab4"><a onclick="active('4')"  sec:authorize-url="/configure/channel/edit/price/*"
                                                                      th:href="@{/configure/channel/edit/price/id}"
                                                                      th:target="tab-content"><i class="mdi mdi-star" style="margin-right:5px;color:#f35864"></i>区域计价配置</a></li>
                                            <li class="" id="tab5"><a onclick="active('5')"  sec:authorize-url="/configure/channel/edit/extend/*"
                                                                      th:href="@{/configure/channel/edit/extend/id}"
                                                                      th:target="tab-content">通道扩展参数配置</a></li>
                                            <li class="" id="tab6"><a onclick="active('6')"  sec:authorize-url="/configure/channel/edit/spare/*"
                                                                      th:href="@{/configure/channel/edit/spare/id}"
                                                                      th:target="tab-content">失败补发通道配置</a></li>
                                        </ul>
                                        <div class="tab-cotent" style="background-color:#fff">
                                            <iframe name="tab-content" id="tab-content" th:frameBorder="0" th:scrolling="auto"
                                                    th:src="@{/configure/channel/edit/base/id}" style="padding: 0px; width: 100%; height: 1000px;background-color:#fff"> </iframe>
                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div> <!-- end col -->

                    </div> <!-- end row -->

                </div>
            </div>
        </div>

        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<!-- Modal-Effect -->
<script>

    function active(tab) {
        for(var num = 1;num<10;num++){
            $('#tab'+num).removeClass("active");
        }
        $('#tab'+tab).attr("class","active");
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>