<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">运营管理综合日统计 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            运营管理综合日统计
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form  id="query_form" th:action="@{/statistic/manager/daily/query}"
                           th:object="${managerStatisticQo}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-4">
                                    <input id="startDate" class="form-control" type="text"
                                           th:field="*{startDate}" required="" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-4 pull-right" style="text-align: right">
                                    <button  sec:authorize-url="/statistic/manager/daily/query"
                                             class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  页面内容-->
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div id="main1" style="height: 480px;"></div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script type="text/javascript" th:remove="${#strings.isEmpty(error)}?none:all">

    $.ajax({
        url : '[[${#httpServletRequest.getContextPath()}]]/statistic/manager/daily/ajax/'+'[[${managerStatisticQo.startDate}]]',
        success : function(data) {
            articles = eval(data);
            var dom3 = document.getElementById("main1");
            var myChart3 = echarts.init(dom3);
            var app = {};
            option3 = null;
            option3 = {
                title: {
                    text: '[[${managerStatisticQo.startDate}]]'+'之前365天运营数据'
                },
                color: ['#8D6E63', '#59A9E7','#F4979E'],
                legend: {
                    data: ['发送量（百万）', '营收（万元）','净毛利（万元）']
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        magicType: {                       //动态类型切换
                            show: true,
                            title:"切换",                   //各个类型的标题文本，可以分别配置。
                            type: ['line', 'bar'],          //启用的动态类型，包括'line'（切换为折线图）, 'bar'（切换为柱状图）, 'stack'（切换为堆叠模式）, 'tiled'（切换为平铺模式）
                        },
                        dataView: {show: true, readOnly: false},
                        saveAsImage: {show: true}
                    }
                },
                grid: {
                    top: '60px',
                    left: '24px',
                    right: '24px',
                    bottom: '24px',
                    containLabel: true
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: {
                            interval: 'auto',
                            rotate: 30
                        },
                        data:articles.date

                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '发送量（百万）',
                        type: 'line',
                        stack: 'Total',
                        data: articles.sendAmount
                    },
                    {
                        name: '营收（万元）',
                        type: 'line',
                        stack: 'Total',
                        data: articles.incomeAmount
                    },
                    {
                        name: '净毛利（万元）',
                        type: 'line',
                        stack: 'Total',
                        data: articles.profitAmount
                    },
                ]
            };
            ;
            if (option3 && typeof option3 === "object") {
                myChart3.setOption(option3, true);
            }
        }
    });

    $(document).ready(function () {
        init_select_date_picker($("#startDate"));
    });

    function init_select_date_picker(id) {
        id.daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            minDate: '2015-01-01',
            maxDate: '[[${managerStatisticQo.startDate}]]',
            locale: {
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['01月', '02月', '03月', '04月', '05月', '06月',
                    '07月', '08月', '09月', '10月', '11月', '12月'],
                format: 'YYYY-MM-DD',
                cancelLabel: 'Clear'
            }
        });
        id.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });
    }

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>