<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">统计账号发送量 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            统计账号发送量
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->



        <div class="row"  style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">


            <div class="col-lg-12">
                <div class="card-box">

                    <div class="col-md-12">
                        <div class="pull-right" style="margin-right:10px">
                            <a sec:authorize-url="/customer/account/statistic/statisticAccountSendMonth/*/*"
                               style="margin-left:10px;" onclick="active('1')"
                               class="btn btn-info waves-effect waves-light btn-sm">
                                <i class="mdi mdi-chart-bar" style="margin-right:5px"></i>
                                按月统计
                            </a>
                            <a sec:authorize-url="/customer/account/statistic/statisticAccountSendMonth/*/*"
                               style="margin-left:10px;" onclick="active('2')"
                               class="btn btn-primary waves-effect waves-light btn-sm">
                                <i class="mdi mdi-chart-bar" style="margin-right:5px"></i>
                                按天统计
                            </a>
                            <a sec:authorize-url="/customer/account/list" style="margin-left:10px;"
                               th:href="@{/customer/account/list}" class="btn btn-default waves-effect waves-light btn-sm">
                                <i class="glyphicon  glyphicon-share-alt" style="margin-right:5px"></i>
                                返回客户列表</a>
                        </div>
                    </div> <!-- end col -->

                    <div id="main1" style="height: 480px;margin-top: 55px"></div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    $(document).ready(function () {

        active("1");

    });

    function active (val){
        var type = 'month';
        var barType = 'line';
        var title = '近24个月发送量统计';
        var dataTitle = "（W）";
        var numberBoolean = true;
        if("2" == val){
            type = 'day';
            barType = 'line';
            title = "近180天发送量统计";
            dataTitle = "（条）";
            numberBoolean = false;
        }

        $.ajax({
            url : '[[${#httpServletRequest.getContextPath()}]]/customer/account/statistic/statisticAccountSendMonth/[[${accountId}]]/'+type,
            success : function(data) {
                articles = eval(data);
                option2 = {
                    title: {
                        text: title+"："+articles.totalNumber+'W',
                        x: 'left'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    legend: {
                        data: ['发送量统计'+dataTitle]
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: false},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: false},
                            saveAsImage: {show: true}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {show: false},
                            axisLabel: {
                                interval: 'auto',
                                rotate: 30
                            },
                            data: articles.monthArray
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            splitArea: {show: true}
                        }
                    ],
                    grid: {
                        x2: 40
                    },
                    series: [
                        {
                            name: '发送量统计'+dataTitle,
                            type: barType,
                            stack: '总量',
                            itemStyle: {
                                normal: {
                                    color: '#66AAE7',
                                    barBorderRadius: 0,
                                    label: {
                                        show: numberBoolean,
                                        position: 'insideTop'
                                    }
                                }
                            },
                            data: articles.sendNumberArray,
                            markLine: {
                                data: [
                                    {type: 'average', name: '平均值'}
                                ]
                            }
                        }
                    ]
                };

                myChart2 = echarts.init(document.getElementById('main1'));
                myChart2.setOption(option2);
            }
        });
    }

</script>
<script type="text/javascript">

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>