/*
File: header
*/
.header-container-primary {
    background: #3ac9d6;
}

.header-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #3ac9d6;
}

.header-container .header-body {
    width: 100%;
    margin: 0 auto;
    height: 66px;
    line-height: 66px;
}

.header-title {
    font-family: Arial;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}