<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">运营数据综合统计 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            运营数据综合统计
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/account/page}" id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="时间" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-4 pull-right" style="text-align: right">
                                    <button class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div id="main1" style="height: 480px;"></div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script type="text/javascript">

    var dom3 = document.getElementById("main1");
    var myChart3 = echarts.init(dom3);
    var app = {};
    option3 = null;
    option3 = {
        title: {
            text: '近30天运营数据'
        },
        color: ['#71D5DE', '#59A9E7','#F4979E', '#7DDCB1'],
        legend: {
          data: ['发送量（百万）', '营收（万元）', '成本（万元）','毛利（万元）']
        },
        tooltip: {
            trigger: 'axis'
        },
        toolbox: {
            show: true,
            feature: {
                dataView: {show: true, readOnly: false},
                saveAsImage: {show: true}
            }
        },
        grid: {
                top: '60px',
                left: '24px',
                right: '24px',
                bottom: '24px',
                containLabel: true
            },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                axisLabel: {
                  interval: 'auto',
                  rotate: 30
                 },
                data: ['2020-11-01', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12','2020-11-13', '2020-11-14', '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22', '2020-11-23','2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28', '2020-11-29','2020-11-30']
            }
        ],
        yAxis: [
            {
                type: 'value'
            }
        ],
         series: [
            {
              name: '发送量（百万）',
              type: 'line',
              stack: 'Total',
              data: [707, 659, 590, 864, 687, 707, 856, 822, 587, 588, 460, 423,526, 459, 490, 764, 887, 707, 756, 822, 487, 488, 460, 423,426, 459, 490, 564, 787, 707],
            },
             {
                 name: '营收（万元）',
                 type: 'line',
                 stack: 'Total',
                 data: [260, 259, 390, 364, 487, 307, 256, 322, 487, 388, 460, 223,226, 159, 290, 264, 287, 307, 556, 522, 487, 388, 460, 323,326, 359, 290, 464, 487, 307],
             },
             {
                 name: '成本（万元）',
                 type: 'line',
                 stack: 'Total',
                 data: [130, 200, 120, 164, 187, 207, 156, 222, 287, 188, 120, 131,226, 129,130, 164, 187, 207, 256,222, 187, 288, 220, 210,226, 225, 236, 264, 287, 277],
             },
             {
                 name: '毛利（万元）',
                 type: 'line',
                 stack: 'Total',
                 data: [116, 119, 119, 164, 187, 177, 156, 122, 187, 188, 116, 113,116, 119, 119, 164, 187, 177, 156, 182, 187, 181, 116, 113,116, 119, 119, 164, 127, 170],
             },
        ]
    };
    ;
    if (option3 && typeof option3 === "object") {
        myChart3.setOption(option3, true);
    }

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>

</body>
</html>