<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>

    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="margin-top:10px">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row">
                    <form  id="submit_form" th:action="@{/filter/keywords/upFiles}" method="post" th:object="${filterKeyWordsInfoValidator}" data-parsley-validate=""  enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="p-20">
                                    <div class="form-group m-b-20">
                                        <label>关键词类别：
                                            <span th:if="${filterKeyWordsInfoValidator.keyWordsType eq 'CHECK'}">审核词</span><span th:if="${filterKeyWordsInfoValidator.keyWordsType eq 'BLACK'}">敏感词</span>
                                        </label>
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label>下载模板</label>
                                        <a sec:authorize-url="/filter/group/downFileTemp/*" th:href="@{/filter/group/downFileTemp/3}" class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                            <i class="glyphicon glyphicon-download"></i> 关键词模板.xlsx
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="p-20">
                                    <label>上传文件</label>
                                    <div class="form-group">
                                        <input type="file" name="file" id="input_file"
                                               multiple="multiple">
                                    </div>
                                </div>
                            </div>


                        </div> <!-- end row -->

                        <div class="text-center">
                            <input type="hidden" th:field="*{keyWordsBusinessType}">
                            <input type="hidden" th:field="*{businessId}">
                            <input type="hidden" name="keyWordsType" value="CHECK" th:if="${filterKeyWordsInfoValidator.keyWordsType eq 'CHECK'}">
                            <input type="hidden" name="keyWordsType" value="BLACK" th:if="${filterKeyWordsInfoValidator.keyWordsType eq 'BLACK'}">
                            <button sec:authorize-url="/filter/keywords/upFiles" type="submit"
                                    class="btn btn-teal waves-effect waves-light">导入</button>
                            <a  sec:authorize-url="/filter/keywords/list/BUSINESS_ACCOUNT/*" th:if="${filterKeyWordsInfoValidator.keyWordsBusinessType eq 'BUSINESS_ACCOUNT'}"
                                th:href="@{/filter/keywords/list/{keywordsType}/{businessId}(keywordsType=${filterKeyWordsInfoValidator.keyWordsBusinessType},businessId=${businessId})}" style="margin-left:20px"
                                class="btn btn-default waves-effect waves-light">返回</a>
                            <a  sec:authorize-url="/filter/keywords/list/CHANNEL/*" th:if="${filterKeyWordsInfoValidator.keyWordsBusinessType eq 'CHANNEL'}"
                                th:href="@{/filter/keywords/list/{keywordsType}/{businessId}(keywordsType=${filterKeyWordsInfoValidator.keyWordsBusinessType},businessId=${businessId})}" style="margin-left:20px"
                                class="btn btn-default waves-effect waves-light">返回</a>

                        </div>
                    </form>
                </div> <!-- end row -->

                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/js/contractUploadFile.js}"></script>
<script th:src="@{/static/plugins/jquery.filer/js/jquery.filer.min.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>