<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="margin-top:10px">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/filter/keywords/save/{keywordsType}/{businessId}/{op}(op=${op},businessId=${businessId},keywordsType=${keywordsType})}" th:object="${filterKeyWordsInfoValidator}"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="form-group m-b-20">
                                                <label>关键词类型<span class="text-danger">*</span>&nbsp;
                                                </label>
                                                <div class="form-group m-b-20">
                                                    <select data-style="btn-default" name="keyWordsType" data-live-search="true" id="keyWordsType" onchange="changeType(this.value)"  class="selectpicker form-control" required="true" tabindex="-98">
                                                        <option value="" data-icon="mdi mdi-appnet">--请选择关键词类别--</option>
                                                        <option data-icon="mdi mdi-appnet" value="CHECK" th:selected="${filterKeyWordsInfoValidator.keyWordsType eq 'CHECK'}">审核词</option>
                                                        <option data-icon="mdi mdi-appnet" value="BLACK" th:selected="${filterKeyWordsInfoValidator.keyWordsType eq 'BLACK'}">敏感词</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="form-group m-b-20">
                                                <label><span id="key-tip">关键词</span><span class="text-danger">*</span>&nbsp;<span
                                                        class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                                </label>
                                                <input type="text" required="" th:field="*{keyWords}" class="form-control" autocomplete="off"
                                                       placeholder="关键词">
                                            </div>

                                            <div class="form-group m-b-20">
                                                <label><span id="key-remark">关键词描述</span></label>
                                                <input type="text" th:field="*{keyDesc}" class="form-control" autocomplete="off">
                                            </div>

                                            <div class="col-md-12 text-right">
                                                <input type="hidden" th:field="*{id}">
                                                <input type="hidden" th:field="*{keyWordsBusinessType}">
                                                <input type="hidden" th:field="*{businessId}">
                                                <input type="hidden" th:field="*{createdBy}">
                                                <button sec:authorize-url="/filter/keywords/save/*/*/*" type="submit"
                                                        class="btn btn-teal waves-effect waves-light">提交</button>
                                                <a  sec:authorize-url="/filter/keywords/list/BUSINESS_ACCOUNT/*" th:if="${filterKeyWordsInfoValidator.keyWordsBusinessType eq 'BUSINESS_ACCOUNT'}"
                                                    th:href="@{/filter/keywords/list/{keywordsType}/{businessId}(keywordsType=${filterKeyWordsInfoValidator.keyWordsBusinessType},businessId=${businessId})}" style="margin-left:20px"
                                                    class="btn btn-default waves-effect waves-light">返回</a>
                                                <a  sec:authorize-url="/filter/keywords/list/CHANNEL/*" th:if="${filterKeyWordsInfoValidator.keyWordsBusinessType eq 'CHANNEL'}"
                                                    th:href="@{/filter/keywords/list/{keywordsType}/{businessId}(keywordsType=${filterKeyWordsInfoValidator.keyWordsBusinessType},businessId=${businessId})}" style="margin-left:20px"
                                                    class="btn btn-default waves-effect waves-light">返回</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<!-- Jquery filer js -->
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

    $(document).ready(function () {
        var value = '[[${filterKeyWordsInfoValidator.keyWordsType}]]'
        changeType(value);
    })

    function changeType(value) {

        if("CHECK"==value){
            document.getElementById("key-tip").innerText = "审核词";
            document.getElementById("key-remark").innerText = "审核词描述";
        }
        if("BLACK"==value){
            document.getElementById("key-tip").innerText = "敏感词";
            document.getElementById("key-remark").innerText = "敏感词描述";
        }

    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>