<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">发起EC出账</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            出账对账
                        </li>
                        <li>
                            发起EC出账
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <!-- start row  页面内容-->
                    <div class="row m-b-0" style="padding-left:20px;padding-right:20px">
                        <form id="submit_form" th:action="@{/reconciliation/account/save}"
                              th:object="${reconciliationPeriodValidator}"
                              method="post" data-parsley-validate="">
                            <div class="row">
                                <div class="col-md-12 panel panel-color panel-info">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group m-b-20">
                                                    <label for="accountPeriod">账期<span
                                                            class="text-danger">*</span></label>
                                                    <select data-style="btn-default" name="accountPeriod" onchange="handleDate()" required th:value="${reconciliationPeriodValidator.accountPeriod}" data-live-search="true" id="accountPeriod" class="selectpicker">
                                                        <option value="" data-icon="mdi mdi-apps">--请选择账期--</option>
                                                        <option  th:each="date:${dateList}" data-icon="mdi mdi-apps" th:value="${date}">[[${date}]]</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group m-b-20">
                                                    <label for="accountPeriodStartDate">开始日期<span
                                                            class="text-danger">*</span></label>
                                                    <input id="accountPeriodStartDate" type="text" class="form-control" readonly
                                                           th:field="*{accountPeriodStartDate}" autocomplete="off"
                                                           required PLACEHOLDER="开始日期">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group m-b-20">
                                                    <label for="accountPeriodEndDate">结束日期<span
                                                            class="text-danger">*</span></label>
                                                    <input id="accountPeriodEndDate" type="text" class="form-control" readonly
                                                           th:field="*{accountPeriodEndDate}" autocomplete="off"
                                                           required PLACEHOLDER="结束日期">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-12 pull-right" style="text-align: center">
                                                <br>
                                                <button type="submit"
                                                        class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                                    提交
                                                </button>
                                                <a sec:authorize-url="/reconciliation/account/list"
                                                   th:href="@{/reconciliation/account/list}" style="margin-left:10px"
                                                   class="btn btn-default waves-effect waves-light btn-md">
                                                    <i class="glyphicon  glyphicon-share-alt"
                                                       style="margin-right:5px"></i>
                                                    返回</a>
                                                <input type="hidden" id="id"
                                                       th:field="*{id}">
                                                <input type="hidden" id="createdTime"
                                                       th:field="*{createdTime}">
                                                <input type="hidden" id="createdBy"
                                                       th:field="*{createdTime}">
                                            </div>
                                        </div>


                                    </div>
                                </div> <!-- end col -->
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script type="text/javascript">

       function handleDate(){
          //alert($('#accountPeriod').val());
          var yearMonth = $('#accountPeriod').val();
          var array = yearMonth.split("-");

          $('#accountPeriodStartDate').val(yearMonth+'-01');
          $('#accountPeriodEndDate').val(yearMonth+'-'+getLastDay(array[0],array[1]));
       }

     function getLastDay(year,month) {
             var new_year = year;    //取当前的年份
             var new_month = month++;//取下一个月的第一天，方便计算（最后一天不固定）
             if(month>12) {
              new_month -=12;        //月份减
              new_year++;            //年份增
             }
             var new_date = new Date(new_year,new_month,1);                //取当年当月中的第一天
             return (new Date(new_date.getTime()-1000*60*60*24)).getDate();//获取当月最后一天日期
     }

     var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>

</body>
</html>