<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <style>
    </style>
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">企业检索 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li class="">
                            智能短信开户管理
                        </li>
                        <li class="active">
                            企业检索
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/intellect/enterprise/page}" th:object="${enterpriseBasicInfoValidator}"
                          id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{enterpriseName}"
                                           placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{enterpriseContacts}"
                                           placeholder="企业联系人" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/intellect/enterprise/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                    <!--                                    <input type="hidden" th:field="*{enterpriseType}" id="enterpriseType">-->
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">企业检索结果</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>企业联系人</th>
                                    <th>对接主体公司</th>
                                    <th>企业类型</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:each="info:${list}">
                                <tr>
                                    <td>
                                        [[${info.enterpriseName}]]
                                    </td>
                                    <td>[[${info.enterpriseContacts}]]</td>
                                    <td>
                                        <mpm:tag identity="corporation" show-type="label" key="code"
                                                 th:value="${info.accessCorporation}"/>
                                    </td>
                                    <td>
                                        <mpm:tag identity="enterpriseType" show-type="button" key="code"
                                                 th:value="${info.enterpriseType}"
                                                 class="DIRECTCUSTOMER,btn btn-info btn-rounded btn-sm waves-effect waves-light;CHANNELCUSTOMER,btn btn-teal btn-rounded btn-sm waves-effect waves-light;IDENTIFICATION,btn btn-success btn-rounded btn-sm waves-effect waves-light;"/>
                                    </td>
                                    <td>
                                        <a sec:authorize-url="/intellect/account/add/*"
                                           th:href="@{/intellect/account/add/{id}(id=${info.enterpriseId})}"
                                           class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                            <i class="glyphicon glyphicon-plus-sign"
                                               style="margin-right:5px"></i>开通智能短信账号</a>
                                    </td>
                                </tr>
                                <tr th:each="enterprise:${info.enterprises}" class="m-t-20">
                                     <td>
                                                <div style="float:left;margin-top:-12px;margin-left:13px;width:25px;height:25px;border-left:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC"></div>
                                                <span style="color:#797979">[[${enterprise.enterpriseName}]]</span>
                                     </td>
                                     <td>[[${enterprise.enterpriseContacts}]]</td>
                                    <td>
                                        <mpm:tag identity="corporation" show-type="label" key="code"
                                                 th:value="${enterprise.accessCorporation}"/>
                                    </td>
                                    <td>
                                        <mpm:tag identity="enterpriseType" show-type="button" key="code"
                                                 th:value="${enterprise.enterpriseType}"
                                                 class="DIRECTCUSTOMER,btn btn-info btn-rounded btn-sm waves-effect waves-light;CHANNELCUSTOMER,btn btn-teal btn-rounded btn-sm waves-effect waves-light;IDENTIFICATION,btn btn-success btn-rounded btn-sm waves-effect waves-light;"/>
                                    </td>
                                    <td>
                                        <a sec:authorize-url="/intellect/account/add/*"
                                           th:href="@{/intellect/account/add/{id}(id=${enterprise.enterpriseId})}"
                                           class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                            <i class="glyphicon glyphicon-plus-sign"
                                               style="margin-right:5px"></i>开通智能短信账号</a>
                                    </td>
                                </tr>
                                </span>
                                </tbody>
                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>


            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->


        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script>


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>