<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">无访问权限 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            无访问权限
                        </li>

                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<!-- Modal-Effect -->

<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>