<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>

</head>
<body class="fixed-left">
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="#" class="logo"><span><span>[[${@systemProperties.systemName}]]</span></span><i
                    class="mdi mdi-cube"></i></a>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">

                <!-- Navbar-left -->
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    <li th:each="type,typeStat:${businessTypes}"  class="hidden-xs" th:style="${type.id == activeId?'background-color:#e34724':''}" th:id="${typeStat.index+1}" th:onclick="|select(${typeStat.index+1})|">
                        <a  th:href="@{/message/{id}(id=${type.id})}" class="menu-item waves-effect waves-light" style="font-size:16px;font-weight:600;color:#fff">[[${type.text}]]</a>
                    </li>




                </ul>

                <!-- Right(Notification) -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown user-box">
                        <a href="" class="dropdown-toggle right-menu-item" data-toggle="dropdown"
                           aria-expanded="true" title="个人属性">
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li>
                                <h5>[[${session.user.userName}]]</h5>
                            </li>
                            <!--<li sec:authorize-url="/sysUser/userProfile/*"><a
                                    th:href="@{/sysUser/userProfile/{userId}(userId=${session.user.id})}"
                                    target="iframe"><i class="ti-user m-r-5"></i> 个人属性</a></li>-->
                            <li sec:authorize-url="/sysUser/resetPassword"><a th:href="@{/sysUser/resetPassword}"
                                                                              target="iframe"><i
                                    class="ti-lock m-r-5"></i> 重置密码</a></li>
                            <li sec:authorize-url="/userCache/clearUserCache"><a th:href="@{/userCache/clearUserCache}"
                                                                                 target="iframe">
                                <i class="ti-settings m-r-5"></i> 清除缓存</a></li>
                            <li><a th:href="@{/logout}"><i class="ti-power-off m-r-5"></i> 安全退出</a></li>
                        </ul>
                    </li>
                </ul> <!-- end navbar-right -->
            </div><!-- end container -->
        </div><!-- end navbar -->
    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">

            <!--- Sidemenu -->
            <div id="sidebar-menu" th:remove="${#strings.isEmpty(error)}?none:all">
                <div class="user-details" style="min-height:62px;padding-top:1px;background-color:#00acc1;">
                    <div style="font-size:16px;font-weight:600;color:#fff;text-align:center;line-height:62px">
                        [[${businessTypeName}]]
                    </div>
                </div>

                <div class="dropdown" id="setting-dropdown">
                    <ul class="dropdown-menu">
                        <!--<li sec:authorize-url="/sysUser/userProfile/*"><a
                                th:href="@{/sysUser/userProfile/{userId}(userId=${session.user.id})}"
                                target="iframe"><i class="ti-user m-r-5"></i> 个人属性</a></li>-->
                        <li sec:authorize-url="/sysUser/resetPassword"><a th:href="@{/sysUser/resetPassword}"
                                                                          target="iframe"><i
                                class="ti-lock m-r-5"></i> 重置密码</a></li>
                        <li sec:authorize-url="/userCache/clearUserCache"><a th:href="@{/userCache/clearUserCache}"
                                                                             target="iframe">
                            <i class="ti-settings m-r-5"></i> 清除缓存</a></li>
                        <li><a th:href="@{/logout}"><i class="ti-power-off m-r-5"></i> 安全退出</a></li>
                    </ul>
                </div>
                <ul>
                    <div th:each="menu,status:${menus.data}" th:remove="tag">
                        <li class="menu-title" th:text="${menu.getText()}">Navigation</li>
                        <li th:each="node:${menu.getNodes()}" th:class="${node.isLazyLoad()} ? 'has_sub':''">
                            <a th:href="${node.isLazyLoad()}? 'javascript:void(0);': @{/{href}(href=${node.getHref()})}"
                               th:target="${node.isLazyLoad()} ? '':'iframe'" class="waves-effect"><i
                                    th:class="${node.getIcon()}" style="color: #3AC9D6"></i>
                                <span> [[${node.getText()}]] <span th:remove="${node.isLazyLoad()} ?'none':'all'"
                                                                   class="menu-arrow"></span></span> </a>
                            <ul th:remove="${node.isLazyLoad()} ? 'none':'all'" class="list-unstyled" >
                                <li th:each="leaf:${node.getNodes()}"><a th:href="@{/{href}(href=${leaf.getHref()})}"
                                                                         target="iframe"> [[${leaf.getText()}]]</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>
            <!--<div th:if="${!#strings.isEmpty(@systemProperties.helpMobile)}" class="help-box">
                <h5 class="text-muted m-t-0">需要帮助 ?</h5>
                <p class="m-b-0"> [[${@systemProperties.helpMobile}]] </p>
            </div>-->
        </div>
        <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->


    <!-- /Right-bar -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <div class="help-box" style="margin-top:160px" th:remove="${#strings.isEmpty(error)}?all:none">
            <h5 class="text-muted m-t-20">出错了！</h5>
            <p class="m-b-0">[[${error}]]</p>
        </div>
        <iframe name="iframe" id="iframe" th:remove="${#strings.isEmpty(error)}?none:all"
                th:src="@{/{url}(url=${indexUrl})}"
                style="padding: 0px; width: 100%;margin-bottom: 20px" scrolling="yes" onload="changeFrameHeight()"
                frameborder="0"></iframe>
    </div>
    <footer class="footer text-right">
        [[${@systemProperties.companyName}]] All Rights Reserved
    </footer>

</div>
<!-- END wrapper -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<!-- ============================================================== -->
<!-- resize  windows-->
<!-- ============================================================== -->
<script>

    function changeFrameHeight() {
        var ifm = document.getElementById("iframe");
        ifm.height = document.documentElement.clientHeight - 90;
    }

    window.onresize = function () {
        changeFrameHeight();
    };

    function select(id){
       for(var i =1;i<5;i++){
         $("#"+i).removeAttr("style");
       }
       $("#"+id).css("background-color","#e34724");


    }

    //隐藏进度项
    $('#preloader').css('display', 'none');
    var resizefunc = [];
</script>
</body>
</html>