<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/mmTemplate.css}" rel="stylesheet"/>

    <!-- Nestable css -->
    <link th:href="@{/static/plugins/nestable/jquery.nestable.css}" rel="stylesheet" />

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">
                        <mpm:tag identity="helpSelfType"
                                 th:value="${signType}" show-type="label"
                                 key="code"/>
                        发送
                    </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            短信群发
                        </li>
                        <li class="active">
                            <mpm:tag identity="helpSelfType"
                                     th:value="${signType}" show-type="label"
                                     key="code"/>
                            发送
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/message/save/{op}(op=${op})}"
                          th:object="${messageWebTaskInfoValidator}"
                          method="post" data-parsley-validate="" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-20">
                                    <input type="file" name="file" id="filer_name"
                                           multiple="multiple">

                                    <div class="form-group m-b-20">
                                        <label>短信内容<span class="text-danger">*</span>&nbsp;<b
                                                id="charAmount-id"></b></span>
                                            <span class="text-danger" th:if="${#fields.hasErrors('messageContent')}"
                                                  th:errors="*{messageContent}"></span></label><br>
                                        <textarea id="messageContent" class="form-control" th:field="*{messageContent}"
                                                  required="" data-parsley-length="[2,2100]" autocomplete="off"
                                                  onfocus="showTemplate()"
                                                  rows="10" readonly placeholder="请选择短信模板"></textarea>
                                    </div>


                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end row -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="iphone">
                                        <div class="iphone-top">
                                            <span class="camera"></span>
                                            <!--<span class="sensor"></span>
                                            <span class="speaker"></span>-->
                                        </div>
                                        <div class="top-bar"></div>
                                        <div class="iphone-screen" style="overflow-y:scroll;overflow-x:hidden">
                                            <div style="width: 100%;text-align: center;margin-top: 10px" id="media_div">



                                            </div>
                                            <div id="frame_preview_txt_id" style="margin-left: 10px; text-align: left;margin-top: 40px;font-size: 20px;word-break: break-all;white-space: normal;">

                                                <div class="custom-dd dd" id="nestable_list_1">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="11">
                                                            <div class="dd-handle" style="background:white">
                                                                Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11Item 11
                                                            </div><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i>
                                                        </li>
                                                        <li class="dd-item" data-id="12">
                                                            <div class="dd-handle" style="background:white">
                                                                <img id="frame_preview_img_id" th:src="@{/resource/show/f4b47e3a991b4d53b94f4354a1989b7d}"
                                                                     style="height: auto;">
                                                            </div><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i>
                                                        </li>
                                                        <li class="dd-item" data-id="13">
                                                            <div class="dd-handle">
                                                                <video id="video_id" controls autoplay  th:src="@{/resource/show/722b9925da674827b3bee8a49658d954}"> </video>
                                                            </div>
                                                        </li>
                                                        <li class="dd-item" data-id="14">
                                                            <div class="dd-handle">
                                                                <audio id="audio_id" controls autoplay></audio>
                                                            </div>
                                                        </li>

                                                    </ol>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="buttons">
                                            <span class="on-off"></span>
                                            <span class="sleep"></span>
                                            <span class="up"></span>
                                            <span class="down"></span>
                                        </div>
                                        <div class="bottom-bar"></div>
                                        <div class="iphone-bottom">
                                            <span></span>
                                        </div>
                                    </div>


                                </div>


                            </div> <!-- end col -->


                        </div>


                    </form>
                    <!-- end form -->

                </div> <!-- end card-box -->
            </div> <!-- end col -->


        </div>
        <!-- end row -->

        <div id="template_list" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="a-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom: 0;">
                        <div class="form-group  col-sm-3">
                            <input id="template_id_query" type="text" class="form-control" autocomplete="off"
                                   placeholder="模板ID">
                        </div>
                        <div class="form-group  col-sm-3">
                            <input id="keyword_query" type="text" class="form-control" autocomplete="off"
                                   placeholder="模板关键字">
                        </div>
                        <div class="form-group  col-sm-6">
                            <button type="button" onclick="showTemplate()"
                                    class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                    </div>
                    <div class="modal-body" style="height: 350px">
                        <div class="col-sm-12">
                            <table class="table table table-hover m-10" style="width: 100%;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th width="15%">模版ID</th>
                                    <th width="75%" style="text-align: center">模版内容</th>
                                    <th width="10%" style="text-align: center">操作</th>
                                </tr>
                                <thead>
                                <tbody id="template_list_id">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-fixed-header_paginate">
                                <ul class="pagination pull-right">
                                    <li id="prePage_id" class="paginate_button next"
                                        aria-controls="datatable-fixed-header" tabindex="0"><a href="#"
                                                                                               onclick="prePage()">上一页</a>
                                    </li>
                                    <li class="paginate_button next" aria-controls="datatable-fixed-header"
                                        tabindex="0"><a href="#"><font id="cruPage_id">1</font>/<font
                                            id="pages_id">1</font></a></li>
                                    <li id="nextPage_id" class="paginate_button next"
                                        aria-controls="datatable-fixed-header" tabindex="0"><a href="#"
                                                                                               onclick="nextPage()">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>

    </div> <!-- container -->
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/js/testUploadFile.js}"></script>
<script th:src="@{/static/plugins/jquery.filer/js/jquery.filer.min.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>

<!--script for this page only-->
<script th:src="@{/static/plugins/nestable/jquery.nestable.js}"></script>
<script th:src="@{/static/assets/pages/jquery.nestable.init.js}"></script>

<script th:remove="${#strings.isEmpty(error)}?none:all">


    var currentPage = 1;
    var pages = 1;

    function prePage() {
        currentPage = currentPage - 1;
        showTemplate();
    }

    function nextPage() {
        currentPage = currentPage + 1;
        showTemplate();
    }

    function showTemplate() {
        $("#template_list_id").html("");

        var templateId = $("#template_id_query").val();
        var templateFlag = $("#messageType").val();
        var keyword = $("#keyword_query").val();
        var businessType = $("#businessType").val();
        var businessAccount = $("#businessAccount").val();
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            url: contextPath + "/template/templateAjax",
            data: "{\"businessType\":\"" + businessType + "\",\"businessAccount\":\"" + businessAccount + "\", \"templateId\":\"" + templateId + "\",\"templateFlag\":\"" + templateFlag + "\", \"keyword\":\"" + keyword + "\", \"currentPage\":\"" + currentPage + "\"}",
            success: function (data) {
                var tList = data.list;
                currentPage = data.currentPage;
                pages = data.pages;
                if (currentPage <= 1) {
                    $("#prePage_id").hide();
                } else {
                    $("#prePage_id").show();
                }
                if (currentPage >= pages) {
                    $("#nextPage_id").hide();
                } else {
                    $("#nextPage_id").show();
                }

                $("#cruPage_id").html(currentPage);
                $("#pages_id").html(pages);
                for (i = 0; i < tList.length; i++) {
                    var tmp = tList[i];
                    var valueStr = JSON.stringify(tmp);

                    var trHtml = "<tr>" +
                        "<td style='vertical-align: middle;line-height: 26px'>" + tmp.templateId + "</td>" +
                        "<td style='vertical-align: middle;line-height: 26px'><span class='text-overflow' title='" + tmp.templateContent + "'>" + '【' + tmp.signName + '】' + tmp.templateContent + "</span></td>" +
                        "<td style='vertical-align: middle;line-height: 26px; text-align: center'><a href='#' onclick='setTemplate(" + valueStr + ")' class='btn btn-success btn-rounded btn-sm waves-effect waves-light'>选择</a></td>" +
                        "</tr>";
                    $("#template_list_id").append(trHtml);
                }

                $("#template_list").modal();
            }, error: function (data) {
                console.log("error");
            }
        });
    }

    function setTemplate(tm) {
        var messageType = $("#messageType").val();
        if ("1" == messageType) {
            $("#templateId").val(tm.templateId);
            $("#signName").val(tm.signName);
            $("#messageContent").val('【' + tm.signName + '】' + tm.templateContent);
            $("#frame_preview_txt_id").html('【' + tm.signName + '】' + tm.templateContent)

            //普通短信可根据模板字数计算拆分条数，变量短信要根据具体变量值替换后再计算
            var charAmount = ('【' + tm.signName + '】' + tm.templateContent).length;
            var splitNumber = 1;
            if (charAmount <= 70) {
                splitNumber = 1;
            } else {
                var amount_init_f = parseFloat(charAmount) / 67;
                splitNumber = Math.ceil(amount_init_f);
            }
            $("#charAmount-id").html("(短信内容共" + charAmount + "字，将按" + splitNumber + "条短信发送)");
            $("#splitNumber").val(splitNumber);
        }
        $("#template_list").modal("hide");
    }

</script>
<script th:remove="${#strings.isEmpty(error)}?none:all">


    $(function () {
        init_select_date_picker($("#timingTime"));
    });

    function init_select_date_picker(id) {
        id.daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
            pickTime: true,
            timePicker24Hour: true, //时间制
            drops: "up",
            minDate: moment(),
            locale: {
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['01月', '02月', '03月', '04月', '05月', '06月',
                    '07月', '08月', '09月', '10月', '11月', '12月'],
                format: 'YYYY-MM-DD HH:mm:ss',
                cancelLabel: 'Clear',
                applyLabel: '确定',
                cancelLabel: '取消',
            }
        });
        id.on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
        });
        id.on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    }

</script>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>