<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">变量<mpm:tag identity="infoType"
                                                    th:value="${signType}" show-type="label"
                                                    key="code"/>发送</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            短信群发
                        </li>
                        <li>
                            变量<mpm:tag identity="infoType"
                                     th:value="${signType}" show-type="label"
                                     key="code"/>发送
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/message/variable/page}"  th:object="${messageWebTaskInfoValidator}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group col-sm-3">
                                    <input id="dateQueryStr" class="form-control" type="text"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{businessAccount}"
                                           placeholder="账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{templateId}"
                                           placeholder="模板ID" autocomplete="off">
                                </div>

                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{messageContent}"
                                           placeholder="短信内容" autocomplete="off">
                                </div>

                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <input type="hidden" th:field="*{businessType}">
                                    <input type="hidden" th:field="*{infoType}">
                                    <button sec:authorize-url="/message/variable/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a th:sec:authorize-url="|/message/variable/add/${businessType}/${signType}|"
                                       th:href="@{/message/variable/add/{businessType}/{signType}(businessType=${businessType},signType=${signType})}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>
                                        变量<mpm:tag identity="infoType" th:value="${signType}" show-type="label"  key="code"/>群发</a>
                                    <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            变量 <mpm:tag identity="infoType"
                                     th:value="${signType}" show-type="label"
                                     key="code"/> 发送列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th style="width:130px">账号</th>
                                    <th style="width:170px">任务ID/模板ID</th>
                                    <th>发送内容</th>
                                    <th style="width:170px">发送号码数/接受号码数</th>
                                    <th style="width:155px">发送状态</th>
                                    <th style="width:200px">申请发送时间/实际发送时间</th>
                                    <th style="width:160px">操作 <a
                                            data-toggle="tooltip" data-placement="left"
                                            data-original-title="明细数据仅可查半年内，超过则无法查阅，请悉知。"
                                            class="on-default edit-row"
                                            style="padding-left:0px;color:#90A4CC;"><i class="mdi mdi-help-circle-outline" style="font-size:14px;margin-left:2px"></i></a></th>
                                </tr>
                                <thead>
                                <tbody>
                                    <tr th:each="info:${list}">
                                        <td style="vertical-align: middle;line-height: 26px">[[${info.businessAccount}]]</td>
                                        <td style="vertical-align: middle;line-height: 26px">[[${info.id}]]<br>[[${info.templateId}]]</td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            [[${info.messageContent}]]
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px;width:100px">
                                                <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                                      style="width:90px;text-align:left"
                                                      class="autonumber">[[${info.submitNumber}]]</span>/
                                            <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                                  style="width:90px;text-align:left"
                                                  class="autonumber">[[${info.successSendNumber}]]</span>
                                        </td>

                                        <td style="vertical-align: middle;line-height: 26px">
                                            <mpm:tag identity="messageStatus" show-type="button" key="code"
                                                     th:value="${info.sendStatus}"
                                                     class="01,btn btn-warning  waves-effect waves-light btn-xs;02,btn btn-success  waves-effect waves-light btn-xs;03,btn btn-brown   waves-effect waves-light btn-xs;04,btn btn-danger waves-effect waves-light btn-xs;05,btn btn-info waves-effect waves-light btn-xs;06,btn btn-purple waves-effect waves-light btn-xs"/>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px;width:160px"> [[${info.appleSendTime}]]<br>[[${info.sendTime}]]
                                        </td>
                                        <td style="vertical-align: middle;width:100px">
                                            <a sec:authorize-url="/message/detail/*"
                                               th:href="@{/message/detail/{id}(id=${info.id})}"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    data-original-title="明细"
                                                    class="on-default edit-row"
                                                    style="padding-left: 5px;color:#4BD396;"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/message/sendMessage/*"
                                               th:onclick="confirmSend([[${info.id}]], this)"
                                               data-toggle="modal" data-target="#confirm-send"
                                               class="on-default edit-row" style="padding-left: 5px;color: #29b6f6;" th:if="${info.sendStatus eq '05'}"
                                               data-placement="left" title="发送">
                                                <i style="font-size: 18px" class="glyphicon glyphicon-send"></i></a>
                                            <a sec:authorize-url="/message/edit/*"
                                               th:href="@{/message/edit/{id}(id=${info.id})}"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #29b6f6;" th:if="${info.sendStatus eq '05'}"
                                               data-toggle="tooltip"
                                               data-placement="left" title="" data-original-title="修改">
                                                <i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>

                                            <a sec:authorize-url="/message/deleteById/*"
                                               th:onclick="confirmDelete([[${info.id}]],this)"
                                               data-toggle="modal"
                                               data-target="#confirm-modal" class="on-default remove-row"
                                               style="padding-left: 5px;color: #f05050" th:if="${info.sendStatus eq '05'}"
                                               title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start row  删除确认-->
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
        <!-- end row -->

        <!-- start row  确认发送-->
        <th:block th:insert="fragments/common_fragments :: confirm-message-send"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>

<script th:remove="${#strings.isEmpty(error)}?none:all">

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + "/message/deleteById/" + $("#deleteId").val();
    }

    function confirmSend(id) {
        $("#sendId").val(id);
    }

    function sendById() {
        $('#preloader').css('display', 'block');
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        location.href = contextPath + '/message/sendMessage/' + $("#sendId").val() ;
    }


    $('#dateQueryStr').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '[[${messageWebTaskInfoValidator.startDate}]]',
        endDate: '[[${messageWebTaskInfoValidator.endDate}]]',
        minDate: '2019-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 365
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });

    $(document).ready(function() {
        $('.autonumber').autoNumeric('init');
    });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');




</script>
</body>
</html>