<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title"><mpm:tag identity="helpSelfType"
                                                    th:value="${signType}" show-type="label"
                                                    key="code"/>发送</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            短信群发
                        </li>
                        <li class="active">
                            <mpm:tag identity="helpSelfType"
                                     th:value="${signType}" show-type="label"
                                     key="code"/>发送
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form" th:action="@{/message/save/{op}(op=${op})}"
                          th:object="${messageWebTaskInfoValidator}"
                          method="post" data-parsley-validate="" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="p-20">

                                    <div class="form-group m-b-20">
                                        <label>业务账号<span class="text-danger">*</span>
                                            <span class="text-danger" th:if="${#fields.hasErrors('businessAccount')}"
                                                  th:errors="*{businessAccount}"></span></label>
                                        <select name="businessAccount" data-style="btn-default" th:if="${not #lists.isEmpty(list)}"
                                                class="selectpicker  form-control" tabindex="-98" 　required="true">
                                            <option data-icon="mdi mdi-account" th:each="info:${list}"
                                                    th:selected="${messageWebTaskInfoValidator.businessAccount eq info.accountId}" th:value="${info.accountId}">[[${info.accountId}]]([[${info.AccountName}]])</option>
                                        </select>
                                        <span th:if="${#lists.isEmpty(list)}" class="form-control" style="color: red">未开通业务账号</span>
                                    </div>

                                    <div class="form-group m-b-20">
                                        <label>短信内容<span class="text-danger">*</span>&nbsp;<b id="charAmount-id"></b></span>
                                            <span class="text-danger" th:if="${#fields.hasErrors('messageContent')}"
                                                  th:errors="*{messageContent}"></span></label><br>
                                        <textarea id="messageContent" class="form-control" th:field="*{messageContent}"
                                                  required="" data-parsley-length="[2,500]" autocomplete="off" onfocus="showTemplate()"
                                                  rows="10" readonly></textarea>
                                    </div>

                                    <div class="form-group m-b-20" th:if="${messageWebTaskInfoValidator.messageType eq '1'}">
                                        <label>手机号&nbsp;
                                            <span class="text-danger" th:if="${#fields.hasErrors('inputNumber')}"
                                                  th:errors="*{inputNumber}"></span></label>
                                        <textarea class="form-control" th:field="*{inputNumber}"
                                                  data-parsley-length="[11,5000000]" autocomplete="off"
                                                  rows="5"   placeholder="请输入手机号以英文逗号分隔，如：136xxxxxxxx,180xxxxxxxx"></textarea>

                                    </div>

                                    <div class="form-group m-b-20">
                                        <label>发送方式<span class="text-danger">*</span>&nbsp;
                                            <span class="text-danger" th:if="${#fields.hasErrors('sendType')}"
                                                  th:errors="*{sendType}"></span></label>
                                        <br/>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1" name="sendType" value="1" th:field="*{sendType}" th:checked="${messageWebTaskInfoValidator.sendType == 1}">
                                            <label for="inlineRadio1"> 立即发送 </label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio2" name="sendType" value="2" th:field="*{sendType}" th:checked="${messageWebTaskInfoValidator.sendType == 2}">
                                            <label for="inlineRadio2"> 定时发送 &nbsp;</label>
                                            <input id="timingTime" type="text" th:field="*{timingTime}" autocomplete="off" placeholder="选择时间" style="border: 0;border-bottom: 1px solid rgba(152, 152, 152, 0.8);width: 200px;">
                                        </div>
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end row -->

                            <div class="col-md-6">
                                <div class="alert alert-icon" style="background-color: #00acc1" th:if="${messageWebTaskInfoValidator.messageType eq '1'}">
                                    <i class="mdi mdi-block-helper"></i>
                                    <strong>提醒!</strong> 手动输入手机号和上传手机号文件，只能选择一种方式。
                                </div>
                                <div class="form-group m-b-20">
                                    <label>上传手机号文件（<a sec:authorize-url="/message/downFileTemp/*" th:onclick="downFile('1')" th:if="${messageWebTaskInfoValidator.messageType eq '1'}">下载txt模板</a>
                                        <a sec:authorize-url="/message/downFileTemp/*" th:onclick="downFile('2')" th:if="${messageWebTaskInfoValidator.messageType eq '2'}">下载txt模板</a>）
                                        <span class="text-danger" th:if="${#fields.hasErrors('numberFiles')}"
                                              th:errors="*{numberFiles}"></span></label><br>
                                    <input type="file" name="file" id="filer_name"
                                           multiple="multiple">

                                </div>

                            </div> <!-- end col -->


                        </div>

                        <div class="text-center">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" th:field="*{createdTime}">
                            <input type="hidden" th:field="*{createdBy}">
                            <input type="hidden" th:field="*{numberFiles}" id="originalAttachment">
                            <input type="hidden" th:field="*{sendNumberAttachment}" id="sendFilePath">
                            <input type="hidden" th:field="*{exceptionNumberAttachment}">
                            <input type="hidden" th:field="*{submitNumber}" id="sendNumberId">
                            <input type="hidden" th:field="*{numberAttachmentSize}" id="originalAttachmentSize">
                            <input type="hidden" th:field="*{businessType}">
                            <input type="hidden" th:field="*{infoType}">
                            <input type="hidden" th:field="*{templateId}" id="templateId">
                            <input type="hidden" th:field="*{sendStatus}">
                            <input type="hidden" th:field="*{enterpriseId}">
                            <input type="hidden" th:field="*{messageType}">
                            <input type="hidden" id="path" name="path" th:value="${#httpServletRequest.getContextPath()}">
                            <button sec:authorize-url="/message/save/*" type="submit"
                                    class="btn btn-teal waves-effect waves-light">提交
                            </button>
                            <a th:sec:authorize-url="|/message/list/${businessType}/${signType}|" th:if="${messageWebTaskInfoValidator.messageType eq '1'}"
                               th:href="@{/message/list/{businessType}/{signType}(businessType=${businessType},signType=${signType})}"
                               class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                            <a th:sec:authorize-url="|/message/variable/list/${businessType}/${signType}|" th:if="${messageWebTaskInfoValidator.messageType eq '2'}"
                               th:href="@{/message/variable/list/{businessType}/{signType}(businessType=${businessType},signType=${signType})}"
                               class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                        </div>
                    </form>
                    <!-- end form -->

                </div> <!-- end card-box -->
            </div> <!-- end col -->




        </div>
        <!-- end row -->

        <div id="template_list" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="a-width-modalLabel" aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom: 0;">
                        <div class="form-group  col-sm-3">
                            <input id="template_id_query" type="text" class="form-control" autocomplete="off" placeholder="模板ID">
                        </div>
                        <div class="form-group  col-sm-3">
                            <input id="keyword_query" type="text" class="form-control" autocomplete="off" placeholder="模板关键字">
                        </div>
                        <div class="form-group  col-sm-6">
                            <button type="button" onclick="showTemplate()" class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                    </div>
                    <div class="modal-body" style="height: 350px">
                        <div class="col-sm-12">
                            <table class="table table table-hover m-10" style="width: 100%;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th width="15%">模版ID</th>
                                    <th width="75%" style="text-align: center">模版内容</th>
                                    <th width="10%" style="text-align: center">操作</th>
                                </tr>
                                <thead>
                                <tbody id="template_list_id">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-fixed-header_paginate">
                                <ul class="pagination pull-right">
                                    <li id="prePage_id" class="paginate_button next" aria-controls="datatable-fixed-header" tabindex="0"><a href="#" onclick="prePage()">上一页</a></li>
                                    <li class="paginate_button next" aria-controls="datatable-fixed-header" tabindex="0"><a href="#"><font id="cruPage_id">1</font>/<font id="pages_id">1</font></a></li>
                                    <li id="nextPage_id" class="paginate_button next" aria-controls="datatable-fixed-header" tabindex="0"><a href="#" onclick="nextPage()">下一页</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>

    </div> <!-- container -->
</div> <!-- content -->
<div id="tip-div" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="template-width-modalLabel" aria-hidden="true" style="display: none;margin: 60px">
    <div class="modal-dialog" style="width:33%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p id="tip-content"></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary waves-effect waves-light" data-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/js/messageUploadFile.js}"></script>
<script th:src="@{/static/plugins/jquery.filer/js/jquery.filer.min.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>

<script>

    var currentPage = 1;
    var pages = 1;
    function prePage(){
        currentPage = currentPage - 1;
        showTemplate();
    }
    function nextPage(){
        currentPage = currentPage + 1;
        showTemplate();
    }

    function showTemplate(){
        $("#template_list_id").html("");

        var templateId = $("#template_id_query").val();
        var templateFlag = $("#messageType").val();
        var keyword = $("#keyword_query").val();
        var businessType = $("#businessType").val();
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType : 'application/json',
            url: contextPath + "/template/templateAjax",
            data:"{\"businessType\":\""+businessType+"\", \"templateId\":\""+templateId+"\",\"templateFlag\":\""+templateFlag+"\", \"keyword\":\""+keyword+"\", \"currentPage\":\""+currentPage+"\"}",
            success: function (data) {
                var tList = data.list;
                currentPage = data.currentPage;
                pages = data.pages;
                if(currentPage<=1){
                    $("#prePage_id").hide();
                }else{
                    $("#prePage_id").show();
                }
                if(currentPage>=pages){
                    $("#nextPage_id").hide();
                }else{
                    $("#nextPage_id").show();
                }

                $("#cruPage_id").html(currentPage);
                $("#pages_id").html(pages);
                for(i=0;i<tList.length;i++){
                    var tmp = tList[i];
                    var valueStr = JSON.stringify(tmp);

                    var trHtml = "<tr>" +
                        "<td style='vertical-align: middle;line-height: 26px'>" + tmp.templateId + "</td>" +
                        "<td style='vertical-align: middle;line-height: 26px'><span class='text-overflow' title='"+tmp.templateContent+"'>" + tmp.templateContent + "</span></td>" +
                        "<td style='vertical-align: middle;line-height: 26px; text-align: center'><a href='#' onclick='setTemplate("+valueStr+")' class='btn btn-success btn-rounded btn-sm waves-effect waves-light'>选择</a></td>" +
                        "</tr>";
                    $("#template_list_id").append(trHtml);
                }

                $("#template_list").modal();
            }, error: function (data) {
                console.log("error");
            }
        });
    }

    function setTemplate(tm){
        $("#templateId").val(tm.templateId);
        $("#signName").val(tm.signName);
        $("#messageContent").val('【'+tm.signName+'】'+tm.templateContent);

        //普通短信可根据模板字数计算拆分条数，变量短信要根据具体变量值替换后再计算
        var charAmount = ('【'+tm.signName+'】'+tm.templateContent).length;
        var splitNumber = 1;
        if(charAmount<=70){
            splitNumber = 1;
        }else{
            var amount_init_f = parseFloat(charAmount)/67;
            splitNumber = Math.ceil(amount_init_f);
        }
        $("#charAmount-id").html("(短信内容共"+charAmount+"字，将按"+splitNumber+"条短信发送)");

        $("#template_list").modal("hide");
    }

</script>
<script>

    function downFile(type) {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        location.href = contextPath + "/message/downFileTemp/" + type;
    }


    $(function() {
        init_select_date_picker($("#timingTime"));
    });
    function init_select_date_picker(id){
        id.daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
            pickTime:true,
            timePicker24Hour: true, //时间制
            drops: "up",
            minDate: moment(),
            locale : {
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '01月', '02月', '03月', '04月', '05月', '06月',
                    '07月', '08月', '09月', '10月', '11月', '12月' ],
                format : 'YYYY-MM-DD HH:mm:ss' ,
                cancelLabel: 'Clear',
                applyLabel : '确定',
                cancelLabel : '取消',
            }
        });
        id.on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:ss') );
        });
        id.on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    }

</script>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>