<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">企业财务账户中心</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            财务管理
                        </li>
                        <li>
                            财务账号管理
                        </li>
                        <li class="active">
                            企业财务账户中心
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  页面数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="row">
                                        <h4>
                                            <div class="pull-right" style="margin-right:10px;">
                                                <a sec:authorize-url="/finance/account/list"
                                                   th:href="@{/finance/account/list}"
                                                   class="btn btn-default waves-effect waves-light btn-md">
                                                    <i class="glyphicon  glyphicon-share-alt" style="margin-right:5px"></i>
                                                    返回财务账户列表</a>
                                                <a sec:authorize-url="/enterprise/center/*"
                                                   th:href="@{/enterprise/center/{id}(id=${enterpriseBasicInfoValidator.enterpriseId})}"
                                                   style="margin-left:10px;"
                                                   class="btn btn-facebook waves-effect waves-light btn-md">
                                                    <i class="mdi mdi-vector-circle" style="margin-right:5px"></i>
                                                    企业基本信息
                                                </a>
                                                <a  sec:authorize-url="/account/center/*"
                                                    th:href="@{/account/center/{enterpriseId}(enterpriseId=${enterpriseBasicInfoValidator.enterpriseId})}"
                                                   style="margin-left:10px;"
                                                   class="btn btn-instagram waves-effect waves-light btn-md">
                                                    <i class="mdi mdi-vector-circle" style="margin-right:5px"></i>
                                                    企业业务账号中心
                                                </a>
                                            </div>
                                        </h4>
                                    </div>
                                    <div id="help" class="row" style="margin-top:20px;">
                                        <div class="col-sm-12">
                                            <div class="detail">
                                                <ul>
                                                    <li>
                                                        <h2 style="color: #fff">[[${enterprise.enterpriseName}]] 账户统计</h2>
                                                        <span></span>
                                                        <div class="detailInner">
                                                            <a>总可用（元）：<span data-d-group="4" data-a-sign="¥ "
                                                                            style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                                            readonly class="autonumber">[[${count.get('ACCOUNT_USABLE_SUM')}]]</span></a><i></i>
                                                            <a>总冻结（元）：<span data-d-group="4" data-a-sign="¥ "
                                                                            style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                                            readonly class="autonumber">[[${count.get('ACCOUNT_FROZEN_SUM')}]]</span></a><i></i>
                                                            <a>总消费（元）：<span data-d-group="4" data-a-sign="¥ "
                                                                            style="color:#fff;width:120px;background-color:#0095a8;text-align:left"
                                                                            readonly class="autonumber">[[${count.get('ACCOUNT_CONSUME_SUM')}]]</span></a><i></i>
                                                            <a>总充值（元）：<span data-d-group="4" data-a-sign="¥ "
                                                                            style="color:#fff;width:120px;background-color:#0095a8;text-align:left"
                                                                            readonly class="autonumber">[[${count.get('ACCOUNT_RECHARGE_SUM')}]]</span></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-lg-12" style="margin-top:0px">
                                            <div class="panel panel-color panel-info">
                                                <div id="login-account-down" class="panel-heading"
                                                     style="display:block">
                                                    <h3 class="panel-title">
                                                        <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                                        [[${enterprise.enterpriseName}]] 财务账户信息
                                                    </h3>
                                                </div>
                                                <div class="panel-body" style="padding-bottom:0px">
                                                    <div th:each="account:${financeAccounts}" class="row">
                                                        <div class="col-md-12">
                                                            <div class="property-card property-horizontal"
                                                                 style="margin-bottom:15px;">
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="property-content"
                                                                             style="height:232px">
                                                                            <div class="listingInfo">
                                                                                <div class="">
                                                                                    <h5 style="padding-left:10px"></h5>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <p style="font-size:12px">
                                                                                        业务账号：[[${account.accountId}]]</p>
                                                                                    <p style="font-size:12px">
                                                                                        业务账号名称：[[${account.accountName}]]</p>
                                                                                    <p style="font-size:12px">
                                                                                        业务类型：  <mpm:tag id="businessType" identity="businessType" class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"
                                                                                                        name="businessType" show-type="button"  key="code"
                                                                                                        th:value="${account.accountType}" title="业务类型"/>
                                                                                    </p>
                                                                                    <p style="font-size:12px">
                                                                                        共享状态：  <mpm:tag id="isOrNo" identity="isOrNo" class="0,btn btn-info btn-rounded btn-ms waves-effect waves-light;1,btn btn-danger btn-rounded btn-ms waves-effect waves-light;"
                                                                                                        name="isOrNo" show-type="button"  key="code"
                                                                                                        th:value="${account.isShare}" title="共享状态"/>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <p style="font-size:12px">
                                                                                        账户可用余额： ¥ [[${#numbers.formatDecimal(account.accountUsableSum,1,'COMMA',2,'POINT')}]]
                                                                                    </p>
                                                                                    <p style="font-size:12px">
                                                                                        账户冻结金额：¥ [[${#numbers.formatDecimal(account.accountFrozenSum,1,'COMMA',2,'POINT')}]]
                                                                                    </p>
                                                                                    <p style="font-size:12px">
                                                                                        账户消费总金额：¥ [[${#numbers.formatDecimal(account.accountConsumeSum,1,'COMMA',2,'POINT')}]]
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-sm-4">
                                                                                    <p style="font-size:12px">
                                                                                        账户充值总金额：¥ [[${#numbers.formatDecimal(account.accountRechargeSum,1,'COMMA',2,'POINT')}]]
                                                                                    </p>
                                                                                    <p style="font-size:12px">
                                                                                        授信额度： ¥ [[${#numbers.formatDecimal(account.accountCreditSum,1,'COMMA',2,'POINT')}]]
                                                                                    </p>
                                                                                    <p style="font-size:12px">
                                                                                        状态： <mpm:tag id="accountStatus" identity="dataStatus" class="1,btn btn-info btn-rounded btn-ms waves-effect waves-light;0,btn btn-danger btn-rounded btn-ms waves-effect waves-light;"
                                                                                                     name="accountStatus" show-type="button"  key="code"
                                                                                                     th:value="${account.accountStatus}" title="账号状态"/>
                                                                                    </p>

                                                                                </div>
                                                                                <div class="property-action">

                                                                                    <div class="pull-right">
                                                                                        <a sec:authorize-url="/finance/account/recharge/*/*"
                                                                                           th:href="@{/finance/account/recharge/{accountId}/{enterpriseId}(enterpriseId=${enterprise.enterpriseId},accountId=${account.accountId})}"
                                                                                           class="btn btn-info"
                                                                                           style="font-size:12px;">充值</a>
                                                                                        <a sec:authorize-url="/finance/account/view/*/*" th:href="@{/finance/account/view/{accountId}/{enterpriseId}(enterpriseId=${enterprise.enterpriseId},accountId=${account.accountId})}"
                                                                                           class="btn btn-teal"
                                                                                           style="font-size:12px;">明细</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <!-- /col 8 -->
                                                                </div>
                                                                <!-- /inner row -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- end row -->
                                </div> <!-- end col -->

                            </div> <!-- end row -->

                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    $(document).ready(function () {
        $('.autonumber').autoNumeric('init');
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>