<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">财务账号退款</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            财务管理
                        </li>
                        <li>
                            财务账户管理
                        </li>
                        <li>
                            财务账号退款
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-6">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            财务账号退款
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 552px">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group m-b-20">
                                        企业名称：<label>[[${enterprise.enterpriseName}]]</label>
                                    </div>
                                    <div class="form-group m-b-20">
                                        业务类型：<mpm:tag identity="businessType" show-type="button"
                                                      key="code" th:value="${accountBasicInfoValidator.businessType}"
                                                      class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>
                                    </div>
                                    <div class="form-group m-b-20">
                                        业务账号：<label>[[${accountBasicInfoValidator.accountId}]]</label>
                                    </div>
                                    <div class="form-group m-b-20">
                                        业务账号名称：[[${accountBasicInfoValidator.accountName}]]</p>
                                    </div>
                                    <div class="form-group m-b-20">
                                        账户可用余额： ¥ [[${financeAccountValidator.accountUsableSum}]]

                                    </div>
                                    <div class="form-group m-b-20">
                                        账户冻结金额： ¥ [[${financeAccountValidator.accountFrozenSum}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        账户消费总金额：¥ [[${financeAccountValidator.accountConsumeSum}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        账户充值总金额：¥ [[${financeAccountValidator.accountRechargeSum}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        授信额度：¥ [[${financeAccountValidator.accountCreditSum}]]
                                    </div>

                                    <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                                        <i class="mdi mdi-block-helper"></i>
                                        <strong>提醒!</strong> 请在退款前，认真确认以上账号信息。
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="panel panel-color panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            退款信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 552px">
                        <form id="submit_form" th:action="@{/finance/account/refund/save}" th:object="${financeAccountRefundValidator}"
                              method="post" data-parsley-validate="">
                            <div class="p-20">
                                <div class="form-group m-b-20">
                                    <label for="e3Name">退款流水号<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="e3Name" type="text" class="form-control"
                                           readonly autocomplete="off" th:field="*{refundFlowNo}"
                                           placeholder="流水号自动生成">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="eName" class="text-danger">退款金额<span class="text-danger">*</span>&nbsp;
                                        <span class="text-danger" th:if="${#fields.hasErrors('refundSum')}"
                                                th:errors="*{refundSum}" style="font-weight: 200;font-size: 12px"></span>
                                    </label>
                                    <input id="eName" type="text" class="form-control"
                                           required="" data-parsley-length="[1,24]" data-parsley-min="0.01" autocomplete="off" th:field="*{refundSum}"
                                           placeholder="退款金额">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="linkk">操作人<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="linkk" type="text" class="form-control" th:field="*{createdBy}"
                                           required="" readonly autocomplete="off">
                                </div>

                                <div class="form-group m-b-20">
                                    <label for="address">操作时间<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="address" type="text" class="form-control" th:field="*{createdTime}" readonly
                                           required="">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="remark">退款备注&nbsp;</label>
                                    <input id="remark" type="text" class="form-control"
                                            autocomplete="off" th:field="*{remark}" data-parsley-length="[1,255]"
                                           placeholder="备注">
                                </div>
                            </div>
                            <div class="text-center" style="margin-bottom:30px">
                                <input type="hidden" th:field="*{accountId}">
                                <input type="hidden" th:field="*{refundSource}">
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{enterpriseId}">
                                <button sec:authorize-url="/finance/account/refund/save" type="submit"
                                        class="btn btn-teal waves-effect waves-light">提交</button>
                                <a sec:authorize-url="/finance/account/list" th:href="@{/finance/account/list}" style="margin-left:20px"
                                   class="btn btn-default waves-effect waves-light">返回</a>
                                <a sec:authorize-url="/finance/account/center/*"
                                   th:href="@{/finance/account/center/{enterpriseId}(enterpriseId=${enterprise.enterpriseId})}"
                                   style="margin-left:20px;"
                                   class="btn btn-tumblr waves-effect waves-light btn-md">
                                    <i class="mdi mdi-vector-circle" style="margin-right:5px"></i>
                                    企业财务账户中心
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>

<script>

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>