<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 10px;">
    <div class="container">

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">共享日志</h3>
                    </div>
                    <form id="query_form" th:action="@{/finance/account/share/record/page}"
                          th:object="${financeAccountShareDetailValidator}" method="post">
                        <input type="hidden" name="currentPage" id="currentPage"
                               th:value="${pageParams.currentPage}">
                        <input type="hidden" name="pageSize" id="pageSize"
                               th:value="${pageParams.pageSize}">
                        <input type="hidden" th:field="*{shareAccountId}">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table table-hover m-10" style="margin-top: -12px;">
                                    <thead>
                                    <tr>
                                        <th>共享分账号</th>
                                        <th>是否余额归集</th>
                                        <th>是否冻结归集</th>
                                        <th>余额归集金额</th>
                                        <th>冻结归集金额</th>
                                        <th>状态</th>
                                        <th>操作人</th>
                                        <th>操作时间</th>
                                    </tr>
                                    <thead>
                                    <tbody>
                                    <tr th:each="info:${list}">
                                        <td style="vertical-align: middle;line-height: 26px">
                                            [[${info.accountId}]]
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            <mpm:tag id="isOrNo" identity="isOrNo" class="0,btn btn-info btn-rounded btn-ms waves-effect waves-light;1,btn btn-danger btn-rounded btn-ms waves-effect waves-light;"
                                                     name="isOrNo" show-type="button"  key="code"
                                                     th:value="${info.isUsableSumPool}" title="共享状态"/>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            <mpm:tag id="isOrNo" identity="isOrNo" class="0,btn btn-info btn-rounded btn-ms waves-effect waves-light;1,btn btn-danger btn-rounded btn-ms waves-effect waves-light;"
                                                     name="isOrNo" show-type="button"  key="code"
                                                     th:value="${info.isFreezeSumPool}" title="共享状态"/>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            ¥ [[${info.usableSumPool}]]
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            ¥ [[${info.freezeSumPool}]]
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            <a th:if="${'1'==info.shareStatus}" class="btn btn-success btn-rounded  waves-effect waves-light btn-ms">正常</a>
                                            <a th:if="${'0'==info.shareStatus}" class="btn btn-danger btn-rounded  waves-effect waves-light btn-ms">已删除</a>
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            [[${info.createdBy}]]
                                        </td>
                                        <td style="vertical-align: middle;line-height: 26px">
                                            [[${info.createdTime}]]
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr>
                            </div>
                            <th:block th:insert="fragments/page_fragments :: page"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>