<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org"
 >
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">财务账户管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            财务管理
                        </li>
                        <li>
                            财务账户管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/finance/account/page}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">

                                <div class="form-group  col-sm-3">
                                    <input type="text"  class="form-control"
                                           placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text"  class="form-control"
                                           placeholder="通道账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text"  class="form-control"
                                           placeholder="通道账号名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="businessType" identity="businessType" show-type="select" key="code"
                                             class="form-control" name="enterpriseType" value="" title="业务类型"/>
                                </div>

                                <div class="form-group col-sm-3 pull-right" style="text-align: center">
                                    <button sec:authorize-url="/finance/account/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a id="help_display" style="margin-left:10px"><i class="mdi mdi-help-circle-outline" style="font-size:18px;"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="help" class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="detail">
                    <ul>
                        <li>
                            <h2 style="color: #fff">明细统计</h2>
                            <span></span>
                            <div class="detailInner">
                                <a>总可用（元）：<span data-d-group="4" data-a-sign="¥ " style="color:#fff;width:100px;background-color:#0095a8;text-align:left" readonly class="autonumber">2045922</span></a><i></i>
                                <a>总冻结（元）：<span data-d-group="4" data-a-sign="¥ " style="color:#fff;width:100px;background-color:#0095a8;text-align:left" readonly class="autonumber">20.00</span></a><i></i>
                                <a>总消费（元）：<span data-d-group="4" data-a-sign="¥ " style="color:#fff;width:120px;background-color:#0095a8;text-align:left" readonly class="autonumber">20045922</span></a><i></i>
                                <a>总充值（元）：<span data-d-group="4" data-a-sign="¥ " style="color:#fff;width:120px;background-color:#0095a8;text-align:left" readonly class="autonumber">20045922</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">财务账户列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>通道账号/账号名称</th>
                                    <th>冻结金额/可用余额</th>
                                    <th>消费总金额/充值总金额</th>
                                    <th>业务类型</th>
                                    <th>创建日期/更新日期</th>
                                    <th>账户状态</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">100.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">20000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">6707720.00</span>
                                        <br>
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber">633444000.00</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-purple  waves-effect waves-light btn-xs">国际短信</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success  waves-effect waves-light btn-xs">有效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/finance/recharge/edit" th:href="@{/finance/recharge/edit}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户充值"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #00acc1"><i style="font-size: 20px"
                                                                                        class="mdi mdi-coin"></i></a>
                                        <a  sec:authorize-url="/finance/account/view" th:href="@{/finance/account/view}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="财务账户明细"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #3b5998"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a  sec:authorize-url="/finance/account/center" th:href="@{/finance/account/center}"
                                            data-toggle="tooltip" data-placement="bottom"  data-original-title="EC财务账户中心"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #23527c"><i style="font-size: 18px"
                                                                                        class="glyphicon glyphicon-cog"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="fragments/common_fragments :: common_error"/>
    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>

<script>

     $(document).ready(function() {

        if("none" == $.cookie("help_display_account_list")){
           $('#help').css('display', 'none');
        }

        $('#help_display').on("click", function () {
           if('block' == $('#help').css('display')){
             $('#help').css('display', 'none');
             $.cookie("help_display_account_list", 'none', {
                expires : 180
             });
           }else{
             $('#help').css('display', 'block');
             $.cookie("help_display_account_list", 'block', {
                expires : 180
             });
           }
        });


		$('.autonumber').autoNumeric('init');
	 });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>