<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <!-- Tooltipster css -->
    <link rel="stylesheet" th:href="@{/static/plugins/tooltipster/tooltipster.bundle.min.css}">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="background-color:#fff">
    <div class="container" style="background-color:#fff">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="row">
                <div class="col-lg-12" style="margin-top:10px">
                    <div class="panel panel-border panel-info">
                        <div class="panel-heading"
                             style="display:block">
                            <h3 class="panel-title">
                                <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                业务账号信息
                                <a th:href="@{/account/excelAccountInfo/{accountId}(accountId=${accountBasicInfoValidator.accountId})}">
                                    <i class="mdi mdi-file-document"
                                    style="margin-right:5px;"
                                    title="导出账号信息"></i>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-bottom:0px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="property-card property-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="property-content"
                                                     style="height:140px">
                                                    <div class="listingInfo">
                                                        <div class="">
                                                            <h5 style="padding-left:10px">
                                                                业务账号名称：[[${accountBasicInfoValidator.accountName}]]</h5>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p class="text-muted">业务账号：<span style="color: #3ac9d6">[[${accountBasicInfoValidator.accountId}]]</span>
                                                            </p>
                                                            <p class="text-muted">信息分类：<mpm:tag identity="infoType" show-type="label" key="code" th:value="${accountBasicInfoValidator.infoType}"/></p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p class="text-muted">业务类型：
                                                                <mpm:tag identity="businessType" show-type="button"
                                                                         key="code" th:value="${accountBasicInfoValidator.businessType}"
                                                                         class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>
                                                            </p>
                                                            <p class="text-muted">扩展码：[[${accountBasicInfoValidator.extendCode}]]</p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p class="text-muted">发送运营商： <mpm:tag identity="carrier" show-type="label" key="code" th:value="${accountBasicInfoValidator.carrier}"/></p>
                                                            <p class="text-muted">是否支持携号转网：
                                                                <mpm:tag id="transferType" identity="isOrNo" show-type="label" key="code" th:value="${accountBasicInfoValidator.transferType}"/></p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p class="text-muted">账号状态：<mpm:tag identity="accountStatus" show-type="label" key="code" th:value="${accountBasicInfoValidator.accountStatus}"/></p>
                                                        </div>
                                                    </div>
                                                    <!-- end. Card actions -->
                                                </div>
                                            </div>
                                            <!-- /col 8 -->
                                        </div>
                                        <!-- /inner row -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" style="margin-top:10px">
                    <div class="panel panel-border panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                财务信息
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-bottom:0px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="property-card property-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="property-content"
                                                     style="height:140px">
                                                    <div class="">
                                                        <h5 style="padding-left:10px"></h5>
                                                    </div>
                                                    <div class="col-md-3 form-group" th:each="info:${list}">
                                                        <p class="text-muted" th:if="${'INTL' ne accountBasicInfoValidator.carrier}">
                                                            <mpm:tag identity="carrier"  show-type="label" key="code" th:value="${info.key}"/>单价：[[${info.value}]]
                                                        </p>
                                                        <p class="text-muted" th:if="${'INTL' eq accountBasicInfoValidator.carrier}">
                                                            <mpm:tag identity="internationalArea"  show-type="label" key="code" th:value="${info.key}"/>单价：[[${info.value}]]
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3 form-group">
                                                        <p class="text-muted">付费方式：
                                                            <mpm:tag identity="payType" show-type="button" key="code" style="margin-top:0px" th:value="${accountFinanceInfoValidator.payType}"
                                                                     class="1,btn btn-teal btn-rounded btn-sm waves-effect waves-light;2,btn btn-brown btn-rounded btn-sm waves-effect waves-light;"/>
                                                    </div>
                                                    <div class="col-md-3 form-group">
                                                        <p class="text-muted">计费方式：
                                                            <mpm:tag identity="accountChargeType" show-type="button" key="code" style="margin-top:0px" th:value="${accountFinanceInfoValidator.chargeType}"
                                                                     class="1,btn btn-info btn-rounded btn-sm waves-effect waves-light;2,btn btn-success btn-rounded btn-sm waves-effect waves-light;"/>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-3 form-group">
                                                        <p class="text-muted">冻结金额返还时间：
                                                            <mpm:tag identity="frozenReturnDate" show-type="button" key="code" style="margin-top:0px" th:value="${accountFinanceInfoValidator.frozenReturnDate}"
                                                                     class="1,btn btn-primary btn-rounded btn-sm waves-effect waves-light;2,btn btn-purple btn-rounded btn-sm waves-effect waves-light;"/>
                                                        </p>

                                                    </div>
                                                    <div class="col-md-3 form-group">
                                                        <p class="text-muted">授信额度：[[${accountFinanceInfoValidator.accountCreditSum}]]
                                                        </p>
                                                    </div>

                                                    <!-- end. Card actions -->
                                                </div>
                                            </div>
                                            <!-- /col 8 -->
                                        </div>
                                        <!-- /inner row -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" style="margin-top:10px">
                    <div class="panel panel-border panel-primary">
                        <div class="panel-heading"
                             style="display:block">
                            <h3 class="panel-title">
                                <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                接口信息
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-bottom:0px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="property-card property-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="property-content"
                                                     style="height:170px">
                                                    <div class="listingInfo" th:if="${not #strings.isEmpty(accountInterfaceInfoValidator.accountId)}">
                                                        <div class="">
                                                            <h5 style="padding-left:10px">
                                                                接口类型：<mpm:tag id="inter" identity="accountInterfaceType"
                                                                              show-type="label" key="code" th:value="${accountInterfaceInfoValidator.protocol}"/></h5>
                                                        </div>
                                                        <div class="col-sm-3 form-group">
                                                            <p class="text-muted">接口密码：
                                                                <a th:if="${not #strings.isEmpty(accountInterfaceInfoValidator.accountId)}"
                                                                   th:onclick="lookPassword([[${accountInterfaceInfoValidator.accountId}]])"
                                                                    class="btn btn-teal btn-rounded btn-sm waves-effect waves-light">查看</a>
                                                                <span id="accountPassword"></span>
                                                            </p>
                                                            <p class="text-muted">模板是否审核：
                                                                <mpm:tag identity="isOrNo" th:value="${accountInterfaceInfoValidator.executeCheck}"
                                                                         show-type="label" key="code"/></p>
                                                        </div>
                                                        <div class="col-sm-3 form-group">
                                                            <p class="text-muted">发送速率(条/秒)：[[${accountInterfaceInfoValidator.maxSendSecond}]]</p>
                                                        </div>
                                                        <div th:if="${accountInterfaceInfoValidator.protocol eq 'CMPP' or accountInterfaceInfoValidator.protocol eq 'SGIP' or accountInterfaceInfoValidator.protocol eq 'SMGP'}">
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">最大链接数：[[${accountInterfaceInfoValidator.maxConnect}]]</p>
                                                            </div>
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">服务代码：[[${accountInterfaceInfoValidator.srcId}]]</p>
                                                            </div>
                                                        </div>
                                                        <div th:if="${accountInterfaceInfoValidator.protocol eq 'HTTP_TEXT_SMS' or accountInterfaceInfoValidator.protocol eq 'HTTP_MULTI_SMS'}">
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">客户提交速率(次/秒)：[[${accountInterfaceInfoValidator.maxSubmitSecond}]]</p>
                                                            </div>
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">上行短信推送地址url：[[${accountInterfaceInfoValidator.moUrl}]]</p>
                                                            </div>
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">运营商状态报告推送地址url：[[${accountInterfaceInfoValidator.statusReportUrl}]]</p>
                                                            </div>
                                                        </div>
                                                        <div th:if="${accountInterfaceInfoValidator.protocol eq 'HTTP_BLACK_SERVICE'}">
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">客户提交速率(次/秒)：[[${accountInterfaceInfoValidator.maxSubmitSecond}]]</p>
                                                            </div>
                                                        </div>

                                                        <div th:if="${accountInterfaceInfoValidator.protocol eq 'HTTP_INTERNATIONAL'}">
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">客户提交速率(次/秒)：[[${accountInterfaceInfoValidator.maxSubmitSecond}]]</p>
                                                            </div>
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">上行短信推送地址url：[[${accountInterfaceInfoValidator.moUrl}]]</p>
                                                            </div>
                                                            <div class="col-sm-3 form-group">
                                                                <p class="text-muted">运营商状态报告推送地址url：[[${accountInterfaceInfoValidator.statusReportUrl}]]</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!-- end. Card actions -->
                                                </div>
                                            </div>
                                            <!-- /col 8 -->
                                        </div>
                                        <!-- /inner row -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${'ACCOUNT_CHANNEL_GROUP' eq accountBasicInfoValidator.accountChannelType}">
                <div class="col-lg-12" style="margin-top:10px">
                    <div class="panel panel-border panel-teal">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                通道组信息
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-bottom:0px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="property-card property-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="property-content">
                                                    <div class="listingInfo">
                                                        <div class="row">
                                                            <div class="col-md-6"  th:each="info :${channelData}">
                                                                <div class="property-card property-horizontal">
                                                                    <div class="row" th:if="${info.value !=null}">
                                                                        <div class="col-sm-12">
                                                                            <div class="property-content"
                                                                                 style="height:165px">
                                                                                <div class="listingInfo">
                                                                                    <div class="">
                                                                                        <h5 style="padding-left:10px">
                                                                                            通道组名称：[[${info.value.channelName}]]
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <p style="font-size:12px">
                                                                                            通道组ID：[[${info.value.channelGroupId}]]
                                                                                        </p>
                                                                                        <p style="font-size:12px">
                                                                                            运营商：<mpm:tag identity="carrier" show-type="label" key="code"
                                                                                                         th:value="${info.value.channelCarrier}"/>
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <p style="font-size:12px">
                                                                                            信息分类：<mpm:tag identity="infoType" show-type="label" key="code"
                                                                                                          th:value="${info.value.channelInfoType}"/>
                                                                                        </p>
                                                                                        <p style="font-size:12px">
                                                                                            通道数：
                                                                                            <i data-toggle="tooltip"
                                                                                               data-placement="right"
                                                                                               th:id="'tooltip'+${info.value.channelGroupId}"
                                                                                               th:onmouseover="channelGroupTip([[${info.value.channelGroupId}]])"
                                                                                               class="mdi mdi-comment-text"
                                                                                               style="margin-left:5px"></i>
                                                                                        </p>

                                                                                    </div>

                                                                                </div>
                                                                                <div class="property-action">
                                                                                     <span style="padding-left:10px;font-size:12px">
                                                                                            产品业务介绍：[[${info.value.channelIntroduce}]]
                                                                                     </span>

                                                                                </div>
                                                                                <!-- end. Card actions -->
                                                                            </div>
                                                                        </div>
                                                                        <!-- /col 8 -->
                                                                    </div>
                                                                    <!-- /inner row -->
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <!-- end. Card actions -->
                                                </div>
                                            </div>
                                            <!-- /col 8 -->
                                        </div>
                                        <!-- /inner row -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${'ACCOUNT_CHANNEL' eq accountBasicInfoValidator.accountChannelType}">
                <div class="col-lg-12" style="margin-top:10px">
                    <div class="panel panel-border panel-brown">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                通道信息
                            </h3>
                        </div>
                        <div class="panel-body" style="padding-bottom:0px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="property-card property-horizontal">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="property-content">
                                                    <div class="listingInfo">
                                                        <div class="row">
                                                            <div class="col-md-6" th:each="info :${channelData}">
                                                                <div class="property-card property-horizontal">
                                                                    <div class="row" th:if="${info.value !=null}">
                                                                        <div class="col-sm-12">
                                                                            <div class="property-content"
                                                                                 style="height:165px">
                                                                                <div class="listingInfo">
                                                                                    <div class="">
                                                                                        <h5 style="padding-left:10px">
                                                                                            通道名称：[[${info.value.channelName}]]
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <p style="font-size:12px">
                                                                                            通道ID：[[${info.value.channelId}]]</p>

                                                                                        <p style="font-size:12px">
                                                                                            通道协议类型：<mpm:tag identity="channelProtocolType" show-type="label" key="code"
                                                                                                            th:value="${info.value.protocol}"/></p>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <p style="font-size:12px">
                                                                                            运营商：<mpm:tag identity="carrier" show-type="label" key="code"
                                                                                                         th:value="${info.value.channelCarrier}"/>
                                                                                        </p>
                                                                                        <p style="font-size:12px">
                                                                                            信息分类：<mpm:tag identity="infoType" show-type="label" key="code"
                                                                                                         th:value="${info.value.channelInfoType}"/>
                                                                                        </p>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="property-action">
                                                                                     <span style="padding-left:10px;font-size:12px" class="text-overflow">
                                                                                            通道业务介绍：[[${info.value.channelIntroduce}]]
                                                                                     </span>

                                                                                </div>
                                                                                <!-- end. Card actions -->
                                                                            </div>
                                                                        </div>
                                                                        <!-- /col 8 -->
                                                                    </div>
                                                                    <!-- /inner row -->
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <!-- end. Card actions -->
                                                </div>
                                            </div>
                                            <!-- /col 8 -->
                                        </div>
                                        <!-- /inner row -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
    <!-- Tooltipster js -->
    <script th:src="@{/static/plugins/tooltipster/tooltipster.bundle.min.js}"></script>
<script>

    //查看密码
    function lookPassword(accountId) {

        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/account/interface/lookPassword/" + accountId,
            async: false,
            success: function (data) {
                document.getElementById("accountPassword").innerText = data;
            }
        });
    }

    //查看通道数
    function channelGroupTip(channelGroupId) {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/configure/channel/group/configChannelNum/" + channelGroupId,
            async: false,
            success: function (data) {
                var channels = data.split("@");
                var channelName = ""
                if (channels.length > 1) {
                    for (i = 0; i < channels.length; i++) {
                        channelName += '<span style="font-size:12px">' + channels[i] + '</span><br>';
                    }
                } else {
                    channelName = '<span style="font-size:12px">' + channels + '</span>';
                }

                $('#tooltip' + channelGroupId).tooltipster({
                    content: $('<p style="text-align:left;">' + channelName + '</p>'),
                    maxWidth: 600,
                    position: 'bottom',
                });
            }
        });
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>