<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top:10px">
    <div class="container">

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">

            <form th:action="@{/account/price/history/page}" th:object="${accountPriceHistoryValidator}" id="query_form" method="post">
                <input type="hidden" th:field="*{startDate}">
                <input type="hidden" th:field="*{endDate}">
                <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
            </form>

            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">业务账号价格历史</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>运营商,地区</th>
                                    <th>价格</th>
                                    <th>创建日期</th>
                                    <th>修改日期</th>
                                </tr>
                                <thead>
                                <tbody>
                                    <tr th:each="histories:${list}">
                                        <td>[[${histories.priceDate}]]</td>
                                        <td>
                                           <mpm:tag  th:if="${histories.carrierType =='1'}"  identity="carrier"
                                                      show-type="button" key="code" th:value="${histories.carrier}" class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;"/>
                                           <mpm:tag th:if="${histories.carrierType=='2'}"  identity="internationalArea"
                                                     show-type="button" key="code" th:value="${histories.carrier}"  class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;"/>
                                        </td>
                                        <td>
                                            ¥ [[${#numbers.formatDecimal(histories.carrierPrice,1,'COMMA',6,'POINT')}]]
                                        </td>
                                        <td>[[${histories.createdTime}]]</td>
                                        <td>[[${histories.updatedTime}]]</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start confirm JSON VIEW  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">注销、启用帐号</h4>
                    </div>
                    <div class="modal-body">
                        <p id="enterprise-tip">注销之后数据无法恢复！你还是确认注销？</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <input type="hidden" id="active">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button class="btn btn-primary waves-effect waves-light"
                                sec:authorize-url="/account/forbiddenAccountById/*/*"
                                onclick="deleteById()" id="forbbenButton">确认注销</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm JSON VIEW  -->

    </div> <!-- container -->
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<!-- Modal-Effect -->

<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>