<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Tooltipster css -->
    <link rel="stylesheet" th:href="@{/static/plugins/tooltipster/tooltipster.bundle.min.css}">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">EC业务账号管理 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            业务账号管理
                        </li>
                        <li class="active">
                            EC业务账号管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/account/page}" th:object="${accountBasicInfoValidator}" id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control" th:field="*{enterpriseName}"
                                           placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control" th:field="*{accountName}"
                                           placeholder="业务账号名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control" th:field="*{accountId}"
                                           placeholder="业务账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <mpm:tag id="businessType" identity="businessType" show-type="select" key="code"
                                             class="form-control" name="enterpriseType" th:value="${accountBasicInfoValidator.businessType}" title="业务类型"/>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <mpm:tag id="carrier" identity="carrier" show-type="select" key="code"
                                             class="form-control" name="carrier" th:value="${accountBasicInfoValidator.carrier}" title="发送运营商"/>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <mpm:tag id="infoType" identity="infoType" show-type="select" key="code"
                                             class="form-control" name="infoType" th:value="${accountBasicInfoValidator.infoType}" title="信息分类"/>
                                </div>


                                <div class="form-group col-sm-4 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/account/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/ec/customer/search/*"
                                       th:href="@{/ec/customer/search/channel_account}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新建EC业务账号</a>
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                    <a id="help_display" style="margin-left:10px"><i class="mdi mdi-help-circle-outline"
                                                                                     style="font-size:18px;"></i></a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  操作提示-->
        <div id="help" class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
            <button id="help_button" type="button" class="close"
                    aria-label="Close">
                <span>&times;</span>
            </button>
            <i class="mdi mdi-help-circle-outline"></i>
            <strong>操作提示：</strong> 可以通过 新建企业业务账号 为企业创建一个业务账号，也可以在 企业业务账号管理中心 管理所有企业业务账号。
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">EC业务账号列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>业务账号/业务账号名称</th>
                                    <th>信息分类/扩展码</th>
                                    <th>业务类型</th>
                                    <th>发送运营商</th>
                                    <th>通道组/资费</th>
                                    <th>开户完成进度</th>
                                    <th style="text-align:center">状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="line-height:44px">
                                        <a th:href="@{/enterprise/center/{id}(id=${info.enterpriseId})}" data-toggle="tooltip"
                                           data-placement="bottom" title="" data-original-title="跳转到企业信息中心">
                                            <span style="color:#797979">[[${info.enterpriseName}]]</span></a>
                                    </td>
                                    <td>
                                        [[${info.accountId}]]<br>
                                        [[${info.accountName}]]
                                    </td>
                                    <td>
                                        <mpm:tag identity="infoType" show-type="label" key="code" th:value="${info.infoType}"/>
                                        <br>
                                        [[${info.extendCode}]]
                                    </td>
                                    <td style="line-height:44px">
                                        <mpm:tag identity="businessType" show-type="button"
                                                 key="code" th:value="${info.businessType}"
                                                 class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>
                                    </td>
                                    <td style="line-height:44px">
                                        <mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrier}"/>
                                    </td>
                                    <td>
                                        <i data-toggle="tooltip"
                                           data-placement="right"
                                           th:id="'channelTooltip'+${info.accountId}"
                                           th:onmouseover="channelTip([[${info.accountId}]])"
                                           class="mdi mdi-comment-text" style="margin-left:5px"></i>
                                        <br>
                                        <i data-toggle="tooltip"
                                           data-placement="right"
                                           th:id="'priceTooltip'+${info.accountId}"
                                           th:onmouseover="carrierPrice([[${info.accountId}]])"
                                           class="mdi mdi-comment-text-outline" style="margin-left:5px"></i>
                                    </td>
                                    <td style="line-height:44px">
                                        <div class="progress" style="margin-top:5px;margin-top:16px">
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 20%;"
                                                 class="progress-bar progress-bar-success progress-bar-striped"
                                                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="基本信息"></div>
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 20%;"
                                                 th:class="${#strings.substring(info.accountProcess,1,2) == '1'?'progress-bar progress-bar-purple progress-bar-striped active':'progress-bar progress-bar-danger progress-bar-striped active' }"
                                                 class="progress-bar progress-bar-primary progress-bar-striped active"
                                                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="财务信息"></div>
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 20%;"
                                                 th:class="${#strings.substring(info.accountProcess,2,3) == '1'?'progress-bar progress-bar-primary progress-bar-striped active':'progress-bar progress-bar-danger progress-bar-striped active' }"
                                                 class="progress-bar progress-bar-purple progress-bar-striped active"
                                                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="接口信息"></div>
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 20%;"
                                                 th:class="${#strings.substring(info.accountProcess,3,4) == '1'?'progress-bar progress-bar-info progress-bar-striped active':'progress-bar progress-bar-danger progress-bar-striped active' }"
                                                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="产品信息"></div>
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                 aria-valuemax="100" style="width: 20%;"
                                                 th:class="${#strings.substring(info.accountProcess,4,5) == '1'?'progress-bar progress-bar-teal progress-bar-striped active':'progress-bar progress-bar-danger progress-bar-striped active' }"
                                                 data-toggle="tooltip" data-placement="bottom" title="" data-original-title="过滤信息"></div>
                                        </div>
                                    </td>
                                    <td style="text-align:center;line-height:44px">
                                        <a class="btn btn-warning btn-rounded btn-sm waves-effect waves-light">完善中</a>
                                    </td>
                                    <td>
                                        <a sec:authorize-url="/account/edit/center/*/*"
                                           th:href="@{/account/edit/center/finance/{accountId}(accountId=${info.accountId})}"
                                           data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="修改资费"
                                           class="on-default edit-row"
                                           style="padding-left: 3px;color: #29b6f6;"><i style="font-size: 20px"
                                           class="mdi mdi-coin"></i></a>
                                        <a
                                            sec:authorize-url="/account/edit/center/*/*"
                                            th:href="@{/account/edit/center/interface/{accountId}(accountId=${info.accountId})}"
                                            data-toggle="tooltip" data-placement="bottom"
                                            data-original-title="修改日限量"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #29b6f6;"><i style="font-size: 20px"
                                            class="mdi mdi-view-grid"></i></a>
                                        <a th:if="${'ACCOUNT_CHANNEL' eq info.accountChannelType}"
                                            sec:authorize-url="/account/edit/center/*/*"
                                            th:href="@{/account/edit/center/channel/{accountId}(accountId=${info.accountId})}"
                                            data-toggle="tooltip" data-placement="bottom"
                                            data-original-title="修改通道"
                                            class="on-default edit-row"
                                            style="padding-left: 5px;color: #29b6f6;"><i style="font-size: 20px"
                                            class=" mdi mdi-view-headline"></i></a>
                                        <a th:if="${'ACCOUNT_CHANNEL_GROUP' eq info.accountChannelType}"
                                           sec:authorize-url="/account/edit/center/*/*"
                                           th:href="@{/account/edit/center/product/{accountId}(accountId=${info.accountId})}"
                                           data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="修改通道组"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;"><i style="font-size: 20px"
                                           class=" mdi mdi-view-headline"></i></a>
                                        <a
                                            sec:authorize-url="/account/edit/center/*/*"
                                            th:href="@{/account/edit/center/filter/{accountId}(accountId=${info.accountId})}"
                                            data-toggle="tooltip" data-placement="bottom"
                                            data-original-title="修改过滤参数"
                                            class="on-default edit-row"
                                            style="padding-left: 3px;color: #29b6f6;"><i style="font-size: 20px"
                                            class="mdi mdi-window-maximize"></i></a>
                                        <br>
                                        <a sec:authorize-url="/account/view/center/*"
                                           th:href="@{/account/view/center/{accountId}(accountId=${info.accountId})}"
                                           style="padding-left: 5px;color: #4BD396;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="查看业务账号详情"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/account/edit/center/*/*"
                                           th:href="@{/account/edit/center/enterprise/{accountId}(accountId=${info.accountId})}"
                                           class="on-default edit-row"
                                           style="padding-left: 6px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="配置、修改EC业务账号信息"
                                        ><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a th:href="@{/account/center/enterpriseId}"
                                           class="on-default edit-row"
                                           style="padding-left: 8px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="EC业务账号中心"
                                        ><i style="font-size: 18px" class="glyphicon glyphicon-cog"></i></a>
                                        <a  data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           style="padding-left: 5px;color: #f05050"
                                           title="注销EC业务账号"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->

        <!-- start confirm delete modal  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">确认注销</h4>
                    </div>
                    <div class="modal-body">
                        <p>注销之后数据无法恢复！你还是确认注销？</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button class="btn btn-primary waves-effect waves-light">确认注销</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm delete modal  -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/js/jquery.cookie.js}"></script>
<!-- Tooltipster js -->
<script th:src="@{/static/plugins/tooltipster/tooltipster.bundle.min.js}"></script>

<script>

    //查看配置的通道
    function channelTip(accountId) {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/account/channel/configChannelNum/" + accountId,
            async: false,
            success: function (data) {
                var channels = data.split("@");
                var channelName = ""
                if (channels.length > 1) {
                    for (i = 0; i < channels.length; i++) {
                        channelName += '<span style="font-size:12px">' + channels[i] + '</span><br>';
                    }
                } else {
                    channelName = '<span style="font-size:12px">' + channels + '</span>';
                }

                $('#channelTooltip' + accountId).tooltipster({
                    content: $('<p style="text-align:left;">' + channelName + '</p>'),
                    maxWidth: 600,
                    position: 'right',
                });
            }
        });
    }

    //资费
    function carrierPrice(accountId) {

        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $.ajax({
            url: contextPath + "/account/finance/carrierPrice/" + accountId,
            async: false,
            success: function (data) {
                var prices = data.split("@");
                var channelPrice = ""
                if (prices.length > 1) {
                    for (i = 0; i < prices.length; i++) {
                        if (i % 3 == 0 && i>0) {
                            channelPrice += '<br>';
                        }
                        channelPrice += '<span style="font-size:12px">' + prices[i] + '</span>';
                    }
                } else {
                    channelPrice = '<span style="font-size:12px">' + prices + '</span>';
                }

                $('#priceTooltip' + accountId).tooltipster({
                    content: $('<p style="text-align:left;">' + channelPrice + '</p>'),
                    maxWidth: 600,
                    position: 'right',
                });
            }
        });
    }

</script>
<script>

    /**
     * 处理cookie
     */
    $(document).ready(function() {

        if("none" == $.cookie("help_display_account_list")){
           $('#help').css('display', 'none');
        }

        $('#help_display').on("click", function () {
           if('block' == $('#help').css('display')){
             $('#help').css('display', 'none');
             $.cookie("help_display_account_list", 'none', {
                expires : 180
             });
           }else{
             $('#help').css('display', 'block');
             $.cookie("help_display_account_list", 'block', {
                expires : 180
             });
           }
        });
        $('#help_button').on("click", function () {
           $('#help').css('display', 'none');
           $.cookie("help_display_account_list", 'none', {
			expires : 180
		   });
        });

    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>