<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form" th:action="@{/account/save/{op}(op=${op})}"
                      th:object="${accountBasicInfoValidator}"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-info" style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">业务账号基本信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label for="enterpriseName">企业名称</label>
                                                    <input id="enterpriseName" type="text" class="form-control"
                                                           th:value="${enterpriseBasicInfoValidator.enterpriseName}"
                                                           readonly>
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label for="accountName">业务账号名称<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger"
                                                              th:if="${#fields.hasErrors('accountName')}"
                                                              th:errors="*{accountName}"></span>&nbsp;</label>
                                                    <input id="accountName" type="text" class="form-control"
                                                           th:field="*{accountName}"
                                                           required="" data-parsley-length="[2,64]" autocomplete="off"
                                                           placeholder="业务账号名称">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label for="account">业务账号<span
                                                            class="text-danger">*</span>&nbsp;</label>
                                                    <input id="account" type="text" class="form-control"
                                                           th:field="*{accountId}"
                                                           autocomplete="off" placeholder="根据规则自动生成" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label>业务类型<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('businessType')}"
                                                              th:errors="*{businessType}"></span></label>
                                                    <mpm:tag id="businessType" required="true" identity="businessType"
                                                             show-type="select" key="code" class="form-control"
                                                             name="businessType"
                                                             th:value="${accountBasicInfoValidator.businessType}" title="业务类型"/>
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label for="extendCode">扩展码&nbsp;</label>
                                                    <input id="extendCode" type="text" class="form-control"
                                                           th:field="*{extendCode}"
                                                           data-parsley-length="[1,32]" data-parsley-type="number"
                                                           autocomplete="off"
                                                           placeholder="输入扩展码">
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>随机扩展码长度（数字0-12之间）<span
                                                            class="text-danger">*</span>&nbsp;</label>
                                                    <input id="randomExtendCodeLength" type="text" class="form-control"
                                                           th:field="*{randomExtendCodeLength}"
                                                           min="0" max="12" data-parsley-type="number" autocomplete="off"
                                                           placeholder="0">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-4 m-b-10">
                                                    <label>发送运营商<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('carrier')}"
                                                              th:errors="*{carrier}"></span></label><br>
                                                    <mpm:tag id="carrier" required="true" identity="carrier"
                                                             show-type="checkbox" key="code" name="carrier" onchange="isTransferSwith()"
                                                             th:value="${accountBasicInfoValidator.carrier}" title="运营商"/>
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label>信息分类<span class="text-danger">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('infoType')}"
                                                              th:errors="*{infoType}">*</span></label><br>
                                                    <mpm:tag id="infoType" required="true" identity="infoType"
                                                             show-type="checkbox" key="code" class="form-control"
                                                             name="infoType"
                                                             th:value="${accountBasicInfoValidator.infoType}" title="信息分类"/>
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label class="m-b-10">是否支持携号转网<span class="text-danger" id="transfer" style="display: none">*</span>&nbsp;
                                                        <span class="text-danger" th:if="${#fields.hasErrors('transferType')}"
                                                              th:errors="*{transferType}"></span></label><br>
                                                    <mpm:tag id="transferType" identity="isOrNo" show-type="radio" style="margin-top:0px"
                                                             key="code" name="transferType" th:value="${accountBasicInfoValidator.transferType}"/>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">

                                                <div class="col-sm-4 m-b-10">
                                                    <label>设置通道方式<span class="text-danger">*</span>&nbsp;</label><br>
                                                    <mpm:tag id="accountChannelType" required="true"
                                                             identity="accountChannelType"
                                                             show-type="radio" key="code" style="margin-top:0px"
                                                             name="accountChannelType"
                                                             th:value="${accountBasicInfoValidator.accountChannelType}"
                                                             title="通道方式"/>
                                                </div>
                                                <div class="col-sm-4 m-b-10">
                                                    <label class="m-b-10">有效状态<span class="text-danger">*</span></label><br>
                                                    <mpm:tag id="accountStauts" identity="isOrNo" name="accountStauts"
                                                             show-type="radio" style="margin-top:0px"  onchange="confirmModal()"
                                                             key="code" th:value="${accountBasicInfoValidator.accountStauts}"
                                                             required="true" title="是否"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="text-center" style="margin-bottom:20px">
                                        <input type="hidden" th:field="*{enterpriseId}">
                                        <input type="hidden" th:field="*{accountProcess}">
                                        <input type="hidden" th:field="*{createdTime}">
                                        <input type="hidden" th:field="*{createdBy}">
                                        <button sec:authorize-url="/account/save/*" type="submit"
                                                class="btn btn-teal waves-effect waves-light">提交
                                        </button>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                </form>
                <!-- end form -->
            </div>
        </div> <!-- end card-box -->
    </div> <!-- end col -->

    <!-- end row -->

    <!-- start row  错误提示-->
    <th:block th:insert="fragments/common_fragments :: common_error"/>
    <!-- end row -->

</div> <!-- container -->
</div> <!-- content -->
<!-- start confirm delete modal  -->
<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
     aria-hidden="true" style="display: none;margin: 60px">
    <div class="modal-dialog" style="width:33%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">确认注销</h4>
            </div>
            <div class="modal-body">
                <p id="enterprise-tip">注销之后数据无法恢复！你还是确认注销？</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary waves-effect" data-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>
<!-- end confirm delete modal  -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script th:remove="${#strings.isEmpty(error)}?none:all">

    $(document).ready(function () {

        if("refreshFlag" == '[[${refreshFlag}]]'){
            var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
            parent.location.href = contextPath + '/account/edit/center/enterprise/'+'[[${accountBasicInfoValidator.accountId}]]';
        }

    });

    //判断是否支持携号转网
    function isTransferSwith(){
        var obj=document.getElementsByName('carrier');
        var carrier='';
        for(var i=0; i<obj.length; i++){
            if(obj[i].checked) carrier+=obj[i].value+',';
        }
        var carriers = carrier.split(",");

        //支持携号转网
        if(carriers.length-1==1){
            $("[name='transferType']").removeAttr("disabled");
            $('#transferType').attr("required","");
            $('#transfer').show();
        }else{
            $("[name='transferType']").removeAttr("checked");
            $("[name='transferType']").attr("disabled",'true');
            $('#transferType').removeAttr("required","");
            $('#transfer').hide();
        }
    }

    function confirmModal(){
        var accountStauts = $('input:radio[name="accountStauts"]:checked').val()
        if(0 ==accountStauts){
            $('#confirm-modal').modal();
        }
    }

</script>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>