<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->
<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form" th:action="@{/account/finance/save/{op}(op=${op})}" th:object="${accountFinanceInfoValidator}"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-success"
                             style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">业务账号财务信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 form-group m-b-20">
                                        <label for="enterpriseName">企业名称</label>
                                        <input id="enterpriseName" type="text" class="form-control"
                                               th:value="${enterpriseBasicInfoValidator.enterpriseName}" readonly>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label for="buAcc">业务账号</label>
                                        <input id="buAcc" type="text" class="form-control"
                                               th:value="${accountBasicInfoValidator.accountId}" readonly>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label for="accountCreditSum">授信额度<span class="text-danger">*</span>&nbsp;<span id="aa"></span></label>
                                        <input id="accountCreditSum" type="text" class="form-control" th:field="*{accountCreditSum}"
                                               required="" min="0"   max="1000000" autocomplete="off"
                                               placeholder="授信额度，默认0">
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label>计费方式<span class="text-danger">*</span></label><br><br>
                                        <mpm:tag id="chargeType" identity="accountChargeType" name="chargeType" show-type="radio" style="margin-top:0px"
                                                 key="code" th:value="${accountFinanceInfoValidator.chargeType}" required="true" title="计费方式"/>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label>付费方式<span class="text-danger">*</span>&nbsp;</label><br><br>
                                        <mpm:tag id="payType" identity="payType" show-type="radio" key="code" style="margin-top:0px"
                                                 name="payType" th:value="${accountFinanceInfoValidator.payType}" required="true" title="付费方式"/>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label>冻结金额返还时间<span class="text-danger">*</span>&nbsp;</label><br><br>
                                        <mpm:tag id="frozenReturnDate" identity="frozenReturnDate" show-type="radio" key="code" style="margin-top:0px" mask-value="2"
                                                 name="frozenReturnDate" th:value="${accountFinanceInfoValidator.frozenReturnDate}" required="true" title="额返还时间"/>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20"  th:each="info:${list}">
                                        <label th:if="${'INTL' ne accountBasicInfoValidator.carrier}">
                                            <mpm:tag identity="carrier"  show-type="label" key="code"
                                                        th:value="${info.key}"/>单价<span class="text-danger">*</span>&nbsp;<span
                                                class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                        </label>
                                        <label th:if="${'INTL' eq accountBasicInfoValidator.carrier}">
                                            <mpm:tag identity="internationalArea"  show-type="label" key="code"
                                                         th:value="${info.key}"/>单价<span class="text-danger">*</span>&nbsp;<span
                                                class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                        </label>

                                        <input type="text" class="form-control" required="" min="0.0001"   max="1"  autocomplete="off"
                                               th:name="${info.key}" th:value="${info.value}" maxlength="6" placeholder="单价">
                                    </div>

                                </div>
                                <div class="text-center" style="margin-bottom:20px">
                                    <input type="hidden" th:field="*{carrierType}">
                                    <input type="hidden" th:field="*{accountId}">
                                    <button sec:authorize-url="/account/finance/save/*" type="submit"
                                            class="btn btn-teal waves-effect waves-light">提交
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </form>
                <!-- end form -->

            </div> <!-- end card-box -->
        </div> <!-- end col -->
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

  /*  $('#accountCreditSum').bind('input propertychange', function () {
        var numberValue = $(this).val();
        var numberValue=new String(Math.round(numberValue*1000)); // 数字金额
        var chineseValue=""; // 转换后的汉字金额
        var String1 = "零壹贰叁肆伍陆柒捌玖"; // 汉字数字
        var String1 = "0123456789"; // 汉字数字
        var String2 = "万仟佰拾亿仟佰拾万仟佰拾元角分厘"; // 对应单位
        var len=numberValue.length; // numberValue 的字符串长度
        var Ch1; // 数字的汉语读法
        var Ch2; // 数字位的汉字读法
        var nZero=0; // 用来计算连续的零值的个数
        var String3; // 指定位置的数值
        if(len>15){
            return "";
        }
        if (numberValue==0){
            chineseValue = "零元整";
            $("#aa").html(chineseValue);
        }

        String2 = String2.substr(String2.length-len, len); // 取出对应位数的STRING2的值
        for(var i=0; i<len; i++){
            String3 = parseInt(numberValue.substr(i, 1),10); // 取出需转换的某一位的值
            if ( i != (len - 4) && i != (len - 8) && i != (len - 12) && i !=(len - 16) ){
                if ( String3 == 0 ){
                    Ch1 = "";
                    Ch2 = "";
                    nZero = nZero + 1;
                }
                else if ( String3 != 0 && nZero != 0 ){
                    Ch1 = "零" + String1.substr(String3, 1);
                    Ch2 = String2.substr(i, 1);
                    nZero = 0;
                }
                else{
                    Ch1 = String1.substr(String3, 1);
                    Ch2 = String2.substr(i, 1);
                    nZero = 0;
                }
            }
            else{ // 该位是万亿，亿，万，元位等关键位
                if( String3 != 0 && nZero != 0 ){
                    Ch1 = "零" + String1.substr(String3, 1);
                    Ch2 = String2.substr(i, 1);
                    nZero = 0;
                }
                else if ( String3 != 0 && nZero == 0 ){
                    Ch1 = String1.substr(String3, 1);
                    Ch2 = String2.substr(i, 1);
                    nZero = 0;
                }
                else if( String3 == 0 && nZero >= 3 ){
                    Ch1 = "";
                    Ch2 = "";
                    nZero = nZero + 1;
                }
                else{
                    Ch1 = "";
                    Ch2 = String2.substr(i, 1);
                    nZero = nZero + 1;
                }
                if( i == (len - 11) || i == (len - 3)){ // 如果该位是亿位或元位，则必须写上
                    Ch2 = String2.substr(i, 1);
                }
            }
            chineseValue = chineseValue + Ch1 + Ch2;
        }

        /!*if ( String3 == 0 ){ // 最后一位（分）为0时，加上“整”
            chineseValue = chineseValue + "整";
        }*!/
        $("#aa").html(chineseValue);
    });*/

    function ChinaCost(numberValue){
        alert(numberValue)

    }


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');



</script>
</body>
</html>