<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">业务账号通道状态
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>通道ID</th>
                                    <th>运营商</th>
                                    <th>通道名称</th>
                                    <th>通道权重</th>
                                    <th>通道优先级</th>
                                    <th>通道配置来源</th>
                                    <th>通道变更来源</th>
                                    <th>应用状态</th>
                                    <th>配置时间</th>
                                    <th>配置人</th>
                                    <!--<th>操作</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr  th:each="info:${list}">
                                    <td>
                                        [[${info.channelId}]]
                                    </td>
                                    <td th:if="${'INTERNATIONAL' ne accountBasicInfoValidator.carrier}">
                                        <mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrier}"/>
                                    </td>
                                    <td th:if="${'INTERNATIONAL' eq accountBasicInfoValidator.carrier}">
                                        <mpm:tag identity="internationalArea" show-type="label" key="code" th:value="${info.carrier}"/>
                                    </td>
                                    <td>
                                        [[${info.channelName}]]
                                    </td>
                                    <td>[[${info.channelWeight}]]</td>
                                    <td>
                                        <mpm:tag identity="accountChannelPriority" show-type="button" key="code" th:value="${info.channelPriority}"
                                                 class="1,btn btn-info btn-rounded btn-sm waves-effect waves-light;2,btn btn-success btn-rounded btn-sm waves-effect waves-light;3,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"/>
                                    </td>
                                    <td><mpm:tag identity="channelConfigSource" show-type="label" key="code" th:value="${info.channelSource}"/></td>
                                    <td><mpm:tag identity="accountChannelChangeType" show-type="label" key="code" th:value="${info.changeSource}"/></td>
                                    <td>
                                        <mpm:tag identity="accountChannelStatus" show-type="button" key="code" th:value="${info.channelPriority}"
                                                 class="1,btn btn-teal btn-rounded btn-sm waves-effect waves-light;2,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"/>
                                    </td>
                                    <td>[[${info.createdTimeStr}]]</td>
                                    <td>[[${info.createdBy}]]</td>
                                    <!--<td>
                                        <a  data-toggle="modal"  data-target="#confirm-modal" class="on-default remove-row"
                                            style="padding-left: 5px;color: #f05050" title="本业务账号暂停该通道"
                                            th:if="${info.channelStatus eq '1'}"
                                        ><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start confirm delete modal  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">确认暂停</h4>
                    </div>
                    <div class="modal-body">

                        <p>本业务账号暂停该通道！你还是确认暂停？</p>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button class="btn btn-primary waves-effect waves-light">确认暂停</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm delete modal  -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div><!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>

<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>