<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->
<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="background-color:#fff">
            <div class="col-md-12">
                <form id="submit_form" th:action="@{/account/finance/save/{op}(op=${op})}" th:object="${accountFinanceInfoValidator}"
                      method="post" data-parsley-validate="">
                    <div class="row">
                        <div class="col-md-12 panel panel-color panel-success"
                             style="padding-left:0px;padding-right:0px">
                            <div class="panel-heading">
                                <h3 class="panel-title">业务账号财务信息 维护</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 form-group m-b-20">
                                        <label for="enterpriseName">企业名称</label>
                                        <input id="enterpriseName" type="text" class="form-control"
                                               th:value="${enterpriseBasicInfoValidator.enterpriseName}" readonly>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label for="buAcc">业务账号</label>
                                        <input id="buAcc" type="text" class="form-control"
                                               th:value="${accountBasicInfoValidator.accountId}" readonly>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label for="accountCreditSum">授信额度<span class="text-danger">*</span>&nbsp;</label>
                                        <input id="accountCreditSum" type="text" class="form-control" th:field="*{accountCreditSum}"
                                               required="" min="0"   max="1000000" autocomplete="off"
                                               placeholder="授信额度，默认0">
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label>计费方式<span class="text-danger">*</span></label><br><br>
                                        <mpm:tag id="chargeType" identity="accountChargeType" name="chargeType" show-type="radio" style="margin-top:0px"
                                                 key="code" th:value="${accountFinanceInfoValidator.chargeType}" required="true" title="计费方式"/>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label>付费方式<span class="text-danger">*</span>&nbsp;</label><br><br>
                                        <mpm:tag id="payType" identity="payType" show-type="radio" key="code" style="margin-top:0px"
                                                 name="payType" th:value="${accountFinanceInfoValidator.payType}" required="true" title="付费方式"/>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20">
                                        <label>冻结金额返还时间<span class="text-danger">*</span>&nbsp;</label><br><br>
                                        <mpm:tag id="frozenReturnDate" identity="frozenReturnDate" show-type="radio" key="code" style="margin-top:0px" mask-value="2"
                                                 name="frozenReturnDate" th:value="${accountFinanceInfoValidator.frozenReturnDate}" required="true" title="额返还时间"/>
                                    </div>
                                    <div class="col-md-4 form-group m-b-20"  th:each="info:${list}">
                                        <label th:if="${'INTERNATIONAL' ne accountBasicInfoValidator.carrier}">
                                            <mpm:tag identity="carrier"  show-type="label" key="code"
                                                        th:value="${info.key}"/>单价<span class="text-danger">*</span>&nbsp;<span
                                                class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                        </label>
                                        <label th:if="${'INTERNATIONAL' eq accountBasicInfoValidator.carrier}">
                                            <mpm:tag identity="internationalArea"  show-type="label" key="code"
                                                         th:value="${info.key}"/>单价<span class="text-danger">*</span>&nbsp;<span
                                                class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                        </label>

                                        <input type="text" class="form-control" required="" min="0.0001"   max="1"  autocomplete="off"
                                               th:name="${info.key}" th:value="${info.value}" maxlength="6" placeholder="单价">
                                    </div>

                                </div>
                                <div class="text-center" style="margin-bottom:20px">
                                    <input type="hidden" th:field="*{carrierType}">
                                    <input type="hidden" th:field="*{accountId}">
                                    <button sec:authorize-url="/account/finance/save/*" type="submit"
                                            class="btn btn-teal waves-effect waves-light">提交
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </form>
                <!-- end form -->

            </div> <!-- end card-box -->
        </div> <!-- end col -->
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');



</script>
</body>
</html>