<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">WEB任务单查询 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            运营数据
                        </li>
                        <li class="active">
                            WEB任务单查询
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" style="position: relative;margin-top: 80px" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <form id="query_form" th:action="@{/message/order/web/page}" method="post">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input id="reportrange" class="form-control" type="text"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="EC业务账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="任务ID" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" placeholder="模板ID" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="businessType" identity="businessType" show-type="select" key="code"
                                             class="form-control" data-icon="mdi mdi-view-module" title="业务类型"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="taskStatus" identity="taskStatus" show-type="select" key="code"
                                             class="form-control" data-icon="mdi mdi-view-module" title="发送状态"/>
                                </div>

                                <div class="form-group pull-right" style="text-align: right">
                                    <button sec:authorize-url="/message/order/web/page"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  汇总统计-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="detail">
                    <ul>
                        <li>
                            <h2 style="color: #fff">WEB任务单汇总统计</h2>
                            <span></span>
                            <div class="detailInner">
                                <a>总发送条数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                               data-d-group="4" data-a-sign=" " data-v-min="0"
                                               data-v-max="999999999"
                                               class="autonumber">2045922</span></a><i></i>
                                <a>总接收条数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                               data-d-group="4" data-a-sign=" " data-v-min="0"
                                               data-v-max="999999999"
                                               class="autonumber">2045922</span></a><i></i>
                                <a>总失败条数：<span style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                               data-d-group="4" data-a-sign=" " data-v-min="0"
                                               data-v-max="999999999"
                                               class="autonumber">20459</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">WEB任务单列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>EC业务账号/企业名称</th>
                                    <th>任务ID/模板ID</th>
                                    <th>发送条数/接收条数</th>
                                    <th>冻结条数/失败条数</th>
                                    <th>任务类型</th>
                                    <th>发送类型/定时时间</th>
                                    <th>创建时间/发送时间</th>
                                    <th>发送状态</th>
                                    <th>内容/号码文件</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">定时发送<br>2021-11-30 16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">XY93348334343134343<br>北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">100000121<br>100000353</td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">2045922</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">232</span>
                                        <br>
                                        <span style="width:100px;text-align:left"
                                              data-d-group="4" data-a-sign=" " data-v-min="0"
                                              data-v-max="999999999"
                                              class="autonumber">20</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-purple  waves-effect waves-light btn-xs">普通短信</a></td>
                                    <td style="vertical-align: middle;line-height: 26px">即时发送</td>
                                    <td style="vertical-align: middle;line-height: 26px">2021-11-23 16:25:09<br/>2021-11-12
                                        16:25:09
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px"><a
                                            class="btn btn-info btn-rounded btn-xs waves-effect waves-light">发送完成</a>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <a class="on-default edit-row" title="短信内容">
                                            <i style="font-size: 18px" class="mdi mdi-stackexchange"
                                               data-container="body" title="" data-toggle="popover"
                                               data-placement="bottom"
                                               data-content="【移动宽带】您的套餐有机会优惠办理一条300M的移动宽带和高清电视服务，您可点击 https://dx.10086.cn/0LjiuYna 进行办理或回复T3进行预约"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#download-record"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color: #6B5FB5;" title="下载号码文件"><i
                                                style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>

            <th:block th:insert="fragments/common_fragments :: common_error"/>
        </div>
        <!-- end row -->

        <!-- start row  号码文件下载-->
        <div id="download-record" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="a-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">下载附件</h4>
                    </div>
                    <div class="row" style="padding-top: 15px">
                        <div class="col-sm-12 m-b-10">
                            <p style="font-size:12px"><i style="font-size: 18px" class="mdi mdi-download"></i><a
                                    href="">&nbsp;提交号码文件</a>
                            </p>
                            <p style="font-size:12px"><i style="font-size: 18px" class="mdi mdi-download"></i><a
                                    href="">&nbsp;号码报告文件</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->


<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    $(document).ready(function () {
        $('.autonumber').autoNumeric('init');
    });

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '2020-11-03',
        endDate: '2021-11-03',
        minDate: '2012-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 720
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');






</script>
</body>
</html>