<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>
</head>

<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

    <div class="container">
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form th:action="@{/resource/save/{op}(op=${op})}" id="submit_form" th:object="${accountResourceInfoValidator}" method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="p-20">

                                    <div class="form-group m-b-30">
                                        <label for="resourceTitle">
                                            资源备注<span class="text-danger">*</span>&nbsp;
                                            <span class="text-danger" style="font-weight: 200;font-size: 12px" th:if="${#fields.hasErrors('resourceTitle')}" th:errors="*{resourceTitle}"></span>
                                        </label>
                                        <input type="text" id="resourceTitle" class="form-control" placeholder="输入备注内容，最多10个汉字" autocomplete="off" th:field="*{resourceTitle}">
                                    </div>
                                    <div class="form-group m-b-30">
                                        <label>
                                            上传资源文件<span class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                        </label>

                                        <input type="file" name="file" id="filer_name1" multiple="multiple">
                                    </div>
                                    <div class="form-group m-b-30" id="space_id">&nbsp;</div>

                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="hidden" th:field="*{id}" id="id">
                            <input type="hidden" th:field="*{resourceStatus}">
                            <input type="hidden" th:field="*{createdTime}">
                            <input type="hidden" th:field="*{createdBy}">
                            <input type="hidden" th:field="*{businessType}">
                            <input type="hidden" th:field="*{resourceType}">
                            <input type="hidden" th:field="*{resourceAttchmentSize}" id="resourceAttchmentSize">
                            <input type="hidden" th:field="*{resourceAttchmentType}" id="resourceAttchmentType">
                            <input type="hidden" th:field="*{resourceHeight}" id="resourceHeight">
                            <input type="hidden" th:field="*{resourceWidth}" id="resourceWidth">
                            <input type="hidden" th:field="*{resourceAttchment}" id="resourceAttchment">
                            <input type="hidden" id="path" name="path" th:value="${#httpServletRequest.getContextPath()}">
                            <button sec:authorize-url="/resource/save/*" type="submit" class="btn btn-teal waves-effect waves-light">提交
                            </button>
                            <a sec:authorize-url="/resource/list/*/*" th:href="@{/resource/list/{businessType}/{resourceType}(businessType=${accountResourceInfoValidator.businessType},resourceType=${accountResourceInfoValidator.resourceType})}" class="btn btn-default waves-effect waves-light">返回</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <th:block th:insert="fragments/common_fragments :: common_error"/>
    </div>
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>

<div id="alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;margin: 60px">
    <div class="modal-dialog" style="width:33%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p id="alert-message"></p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="deleteId">
                <a class="btn btn-default waves-effect" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/plugins/jquery.filer/js/jquery.filer.min.js}"></script>
<script th:src="@{/static/assets/pages/jquery.property-add.init.js}"></script>
<script th:src="@{/static/plugins/parsleyjs/parsley.min.js}" type="text/javascript"></script>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

    var imgTypes = '[[${@resourceProperties.resourceAllowFormat[0]}]]';
    var audioTypes = '[[${@resourceProperties.resourceAllowFormat[1]}]]';
    var videoTypes = '[[${@resourceProperties.resourceAllowFormat[2]}]]';
    var resourceFileSizeLimit = '[[${@resourceProperties.resourceFileSizeLimit}]]';

    $(function () {
        $('#submit_form').parsley().on('field:validated', function () {
            var ok = $('.parsley-error').length === 0;
            $('.alert-info').toggleClass('hidden', !ok);
            $('.alert-warning').toggleClass('hidden', ok);
        }).on('form:submit', function () {
            var resourceTitle = $("#resourceTitle").val();
            if(resourceTitle==null||resourceTitle.length==0){
                $("#alert-modal").find("#alert-message").html("备注内容不能为空");
                $("#alert-modal").modal();
                return false;
            }
            if(resourceTitle.length>10){
                $("#alert-modal").find("#alert-message").html("备注内容最多10个汉字");
                $("#alert-modal").modal();
                return false;
            }

            var resourceAttchment = $("#resourceAttchment").val();
            if(resourceAttchment==null||resourceAttchment.length==0){
                $("#alert-modal").find("#alert-message").html("资源文件不能为空");
                $("#alert-modal").modal();
                return false;
            }

            $('#preloader').css('display', 'block'); //enable preloader
            $('#submit_form').submit();
            return true; //submit form
        });
    });
</script>
<script th:src="@{/static/js/resourceUploadFile.js}"></script>
</body>
</html>