<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->
<div class="content">
    <div class="container">
        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <div class="col-sm-12">
                            <form id="query_form" th:action="@{/resource/page}" th:object="${accountResourceInfoValidator}" method="post">
                                <div class="form-group  col-sm-4">
                                    <select id="fileType" name="fileType" data-style="btn-default"
                                            class="selectpicker form-control" th:value="${accountResourceInfoValidator.fileType}">
                                        <option value="">--选择文件类型--</option>
                                        <option data-icon="mdi mdi-collage" value="1" th:selected="${accountResourceInfoValidator.fileType eq '1'}">图片文件</option>
                                        <option data-icon="mdi mdi-collage" value="2" th:selected="${accountResourceInfoValidator.fileType eq '2'}">音频文件</option>
                                        <option data-icon="mdi mdi-collage" value="3" th:selected="${accountResourceInfoValidator.fileType eq '3'}">视频文件</option>
                                    </select>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control" th:field="*{resourceTitle}"
                                           placeholder="备注内容" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-4 pull-right" style="text-align: right">
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                    <input type="hidden" th:field="*{resourceType}">
                                    <input type="hidden" th:field="*{businessType}">
                                    <button sec:authorize-url="/resource/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a th:sec:authorize-url="|/resource/add/${businessType}/${resourceType}|"
                                       th:href="@{/resource/add/{businessType}/{resourceType}(businessType=${businessType},resourceType=${resourceType})}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i>
                                        新增
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">资源列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="jFiler-items jFiler-row">
                            <ul class="jFiler-items-list jFiler-items-grid">

                                <li th:each="info:${list}" class="jFiler-item" data-jfiler-index="1" style="">
                                    <div class="jFiler-item-container">
                                        <div class="jFiler-item-inner">
                                            <div class="jFiler-item-thumb">
                                                <div class="jFiler-item-status"></div>
                                                <div class="jFiler-item-info">
                                                    <span class="jFiler-item-title"><b title="">[[${info.resourceTitle}]]</b></span>
                                                    <span th:if="${#strings.contains(@resourceProperties.resourceAllowFormat[0], info.resourceAttchmentType)}" class="jFiler-item-others">[[${info.resourceAttchmentSize/1024}]] KB([[${info.resourceWidth}]]*[[${info.resourceHeight}]])</span>
                                                    <span th:if="${#strings.contains(@resourceProperties.resourceAllowFormat[1], info.resourceAttchmentType)}" class="jFiler-item-others">[[${info.resourceAttchmentSize/1024}]] KB</span>
                                                    <span th:if="${#strings.contains(@resourceProperties.resourceAllowFormat[2], info.resourceAttchmentType)}" class="jFiler-item-others">[[${info.resourceAttchmentSize/1024}]] KB</span>
                                                </div>

                                                <div th:if="${#strings.contains(@resourceProperties.resourceAllowFormat[0], info.resourceAttchmentType)}" class="jFiler-item-thumb-image">
                                                    <img th:src="@{/resource/show/{id}(id=${info.id})}" onerror="javascript:this.src='./static/assets/images/file-broken.png';this.onerror = null" draggable="false">
                                                </div>
                                                <div th:if="${#strings.contains(@resourceProperties.resourceAllowFormat[1], info.resourceAttchmentType)}" class="jFiler-item-thumb-image">
                                                    <span class="jFiler-icon-file f-audio"><i class="icon-jfi-file-audio"></i></span>
                                                </div>
                                                <div th:if="${#strings.contains(@resourceProperties.resourceAllowFormat[2], info.resourceAttchmentType)}" class="jFiler-item-thumb-image">
                                                    <span class="jFiler-icon-file f-video" style="-webkit-box-shadow: #f1bc6f 42px -55px 0px 0px inset; -moz-box-shadow: #f1bc6f 42px -55px 0px 0px inset; box-shadow: #f1bc6f 42px -55px 0px 0px inset;">.[[${info.resourceAttchmentType}]]</span>
                                                </div>
                                            </div>
                                            <div class="jFiler-item-assets jFiler-row">
                                                <ul class="list-inline pull-left">
                                                    <li>
                                                        <div class="jFiler-jProgressBar" style="display: none;">
                                                            <div class="bar" style="width: 100%;">

                                                            </div>
                                                        </div>
                                                        <div class="jFiler-item-others text-success">
                                                            <a class="on-default edit-row" th:href="@{/resource/download/{id}(id=${info.id})}"
                                                               style="width:25px ;padding-right: 5px;color: #29b6f6;" title="下载">
                                                                <i style="font-size: 18px" class="mdi mdi-download"></i>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="list-inline pull-right">
                                                    <li>
                                                        <a sec:authorize-url="/resource/edit/*" th:href="@{/resource/edit/{id}(id=${info.id})}" class="mdi mdi-table-edit" data-original-title="编辑" style="font-size: 18px"></a>
                                                        <a sec:authorize-url="/resource/deleteById/*" th:onclick="confirmDelete([[${info.id}]], this)" data-toggle="modal" data-target="#confirm-modal" style="font-size: 18px;color: red" class="mdi mdi-delete-sweep" title="删除"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/jquery.filer/js/jquery.filer.min.js}"></script>
<script th:src="@{/static/assets/pages/jquery.property-add.init.js}"></script>
<script>
    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        $('#preloader').css('display', 'block');
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        location.href = contextPath + "/resource/deleteById/" + $("#deleteId").val();
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>