<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title"> 添加、修改投诉信息</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            投诉管理
                        </li>
                        <li>
                            添加、修改投诉信息
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row"  th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">下发明细列表<small>&nbsp;根据投诉账号、手机号、内容去匹配10天内的下发记录</small></h3>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th>业务账号/手机号</th>
                                    <th>运营商</th>
                                    <th>状态码</th>
                                    <th>提交时间/状态报告时间</th>
                                    <th>短信内容</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="line-height: 26px">
                                        [[${info.businessAccount}]]<br>[[${info.phoneNumber}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <mpm:tag identity="businessType" show-type="button" th:if="${accountMap[info.businessAccount] !=null}"
                                                 key="code" th:value="${accountMap[info.businessAccount].businessType}"
                                                 class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>

                                    <td style="vertical-align: middle;line-height: 26px">
                                        <mpm:tag identity="carrier" show-type="label" key="code"
                                                 th:value="${info.carrier}"/>&nbsp;
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                         <span class="text-overflow" data-toggle="tooltip" data-placement="bottom"
                                               th:data-original-title="${info.customerStatus}">[[${info.customerStatus}]]</span>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px;word-wrap:break-word;">
                                        [[${info.submitTime}]]
                                        <br>
                                        [[${info.reportTime}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <span class="text-overflow" data-toggle="tooltip" data-placement="bottom"
                                              th:data-original-title="${info.messageContent}">[[${info.messageContent}]]</span>
                                    </td>


                                </tr>

                                </tbody>

                            </table>

                            <hr>
                        </div>

                    </div>


                </div>

            </div>

        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-6">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            原始投诉信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 520px">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group m-b-20">
                                        运营商来源：<mpm:tag identity="carrier" show-type="label" key="code" th:value="${messageComplaintInfoValidator.carrierSource}"/>
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报运营商：[[${messageComplaintInfoValidator.carrier}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报时间：[[${messageComplaintInfoValidator.reportDate}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报来源：[[${messageComplaintInfoValidator.reportSource}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        被举报号码：[[${messageComplaintInfoValidator.reportedNumber}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报号码：[[${messageComplaintInfoValidator.reportNumber}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报内容：[[${messageComplaintInfoValidator.reportContent}]]
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-md-6" th:if="${messageComplaintInfoValidator.complaintSource eq 'day'}">
                <div class="panel panel-color panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            投诉匹配信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 520px">
                        <form  data-parsley-validate="">
                            <div class="p-20">
                                <div class="form-group m-b-20">
                                    12321来源
                                    <mpm:tag id="is12321" identity="isOrNo" show-type="radio" style="margin-top:0px"
                                             key="code" name="is12321" th:value="${messageComplaintInfoValidator.is12321}"/>

                                </div>
                                <div class="form-group m-b-20">
                                    业务类型
                                    <mpm:tag identity="businessType" show-type="button"
                                             key="code" th:value="${messageComplaintInfoValidator.businessType}"
                                             class="TEXT_SMS,btn btn-teal btn-xs waves-effect waves-light;MULTI_SMS,btn btn-brown btn-xs waves-effect waves-light;MMS,btn btn-info btn-xs waves-effect waves-light;5G_SMS,btn btn-primary btn-xs waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-xs waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-xs waves-effect waves-light"/>
                                </div>
                                <div class="form-group m-b-20">
                                    码号：[[${messageComplaintInfoValidator.numberCode}]]
                                </div>
                                <div class="form-group m-b-20">
                                    EC业务账号：[[${messageComplaintInfoValidator.businessAccount}]]

                                </div>
                                <div class="form-group m-b-20">
                                    业务账号名称：[[${messageComplaintInfoValidator.accountName}]]
                                </div>

                                <div class="form-group m-b-20">
                                    下发日期：[[${messageComplaintInfoValidator.sendDate}]]
                                </div>
                                <div class="form-group m-b-20">
                                    下发频次：[[${messageComplaintInfoValidator.sendRate}]]
                                </div>


                            </div>
                            <div class="text-right">
                                <a sec:authorize-url="/complaint/list" th:href="@{/complaint/list}"
                                   th:if="${messageComplaintInfoValidator.complaintSource eq 'day'}" class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                                <a sec:authorize-url="/complaint/list" th:href="@{/complaint/complaintSource}"
                                   th:if="${messageComplaintInfoValidator.complaintSource eq '12321'}" class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row -->





        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>

<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>