<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title"> 投诉信息录入</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                           投诉管理
                        </li>
                        <li>
                           投诉信息录入
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-6">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            投诉溯源信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group m-b-20">
                                        企业名称：北京星语互联科技有限公司
                                    </div>
                                    <div class="form-group m-b-20">
                                        账号名称：XY2010238349343
                                    </div>
                                    <div class="form-group m-b-20">
                                        EC账号：XY2010238349343
                                    </div>
                                    <div class="form-group m-b-20">
                                        码号：18619662
                                    </div>
                                    <div class="form-group m-b-20">
                                        运营商：中国电信
                                    </div>
                                    <div class="form-group m-b-20">
                                        业务类型：<a class="btn btn-teal waves-effect waves-light btn-xs">国际短信</a>
                                    </div>
                                    <div class="form-group m-b-20">
                                        短信下发时间：2021-11-17 14:45:23
                                    </div>
                                    <div class="form-group m-b-20">
                                        短信内容：【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="panel panel-color panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            投诉信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form  id="submit_form"
                               method="post" data-parsley-validate="">
                            <div class="p-20">
                                <div class="form-group m-b-20">
                                    投诉号码：18908408860
                                </div>
                                <div class="form-group m-b-20">
                                    被投诉号码：106929395555
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="e3Name">举报省份<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="e3Name" type="text"  class="form-control"
                                           readonly autocomplete="off"
                                           placeholder="举报省份">
                                </div>
                                <div class="form-group m-b-20">
                                    <mpm:tag id="complaintSource" identity="complaintSource" show-type="select" key="code"
                                             class="form-control" name="complaintSource" value="" title="举报渠道"/>
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="e32Name">举报频次<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="e32Name" type="text"  class="form-control"
                                           readonly autocomplete="off"
                                           placeholder="举报频次">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="linkt">举报日期<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="linkt" type="text"  class="form-control"
                                           required="" data-parsley-length="[2,12]" autocomplete="off"
                                           placeholder="举报日期">
                                </div>
                                <div class="form-group m-b-20">
                                 <input  name="roleIds" checked  type="checkbox" required=""> 投诉号码 18908408860  同步加入黑名单
                                </div>
                            </div>
                        <div class="text-right">
                            <a sec:authorize-url="/complaint/list" th:href="@{/complaint/list}"  type="button" class="btn btn-teal waves-effect waves-light">提交</a>
                            <a sec:authorize-url="/complaint/list" th:href="@{/complaint/list}" class="btn btn-default waves-effect waves-light">返回</a>
                        </div>
                        </form>
                    </div>
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>

<script>

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>