<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">投诉管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            投诉管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/complaint/page}"  id="query_form"  method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="EC通道账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="码号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="举报手机号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="举报内容" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="complaintSource" identity="complaintSource" show-type="select" key="code"
                                             class="form-control" name="complaintSource" value="" title="举报渠道"/>
                                </div>
                                <div class="form-group  col-sm-6">
                                    <label>运营商：</label>
                                    <mpm:tag id="carrier" identity="carrier" show-type="checkbox" key="code"
                                             class="form-control" name="carrier" value="" title="运营商"/>
                                </div>
                                <div class="form-group  col-sm-9">
                                    <label>业务类型：</label>
                                    <mpm:tag id="businessType" identity="businessType" show-type="checkbox" key="code"
                                             class="form-control" name="enterpriseType" value="" title="业务类型"/>
                                </div>

                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/complaint/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/complaint/search" th:href="@{/complaint/search}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新建投诉</a>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">投诉列表
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>通道账号/账号名称</th>
                                    <th>码号/被举报号码</th>
                                    <th>运营商/业务类型</th>
                                    <th>举报省份/举报渠道</th>
                                    <th>举报内容/下发频次</th>
                                    <th>举报日期/下发时间</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                             class="on-default edit-row"
                                             style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        北京星语互联科技有限公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        XY2010238349343<br>国际短信通道账户
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10692939
                                        <br>
                                        106929395555
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国电信
                                        <br>
                                        <a class="btn btn-brown waves-effect waves-light btn-xs">5G消息</a>

                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        辽宁
                                        <br>
                                        12321举报助手
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <i style="font-size: 18px" class="mdi mdi-stackexchange" data-container="body" title="" data-toggle="popover" data-placement="bottom" data-content="【招商银行】您有20元消费金已到账，点击 cmbt.cn/N9p 查看。消费金只需微信支付交易满20元即可抵扣。已使用请忽略，退订回#C"></i>
                                        <br>
                                        8/30
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23<br>2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2021-11-17 14:45:23
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a  sec:authorize-url="/complaint/edit" th:href="@{/complaint/edit}"
                                            class="on-default edit-row"
                                            style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="修改投诉信息"
                                        ><i style="font-size: 18px"
                                            class="mdi mdi-table-edit"></i></a>
                                    </td>




                                </tbody>
                            </table>
                            <hr>
                        </div>

                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="fragments/common_fragments :: common_error"/>
    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>

<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>