<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title"> 修改投诉信息</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            投诉管理
                        </li>
                        <li>
                            修改投诉信息
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-6">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            原始投诉信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 650px">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group m-b-20">
                                        运营商来源：<mpm:tag identity="carrier" show-type="label" key="code" th:value="${messageComplaintInfoValidator.carrierSource}"/>
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报运营商：[[${messageComplaintInfoValidator.carrier}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报时间：[[${messageComplaintInfoValidator.reportDate}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报来源：[[${messageComplaintInfoValidator.reportSource}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        被举报号码：[[${messageComplaintInfoValidator.reportedNumber}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报号码：[[${messageComplaintInfoValidator.reportNumber}]]
                                    </div>
                                    <div class="form-group m-b-20">
                                        举报内容：[[${messageComplaintInfoValidator.reportContent}]]
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="panel panel-color panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            投诉匹配信息
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 650px">
                        <form id="submit_form" th:action="@{/complaint/save/{op}(op=${op})}" th:object="${messageComplaintInfoValidator}"
                              method="post" data-parsley-validate="">
                            <div class="p-20">
                                <div class="form-group m-b-20">
                                    <label>12321来源<span class="text-danger">*</span>&nbsp;</label>
                                    <mpm:tag id="is12321" identity="isOrNo" show-type="radio" style="margin-top:0px"
                                             key="code" name="is12321" th:value="${messageComplaintInfoValidator.is12321}"/>

                                </div>
                                <div class="form-group m-b-20">
                                    <label for="e32Name">业务类型<span class="text-danger">*</span>&nbsp;</label>
                                    <mpm:tag id="businessType" required="true" identity="businessType"
                                             show-type="select" key="code" class="form-control"
                                             name="businessType"  mask-value="INTERNATIONAL_SMS"
                                             th:value="${messageComplaintInfoValidator.businessType}" title="业务类型"/>
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="numberCode">码号&nbsp;</label>
                                    <input id="numberCode" type="text" class="form-control" th:field="*{numberCode}"
                                           data-parsley-length="[1,32]" data-parsley-type="digits" autocomplete="off" placeholder="码号">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="businessAccount">EC业务账号<span class="text-danger">*</span>&nbsp;
                                        <span class="text-danger" th:if="${#fields.hasErrors('businessAccount')}"
                                              th:errors="*{businessAccount}"></span>
                                    </label>
                                    <input id="businessAccount" type="text" class="form-control" th:field="*{businessAccount}"
                                           required="" data-parsley-pattern="[A-Z]{3}(\d){3}" placeholder="EC业务账号">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="accountName">业务账号名称<span class="text-danger">*</span>&nbsp;</label>
                                    <input id="accountName" type="text" class="form-control" th:field="*{accountName}"
                                           readonly placeholder="业务账号名称">
                                </div>

                                <div class="form-group m-b-20">
                                    <label for="sendDate">下发日期&nbsp;</label>
                                    <input id="sendDate" type="text" class="form-control" th:field="*{sendDate}"
                                           autocomplete="off"  placeholder="下发日期">
                                </div>
                                <div class="form-group m-b-20">
                                    <label for="e32Name">下发频次&nbsp;</label>
                                    <input id="e32Name" type="text" class="form-control" th:field="*{sendRate}"
                                           data-parsley-length="[1,32]" data-parsley-type="digits" autocomplete="off" placeholder="下发频次">
                                </div>

                            </div>
                            <div class="text-right">
                                <input type="hidden"  th:field="*{carrier}">
                                <input type="hidden"  th:field="*{id}">
                                <input type="hidden"  th:field="*{complaintSource}">
                                <button sec:authorize-url="/complaint/save/*" type="submit"
                                        class="btn btn-teal waves-effect waves-light">提交
                                </button>
                                <a sec:authorize-url="/complaint/list" th:href="@{/complaint/list}"
                                   th:if="${messageComplaintInfoValidator.complaintSource eq 'day'}" class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                                <a sec:authorize-url="/complaint/list" th:href="@{/complaint/complaintSource}"
                                   th:if="${messageComplaintInfoValidator.complaintSource eq '12321'}" class="btn btn-default waves-effect waves-light" style="margin-left:20px">返回</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

<script>

    $(document).ready(function () {
        init_select_date_picker($("#sendDate"));
    });

    function init_select_date_picker(id) {

        id.daterangepicker({
            autoUpdateInput: true,
            singleDatePicker: true,
            minDate: '2015-01-01',
            maxDate: '2080-12-31',
            showDropdowns: true,
            timePicker: true,
            pickTime:true,
            timePicker24Hour: true, //时间制
            drops: "up",
            locale : {
                daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                monthNames : [ '01月', '02月', '03月', '04月', '05月', '06月',
                    '07月', '08月', '09月', '10月', '11月', '12月' ],
                format : 'YYYY-MM-DD HH:mm:ss' ,
                cancelLabel: 'Clear',
                applyLabel : '确定',
                cancelLabel : '取消',
            }
        });
        id.on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:ss') );
        });

    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>