<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <!-- Tooltipster css -->
    <link rel="stylesheet" th:href="@{/static/plugins/tooltipster/tooltipster.bundle.min.css}">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">投诉管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            投诉管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/complaint/page}" th:object="${messageComplaintInfoValidator}" id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-4">
                                    <input id="reportrange" class="form-control" th:field="*{startDate}" type="text"/>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="EC业务账号" th:field="*{businessAccount}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="码号" th:field="*{numberCode}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="举报手机号" th:field="*{reportNumber}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <input type="text" class="form-control"
                                           placeholder="举报内容" th:field="*{reportContent}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-4">
                                    <select data-style="btn-default" name="carrier" data-live-search="true" id="carrier" class="selectpicker form-control" tabindex="-98">
                                        <option value="" data-icon="mdi mdi-apps">--请选择举报运营商--</option>
                                        <option data-icon="mdi mdi-apps" value="移动" th:selected="${messageComplaintInfoValidator.carrier eq '移动'}">中国移动</option>
                                        <option data-icon="mdi mdi-apps" value="联通" th:selected="${messageComplaintInfoValidator.carrier eq '联通'}">中国联通</option>
                                        <option data-icon="mdi mdi-apps" value="电信" th:selected="${messageComplaintInfoValidator.carrier eq '电信'}">中国电信</option>
                                    </select>
                                </div>
                                <div class="form-group  col-sm-4">
                                    <mpm:tag id="businessType" identity="businessType" show-type="select" key="code"
                                             class="form-control" name="businessType" th:value="${messageComplaintInfoValidator.businessType}" title="业务类型"/>
                                </div>

                                <div class="form-group col-sm-6 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/complaint/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <a  sec:authorize-url="/complaint/add/*" th:href="@{/complaint/add/day}"
                                        class="btn btn-teal waves-effect waves-light m-l-10 btn-md">
                                        <i class="mdi mdi-file-import"></i> 批量导入</a>
                                    <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">投诉列表
                            <span style="padding-left:20px;color: #fff;font-size: 14px">提示：异步上传，会有延迟</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="width:165px">运营商来源/举报运营商</th>
                                    <th style="width:160px">是否12321/举报来源</th>
                                    <th style="width:170px">举报时间/业务类型</th>
                                    <th style="width:170px">码号/被举报号码</th>
                                    <th style="width:190px">业务账号/业务账号名称</th>
                                    <th style="width:170px">下发频次/下发时间</th>
                                    <th style="width:200px">举报号码/举报内容</th>
                                    <th style="width:170px">创建人/创建日期</th>
                                    <th style="width:110px">操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td  style="line-height: 26px">
                                        <span style="padding-left:12px"><mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrierSource}"/></span><br>
                                        <span class="btn btn-teal btn-rounded btn-xs waves-effect waves-light;" th:if="${#strings.containsIgnoreCase(info.carrier,'移动')}">[[${info.carrier}]]</span>
                                        <span class="btn btn-info btn-rounded btn-xs waves-effect waves-light;" th:if="${#strings.containsIgnoreCase(info.carrier,'联通')}">[[${info.carrier}]]</span>
                                        <span class="btn btn-primary btn-rounded btn-xs waves-effect waves-light;" th:if="${#strings.containsIgnoreCase(info.carrier,'电信')}">[[${info.carrier}]]</span>
                                    </td>
                                    <td  style="line-height: 26px">[[${info.is12321 eq '0'?'否':'是'}]]<br>[[${info.reportSource}]]</td>
                                    <td  style="line-height: 26px">[[${info.reportDate}]]<br>
                                        <mpm:tag identity="businessType" show-type="button"
                                                 key="code" th:value="${info.businessType}"
                                                 class="TEXT_SMS,btn btn-teal btn-rounded btn-sm waves-effect waves-light;MULTI_SMS,btn btn-brown btn-rounded btn-sm waves-effect waves-light;MMS,btn btn-info btn-rounded btn-sm waves-effect waves-light;5G_SMS,btn btn-primary btn-rounded btn-sm waves-effect waves-light;INTERNATIONAL_SMS,btn btn-purple btn-rounded btn-sm waves-effect waves-light;BLACK_SERVICE,btn btn-inverse btn-rounded btn-sm waves-effect waves-light"/>
                                    </td>
                                    <td  style="line-height: 26px">[[${info.numberCode}]]<br>[[${info.reportedNumber}]]</td>
                                    <td  style="line-height: 26px">
                                        <span th:if="${not #strings.isEmpty(info.businessAccount)}">[[${info.businessAccount}]]<br>[[${info.accountName}]]</span>
                                        <span th:if="${#strings.isEmpty(info.businessAccount)}" style="color: red">未匹配到业务账号</span>
                                    </td>
                                    <td  style="line-height: 26px">
                                        <span th:if="${not #strings.isEmpty(info.sendRate)}">30天[[${info.sendRate}]]次</span><br>[[${info.sendDate}]]
                                    </td>
                                    <td  style="line-height: 26px">[[${info.reportNumber}]]<br>
                                        <span class="text-overflow"
                                              data-toggle="tooltip" data-placement="right"
                                              th:data-original-title="${info.reportContent}">[[${info.reportContent}]]</span>
                                    </td>

                                    <td  style="line-height: 26px">[[${info.createdBy}]]<br>[[${info.createdTime}]]</td>
                                    <td style="line-height: 26px">
                                        <a sec:authorize-url="/complaint/detail/*"
                                           th:href="@{/complaint/detail/{id}(id=${info.id})}" class="on-default edit-row"
                                           style="padding-left: 5px;color: #4BD396;"
                                           data-toggle="tooltip"
                                           data-placement="left" data-original-title="查看详情">
                                            <i style="font-size: 18px" class="glyphicon glyphicon-search"></i>
                                        </a>
                                        <a sec:authorize-url="/complaint/edit/*"
                                           th:href="@{/complaint/edit/{id}(id=${info.id})}" class="on-default edit-row"
                                           style="padding-left: 5px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title=""  data-original-title="编辑"><i
                                                style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                        <a sec:authorize-url="/complaint/deleteById/*" data-toggle="modal"
                                           data-target="#confirm-modal" class="on-default remove-row"
                                           th:onclick="confirmDelete([[${info.id}]],this)" style="padding-left: 5px;color: #f05050" title="删除"><i
                                                style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <hr>
                        </div>

                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start row  删除确认-->
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

<script  th:remove="${#strings.isEmpty(error)}?none:all">

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + "/complaint/deleteById/" + $("#deleteId").val();
    }

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '[[${messageComplaintInfoValidator.startDate}]]',
        endDate: '[[${messageComplaintInfoValidator.endDate}]]',
        minDate: '2019-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 720
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');






</script>
</body>
</html>