<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <!-- Tooltipster css -->
    <link rel="stylesheet" th:href="@{/static/plugins/tooltipster/tooltipster.bundle.min.css}">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">12321投诉</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            12321投诉
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/complaint/complaintSourcePage}" th:object="${messageComplaintInfoValidator}" id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input id="reportrange" class="form-control" th:field="*{startDate}" type="text"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="被举报码号" th:field="*{reportedNumber}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="举报手机号" th:field="*{reportNumber}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="举报内容" th:field="*{reportContent}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="carrier" identity="carrier" show-type="select" key="code" mask-value="INTERNATIONAL"
                                             class="form-control" name="carrierSource" th:value="${messageComplaintInfoValidator.carrierSource}" title="运营商来源"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="举被报省份" th:field="*{reportedProvince}" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="被举报地市" th:field="*{reportedCity}" autocomplete="off">
                                </div>

                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/complaint/complaintSourcePage" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <a  sec:authorize-url="/complaint/add/*" th:href="@{/complaint/add/12321}"
                                        class="btn btn-teal waves-effect waves-light m-l-10 btn-md">
                                        <i class="mdi mdi-file-import"></i> 批量导入</a>
                                    <input type="hidden" name="currentPage" id="currentPage" th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize" th:value="${pageParams.pageSize}">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">投诉列表
                            <span style="padding-left:20px;color: #fff;font-size: 14px">提示：异步上传，会有延迟</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="width:165px">运营商来源/举报运营商</th>
                                    <th style="width:165px">是否12321/举报来源</th>
                                    <th style="width:150px">ID/发送类型</th>
                                    <th style="width:180px">被举报号码/举报时间</th>
                                    <th style="width:170px">被举报省分/地市</th>
                                    <th>内容分类/举报内容</th>
                                    <th style="width:170px">省分地市/举报号码</th>
                                    <th style="width:165px">创建人/创建日期</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="line-height: 26px"><mpm:tag identity="carrier" show-type="label" key="code" th:value="${info.carrierSource}"/><br>
                                        <span class="btn btn-teal btn-rounded btn-sm waves-effect waves-light;" th:if="${#strings.containsIgnoreCase(info.carrier,'移动')}">[[${info.carrier}]]</span>
                                        <span class="btn btn-info btn-rounded btn-sm waves-effect waves-light;" th:if="${#strings.containsIgnoreCase(info.carrier,'联通')}">[[${info.carrier}]]</span>
                                        <span class="btn btn-primary btn-rounded btn-sm waves-effect waves-light;" th:if="${#strings.containsIgnoreCase(info.carrier,'电信')}">[[${info.carrier}]]</span>
                                    </td>
                                    <td style="line-height: 26px">[[${info.is12321 eq '0'?'否':'是'}]]<br>[[${info.reportSource}]]</td>
                                    <td style="line-height: 26px">[[${info.handleCarrierId}]]<br>[[${info.sendType}]]</td>
                                    <td style="line-height: 26px">[[${info.reportedNumber}]]<br>[[${info.reportDate}]]</td>
                                    <td style="line-height: 26px">[[${info.reportedProvince}]]<br>[[${info.reportedCity}]]</td>
                                    <td style="line-height: 26px">[[${info.contentType}]]<br>
                                        <span class="text-overflow"
                                              data-toggle="tooltip" data-placement="right"
                                              th:data-original-title="${info.reportContent}">[[${info.reportContent}]]</span>
                                    </td>
                                    <td style="line-height: 26px">[[${info.reportProvince}]][[${info.reportCity}]]<br>[[${info.reportNumber}]]</td>
                                    <td style="line-height: 26px">[[${info.createdBy}]]<br>[[${info.createdTime}]]</td>

                                </tr>

                                </tbody>
                            </table>
                            <hr>
                        </div>

                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

        <!-- start row  删除确认-->
        <th:block th:insert="fragments/common_fragments :: confirm-modal"/>
        <!-- end row -->

    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>

<script  th:remove="${#strings.isEmpty(error)}?none:all">

    function confirmDelete(id) {
        $("#deleteId").val(id);
    }

    function deleteById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + "/complaint/deleteById/" + $("#deleteId").val();
    }

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '[[${messageComplaintInfoValidator.startDate}]]',
        endDate: '[[${messageComplaintInfoValidator.endDate}]]',
        minDate: '2019-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 720
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');






</script>
</body>
</html>