<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
    <style>
        .smoc{

        }
        .carrier{
           color:#6b5fb5
        }
        .contradiction{
           color:#f5707a
        }
        .bgRow{
           background-color:#f3f3f3
        }
        .detail {
            height: 110px;
            background-color: #0095a8;
            margin-bottom: 20px;
        }

        .detail ul {
            width: 100%;
            height: 100%;
        }

        .detail ul li {
            width: 100%;
            height: 100%;
            float: left;
            text-align: center;
            color: #0095a8;
            box-sizing: border-box;
        }

        .detail ul li h2 {
            margin-top: 8px;
            line-height: 32px;
            font-size: 16px;
            font-weight: bold;
        }

        .detail ul li span {
            height: 2px;
            background: #0095A8;
            vertical-align: top;
        }
    </style>
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 0px">
    <div class="container">
        <!-- start row  列表数据-->
        <div class="row"  th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="detail" style="margin-bottom:0px">
                    <ul>
                        <li>
                            <h2 style="color: #fff;font-size:16px;">
                                <mpm:tag id="specificProvder" identity="specificProvder"
                                     show-type="label" key="code"
                                     th:value="${channelProvder}"/>&nbsp;[[${startDate}]]期 对账单</h2>
                            <span></span>
                            <div class="detailInner">
                                <a>近3月发送量差额：<span data-d-group="4" data-a-sign=" "
                                                style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                readonly class="autonumber">1</span>%</a><i></i>
                                <a>近12月发送量差额：<span data-d-group="4" data-a-sign=""
                                                style="color:#fff;width:100px;background-color:#0095a8;text-align:left"
                                                readonly class="autonumber">0.3</span>%</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>账期</th>
                                    <th>运营商</th>
                                    <th>接入码号（计费号码）</th>
                                    <th>发送量</th>
                                    <th>价格</th>
                                    <th>总金额</th>
                                    <th>运营商总额</th>
                                    <th>运营商条数</th>
                                    <th>条数差额</th>
                                    <th>金额差额</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="info:${list}">
                                    <tr th:class="${infoStat.odd} ? 'bgRow'">
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px" th:rowspan="${info.rowspan}">
                                            [[${info.channelPeriod}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px" th:rowspan="${info.rowspan}">
                                            <mpm:tag id="specificProvder" identity="specificProvder"
                                                     show-type="label" key="code"
                                                     th:value="${info.channelProvder}"/>
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            [[${dataInfo.srcId}]]([[${dataInfo.channelId}]])
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            [[${dataInfo.totalSendQuantity}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            ¥[[${dataInfo.price}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            [[${dataInfo.totalAmount}]]
                                        </td>
                                        <td class="carrier" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            [[${dataInfo.carrierTotalAmount}]]
                                        </td>
                                        <td class="carrier" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            <span th:if="${dataInfo.carrierTotalSendQuantity ne 0}">[[${dataInfo.carrierTotalSendQuantity}]]</span>
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            <span th:if="${dataInfo.quantityDifference ne 0}">[[${dataInfo.quantityDifference}]] ([[${dataInfo.quantityDifferenceRate}]]%)</span>
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px" th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index ==0}">
                                            [[${dataInfo.amountDifference}]]
                                        </td>

                                    </tr>
                                    <tr th:class="${infoStat.odd} ? 'bgRow'"  th:each="dataInfo:${info.carrierList}" th:if="${dataInfoStat.index >0}">
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            [[${dataInfo.srcId}]]([[${dataInfo.channelId}]])
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            [[${dataInfo.totalSendQuantity}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            ¥[[${dataInfo.price}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            [[${dataInfo.totalAmount}]]
                                        </td>
                                        <td class="carrier" style="vertical-align: middle;line-height: 26px">
                                            [[${dataInfo.carrierTotalAmount}]]
                                        </td>
                                        <td class="carrier" style="vertical-align: middle;line-height: 26px">
                                            <span  th:if="${dataInfo.carrierTotalSendQuantity ne 0}">[[${dataInfo.carrierTotalSendQuantity}]]</span>
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px">
                                            <span th:if="${dataInfo.quantityDifference ne 0}">[[${dataInfo.quantityDifference}]]([[${dataInfo.quantityDifferenceRate}]]%)</span>
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px">
                                            [[${dataInfo.amountDifference}]]
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>

<script>

     $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>