<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

    <style>
        .detail {
            height: 110px;
            background-color: #0095a8;
            margin-bottom: 20px;
        }

        .detail ul {
            width: 100%;
            height: 100%;
        }

        .detail ul li {
            width: 100%;
            height: 100%;
            float: left;
            text-align: center;
            color: #0095a8;
            box-sizing: border-box;
        }

        .detail ul li h2 {
            margin-top: 8px;
            line-height: 32px;
            font-size: 16px;
            font-weight: bold;
        }

        .detail ul li span {
            height: 2px;
            background: #0095A8;
            vertical-align: top;
        }

    </style>
</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 0px">
    <div class="container">
        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="position: relative;margin-top: 0px">
            <div class="col-sm-12">
                <div class="detail" style="height:80px;margin-bottom:0px">
                    <ul>
                        <li>
                            <h2 style="color: #fff;margin-top:20px;font-size:18px;">
                                <mpm:tag id="specificProvder" identity="specificProvder"
                                         show-type="label" key="code"
                                         th:value="${channelProvder}"/>&nbsp;[[${startDate}]]期 对账单
                            </h2>
                        </li>
                    </ul>
                </div>
            </div>
            <form id="submit_form" th:action="@{/finance/reconciliation/carrier/save/{op}(op=${op})}"
                  th:object="${reconciliationChannelCarrierModel}"
                  method="post" data-parsley-validate="">
                <div class="col-sm-12">
                    <div class="panel panel-color panel-info">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table table-hover m-10" style="margin-top: -12px;">
                                    <thead>
                                    <tr>
                                        <th>账期</th>
                                        <th>运营商</th>
                                        <th>接入码号（计费号码）</th>
                                        <th>发送量</th>
                                        <th>价格</th>
                                        <th>总金额</th>
                                        <th>运营商总额</th>
                                        <th>运营商条数</th>
                                        <th>条数差额</th>
                                        <th>金额差额</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="info:${list}" th:if="${infoStat.index ==0}">
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px"
                                            th:rowspan="${rowspan}">
                                            [[${startDate}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px"
                                            th:rowspan="${rowspan}">
                                            <mpm:tag id="specificProvder" identity="specificProvder"
                                                     show-type="label" key="code"
                                                     th:value="${channelProvder}"/>
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            [[${info.srcId}]]([[${info.channelId}]])
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                       <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                             style="width:90px;text-align:left" th:id="'messageNum'+${infoStat.index}"
                                             class="autonumber">[[${info.totalSendQuantity}]]</span>
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            ¥[[${info.price}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                        <span data-d-group="4" data-a-sign="¥ " class="autonumber"
                                              th:id="'account'+${infoStat.index}">
                                            [[${info.totalAmount}]]
                                        </span>
                                        </td>
                                        <td class="carrier"
                                            style="vertical-align: middle;line-height: 26px;width:220px">
                                            <input class="form-control" type="text" min="0.1" max="5000000" th:if="${'add' eq op}"
                                                   th:name="'carrierAccount'+${infoStat.index}"
                                                   th:onchange="carrierAccount(this.value,[[${infoStat.index}]])"
                                                   required="" placeholder="请输入运营商账单总金额" autocomplete="off">
                                            <input class="form-control" type="text" min="0.1" max="5000000" th:if="${'edit' eq op}"
                                                   th:name="'carrierAccount'+${infoStat.index}" th:value="${info.carrierTotalAmount}"
                                                   th:onchange="carrierAccount(this.value,[[${infoStat.index}]])"
                                                   required="" placeholder="请输入运营商账单总金额" autocomplete="off">
                                        </td>
                                        <td class="carrier" style="vertical-align: middle;line-height: 26px">
                                            <input class="form-control" type="text" data-parsley-type="number" th:if="${'add' eq op}"
                                                   th:name="'carrierMessage'+${infoStat.index}"
                                                   th:onchange="carrierMessage(this.value,[[${infoStat.index}]])"
                                                   required="" placeholder="运营商条数" autocomplete="off">
                                            <input class="form-control" type="text" data-parsley-type="number" th:if="${'edit' eq op}"
                                                   th:name="'carrierMessage'+${infoStat.index}" th:value="${info.carrierTotalSendQuantity}"
                                                   th:onchange="carrierMessage(this.value,[[${infoStat.index}]])"
                                                   required="" placeholder="运营商条数" autocomplete="off">
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px">
                                       <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                             style="width:90px;text-align:left"
                                             class="autonumber" th:id="'differenceAccount'+${infoStat.index}">[[${info.quantityDifference}]]</span>
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px">
                                            <span data-d-group="4" data-a-sign="¥ " class="autonumber"
                                                  th:id="'differenceMessage'+${infoStat.index}">[[${info.amountDifference}]]</span>
                                        </td>
                                    </tr>
                                    <tr th:each="info:${list}" th:if="${infoStat.index >0}">
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            [[${info.srcId}]]([[${info.channelId}]])
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                       <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                             style="width:90px;text-align:left" th:id="'messageNum'+${infoStat.index}"
                                             class="autonumber">[[${info.totalSendQuantity}]]</span>
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            ¥[[${info.price}]]
                                        </td>
                                        <td class="smoc" style="vertical-align: middle;line-height: 26px">
                                            <span data-d-group="4" data-a-sign="¥ " class="autonumber"
                                                  th:id="'account'+${infoStat.index}">[[${info.totalAmount}]]</span>
                                        </td>
                                        <td class="carrier"
                                            style="vertical-align: middle;line-height: 26px;width:220px">
                                            <input class="form-control" type="text" min="0.1" max="5000000"
                                                   th:name="'carrierAccount'+${infoStat.index}"
                                                   th:onchange="carrierAccount(this.value,[[${infoStat.index}]])" th:if="${'add' eq op}"
                                                   required="" placeholder="请输入运营商账单总金额" autocomplete="off">
                                            <input class="form-control" type="text" min="0.1" max="5000000" th:value="${info.carrierTotalAmount}"
                                                   th:name="'carrierAccount'+${infoStat.index}"
                                                   th:onchange="carrierAccount(this.value,[[${infoStat.index}]])" th:if="${'edit' eq op}"
                                                   required="" placeholder="请输入运营商账单总金额" autocomplete="off">
                                        </td>
                                        <td class="carrier" style="vertical-align: middle;line-height: 26px">
                                            <input class="form-control" type="text" data-parsley-type="number"
                                                   th:name="'carrierMessage'+${infoStat.index}"
                                                   th:onchange="carrierMessage(this.value,[[${infoStat.index}]])"  th:if="${'add' eq op}"
                                                   required="" placeholder="运营商条数" autocomplete="off">
                                            <input class="form-control" type="text" data-parsley-type="number" th:value="${info.carrierTotalSendQuantity}"
                                                   th:name="'carrierMessage'+${infoStat.index}"
                                                   th:onchange="carrierMessage(this.value,[[${infoStat.index}]])"  th:if="${'edit' eq op}"
                                                   required="" placeholder="运营商条数" autocomplete="off">
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px">
                                       <span data-d-group="4" data-a-sign=" " data-v-min="0" data-v-max="999999999"
                                             style="width:90px;text-align:left"
                                             class="autonumber" th:id="'differenceAccount'+${infoStat.index}">[[${info.quantityDifference}]]</span>
                                        </td>
                                        <td class="contradiction" style="vertical-align: middle;line-height: 26px">
                                            <span data-d-group="4" data-a-sign="¥ " class="autonumber"
                                                  th:id="'differenceMessage'+${infoStat.index}">[[${info.amountDifference}]]</span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="panel panel-color panel-info">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group m-b-20">
                                        <label>审核<span class="text-danger">*</span></label>
                                        <select name="approveStatus" data-style="btn-default"
                                                class="selectpicker  form-control" tabindex="-98" 　required="true">
                                            <option data-icon="mdi mdi-buffer">通过审核</option>
                                            <option data-icon="mdi mdi-buffer">走下步审核</option>
                                            <option data-icon="mdi mdi-buffer">直接出账</option>
                                        </select>
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label>账单说明<span class="text-danger">*</span>&nbsp;
                                            <span class="text-danger" style="font-weight: 200;font-size: 12px"></span>
                                        </label>
                                        <textarea class="form-control" rows="2" placeholder="账单说明"
                                                  data-parsley-length="[1,200]" autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            <div class="text-center" style="margin-bottom:20px">
                                <input type="hidden" th:field="*{channelPeriod}">
                                <input type="hidden" th:field="*{channelProvder}">
                                <button sec:authorize-url="/finance/reconciliation/carrier/save/*" type="submit"
                                        class="btn btn-teal waves-effect waves-light">提交</button>
                            </div>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>

<script>

    function carrierAccount(value, index) {
        var a = document.getElementById("account" + index).innerText;
        let sum = parseFloat(a - value);
        sum = (parseFloat(sum.toFixed(2)))
        document.getElementById("differenceAccount" + index).innerText = sum;
    }

    function carrierMessage(value, index) {
        var a = document.getElementById("messageNum" + index).innerText;
        let sum = parseFloat(a - value);
        sum = (parseFloat(sum.toFixed(2)))
        document.getElementById("differenceMessage" + index).innerText = sum;
    }


    $(document).ready(function () {
        $('.autonumber').autoNumeric('init');
    });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>