<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title"> 签名资质明细</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            业务审核
                        </li>
                        <li class="active">
                            签名资质明细
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row -->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-6">
                <div class="panel panel-color panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            EC资料管理
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>企业名称<span class="text-danger">*</span>&nbsp;</label>
                                                <input type="text"  class="form-control" value="北京星语互联科技有限公司" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>签名<span class="text-danger">*</span>&nbsp;</label>
                                                <input type="text"  class="form-control" value="北京星语" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>企业类型<span class="text-danger">*</span></label>
                                                <mpm:tag  identity="enterpriseType" show-type="label" key="code"
                                                          class="form-control" value="CHANNELCUSTOMER" />
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>业务类型<span class="text-danger">*</span></label>
                                                <mpm:tag identity="businessType" show-type="select" key="code"
                                                         class="form-control" value="INTERNATIONAL_SMS" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>内容类型<span class="text-danger">*</span></label>
                                                <mpm:tag identity="contentType" show-type="select" key="code"
                                                         class="form-control"  value="PERSONAL_LOAN"/>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>短链<span class="text-danger">*</span>&nbsp;</label>
                                                <input type="text"  class="form-control" value="http://mtw.so/6xOaa3" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 m-b-10">
                                                <label>签名合同链<span class="text-danger">*</span>&nbsp;</label>
                                                <input type="text"  class="form-control" readonly>
                                            </div>
                                            <div class="col-sm-6 m-b-10">
                                                <label>签订日期<span class="text-danger">*</span>&nbsp;</label>
                                                <input id="contractDate" class="form-control" type="text" value="2021-11-03" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label>备注关键字</label>
                                        <input type="text"  class="form-control" >
                                    </div>
                                    <div class="form-group m-b-20">
                                        <p class="text-muted"><i style="font-size: 18px" class="mdi mdi-download"></i><a href="">&nbsp;签名合同文件</a></p>
                                        <p class="text-muted"><i style="font-size: 18px" class="mdi mdi-download"></i><a href="">&nbsp;签名资质文件</a></p>
                                        <p class="text-muted"><i style="font-size: 18px" class="mdi mdi-download"></i><a href="">&nbsp;客户金融信息安全承诺书</a></p>
                                    </div>

                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->

                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
            <div class="col-md-6">
                <div class="panel panel-color panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="mdi mdi-content-save-all" style="margin-right:5px"></i>
                            审核记录
                        </h3>
                    </div>
                    <div class="panel-body" style="height: 625px">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>提交人</th>
                                    <th>提交时间</th>
                                    <th>描述</th>
                                </tr>
                                <thead>
                                <tbody>
                                    <tr>
                                        <td>李先生</td>
                                        <td>2021-11-3 12:45:47</td>
                                        <td>修改</td>
                                    </tr>
                                    <tr>
                                        <td>李先生</td>
                                        <td>2021-11-3 12:45:47</td>
                                        <td>修改</td>
                                    </tr>
                                    <tr>
                                        <td>李先生</td>
                                        <td>2021-11-3 12:45:47</td>
                                        <td>添加</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="text-right">
                            <a sec:authorize-url="/ec/resource/list" th:href="@{/ec/resource/list}" class="btn btn-default waves-effect waves-light">返回</a>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>

<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>