<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <!-- Custom box css -->
    <link th:href="@{/static/plugins/custombox/css/custombox.min.css}" rel="stylesheet">
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">EC资料管理 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            EC资料管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px"  th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row m-b-60">
                        <div class="col-sm-12">
                            <div class="form-group  col-sm-3">
                                <input id="reportrange" class="form-control" type="text" />
                            </div>
                            <div class="form-group  col-sm-3">
                                <input type="text" class="form-control" placeholder="企业名称" autocomplete="off">
                            </div>
                            <div class="form-group  col-sm-3">
                                <input type="text" class="form-control" placeholder="签名" autocomplete="off">
                            </div>
                            <div class="form-group  col-sm-3">
                                <mpm:tag id="businessType" identity="businessType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="业务类型" />
                            </div>
                            <div class="form-group  col-sm-3">
                                <mpm:tag id="contentType" identity="contentType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="内容类型" />
                            </div>
                            <div class="form-group  col-sm-3">
                                <mpm:tag id="enterpriseType" identity="enterpriseType"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="企业类型" />
                            </div>
                            <div class="form-group  col-sm-3">
                                <mpm:tag id="checkStatus" identity="checkStatus"  show-type="select"  key="code" class="form-control"   data-icon="mdi mdi-view-module" title="审核状态" />
                            </div>
                            <form  id="query_form" th:action="@{/ec/resource/page}" method="post" class="form-inline">
                                <div class="form-group pull-right" style="text-align: right">
                                    <button sec:authorize-url="/ec/resource/page" class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/ec/customer/search/*" th:href="@{/ec/customer/search/resource}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"></i> 新建EC资料</a>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">EC资料列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>签名/企业名称</th>
                                    <th>企业类型</th>
                                    <th>业务类型</th>
                                    <th>内容类型</th>
                                    <th>短链</th>
                                    <th>资料状态</th>
                                    <th>签订日期</th>
                                    <th>创建人/创建日期</th>
                                    <th>审核人/审核日期</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                    <tr>
                                        <td><span style="color:#26A69A">【北京星语】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="TEXT_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="NOTICE" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-default btn-rounded btn-sm waves-effect waves-light">保存状态</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td></td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/sendCheck/*" class="on-default edit-row"
                                               style="padding-left: 5px;color: #8D6E63;"title="发送审核"><i style="font-size: 18px" class="glyphicon glyphicon-send"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*"
                                               th:href="@{/ec/resource/edit/id}"class="on-default edit-row"
                                               style="padding-left: 5px;color: #29b6f6;"title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                            <a sec:authorize-url="/ec/resource/deleteById/*" data-toggle="modal"
                                               data-target="#confirm-modal" class="on-default remove-row"
                                               style="padding-left: 5px;color: #f05050"title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【北京星语】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="MMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="CREDIT_CARD" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-warning btn-rounded btn-sm waves-effect waves-light">审核中</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td></td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【星语互联科技】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="INTERNATIONAL_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="PERSONAL_LOAN" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【北京星语】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="5G_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="PRESS_MONEY" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-danger btn-rounded btn-sm waves-effect waves-light">审核拒绝</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/sendCheck/*" class="on-default edit-row"
                                               style="padding-left: 5px;color: #8D6E63;"title="发送审核"><i style="font-size: 18px" class="glyphicon glyphicon-send"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*"
                                               th:href="@{/ec/resource/edit/id}"class="on-default edit-row"
                                               style="padding-left: 5px;color: #29b6f6;"title="编辑"><i style="font-size: 18px" class="mdi mdi-table-edit"></i></a>
                                            <a sec:authorize-url="/ec/resource/deleteById/*" data-toggle="modal"
                                               data-target="#confirm-modal" class="on-default remove-row"
                                               style="padding-left: 5px;color: #f05050"title="删除"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【星语互联科技】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="DIRECTCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="MULTI_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="GAME" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【星语互联科技】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="BLACK_SERVICE" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="INSURANCE" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【星语互联科技】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="INTERNATIONAL_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="EDUCATION" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【星语互联科技】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="INTERNATIONAL_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="FRIEND" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color:#26A69A">【星语互联科技】</span><br>北京星语互联科技有限公司</td>
                                        <td style="line-height: 26px;"><mpm:tag identity="enterpriseType" value="CHANNELCUSTOMER" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="businessType" value="INTERNATIONAL_SMS" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;"><mpm:tag identity="contentType" value="REAL_ESTATE" show-type="label"  key="code" /></td>
                                        <td style="line-height: 26px;">http://mtw.so/6xOaa3</td>
                                        <td><a class="btn btn-info btn-rounded btn-sm waves-effect waves-light">审核通过</a></td>
                                        <td style="line-height: 26px;">2021-11-3</td>
                                        <td>李先生<br>2021-11-3 12:45:47</td>
                                        <td>张先生<br>2021-11-4 12:45:47</td>
                                        <td style="line-height: 26px;">
                                            <a sec:authorize-url="/ec/resource/detail/*"
                                               th:href="@{/ec/resource/detail/id}" class="on-default edit-row"
                                               style="padding-left: 5px;color: #4BD396;"
                                               title="审核记录"><i style="font-size: 18px" class="glyphicon glyphicon-search"></i></a>
                                            <a sec:authorize-url="/ec/resource/edit/*" data-toggle="modal" data-target="#download-record"
                                               class="on-default edit-row"
                                               style="padding-left: 5px;color: #6B5FB5;"title="下载附件"><i style="font-size: 18px" class="glyphicon glyphicon-download"></i></a>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->

        <th:block th:insert="fragments/common_fragments :: common_error"/>

    </div> <!-- container -->

</div> <!-- content -->

<div id="download-record" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="a-width-modalLabel" aria-hidden="true" style="display: none;margin: 60px">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">下载附件</h4>
            </div>
            <div class="row" style="padding-top: 15px">
                <div class="col-sm-12 m-b-10">
                    <p class="text-muted"><i style="font-size: 18px" class="mdi mdi-download"></i><a href="">&nbsp;签名合同文件</a></p>
                    <p class="text-muted"><i style="font-size: 18px" class="mdi mdi-download"></i><a href="">&nbsp;签名资质文件</a></p>
                    <p class="text-muted"><i style="font-size: 18px" class="mdi mdi-download"></i><a href="">&nbsp;客户金融信息安全承诺书</a></p>
                </div>

            </div>
        </div>
    </div>
</div>
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<!-- Modal-Effect -->

<script>

    $('#reportrange').daterangepicker({
        format: 'YYYY-MM-DD',
        startDate: '2020-11-03',
        endDate: '2021-11-03',
        minDate: '2012-01-01',
        maxDate: '2080-12-31',
        dateLimit: {
            days: 720
        },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
            '今天': [moment(), moment()],
            '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            '最近7天': [moment().subtract(6, 'days'), moment()],
            '最近30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        opens: 'right',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'YYYY-MM-DD',
        separator: ' - ',
        locale: {
            applyLabel: '确认',
            cancelLabel: '取消',
            fromLabel: '从',
            toLabel: '到',
            customRangeLabel: '自定义',
            format: "YYYY-MM-DD",
            daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            firstDay: 1
        }
    }, function (start, end, label) {
        //alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>