<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">xxx账号管理</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            xxx账号管理
                        </li>
                        <li>
                            xxx账号管理
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/system/account/page}" th:object="${systemAccountInfoValidator}"
                          method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{enterpriseName}"
                                           placeholder="企业名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control" th:field="*{account}"
                                           placeholder="xxx账号" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/system/account/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/system/enterprise/search"
                                       th:href="@{/system/enterprise/search}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新建xxx账号</a>
                                    <input type="hidden"  th:field="*{businessType}">
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">xxx账号列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>企业名称</th>
                                    <th>xxx账号</th>
                                    <th>xxx价格</th>
                                    <th>xxx价格</th>
                                    <th>xxx价格</th>
                                    <th>授信金额</th>
                                    <th>账号类型</th>
                                    <th>账号状态</th>
                                    <th>创建人</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr th:each="info:${list}">
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.enterpriseName}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.account}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        ¥ [[${info.price}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        ¥ [[${info.secondPrice}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        ¥ [[${info.thirdPrice}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        ¥ [[${info.grantingCredit}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <mpm:tag id="accountType" identity="idenAccountType" class="1,btn btn-teal btn-rounded btn-sm waves-effect waves-light;2,btn btn-danger btn-rounded btn-sm waves-effect waves-light;"
                                                 name="accountType" show-type="button"  key="code"
                                                 th:value="${info.accountType}" title="账号类型"/>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a th:if="${'1'==info.accountStatus}"
                                           class="btn btn-success btn-rounded  waves-effect waves-light btn-ms">有效</a>
                                        <a th:if="${'0'==info.accountStatus}"
                                           class="btn btn-danger btn-rounded  waves-effect waves-light btn-ms">无效</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.createdBy}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        [[${info.createdTime}]]
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a sec:authorize-url="/system/account/view/center/*" th:href="@{/system/account/view/center/{id}(id=${info.id})}"
                                           data-toggle="tooltip" data-placement="bottom"
                                           data-original-title="账号明细"
                                           class="on-default edit-row"
                                           style="padding-left: 5px;color:#4BD396;"><i style="font-size: 18px"
                                                                                       class="glyphicon glyphicon-search"></i></a>
                                        <a sec:authorize-url="/system/account/edit/*"
                                           th:href="@{/system/account/edit/{id}(id=${info.id})}"
                                           class="on-default edit-row"
                                           style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改账号信息"><i
                                                style="font-size: 18px"
                                                class="mdi mdi-table-edit"></i></a>
<!--                                        <a sec:authorize-url="/system/account/excel/*"-->
<!--                                           th:href="@{/system/account/excel/{id}(id=${info.id})}"-->
<!--                                           data-toggle="tooltip" data-placement="bottom"-->
<!--                                           data-original-title="导出EXCEL"-->
<!--                                           class="on-default edit-row"-->
<!--                                           style="padding-left: 5px;color:#188ae2"><i style="font-size: 18px" class="glyphicon glyphicon-export"></i></a>-->
                                        <a  th:if="${info.accountStatus != '0'}" sec:authorize-url="/system/account/logout/*"
                                                data-toggle="modal" th:onclick="confirmLogout([[${info.id}]],this)"
                                                data-target="#confirm-modal" class="on-default remove-row"
                                                style="padding-left: 5px;color: #f05050"
                                                title="注销账号"><i style="font-size: 18px" class="mdi mdi-delete-sweep"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start confirm delete modal  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">确认注销</h4>
                    </div>
                    <div class="modal-body">

                        <p>注销之后，该账号将无法使用！你还是确认注销？</p>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button onclick="logoutById()" class="btn btn-primary waves-effect waves-light">确认注销</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm delete modal  -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->
    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    function confirmLogout(id) {
        $("#deleteId").val(id);
    }

    //注销
    function logoutById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
        location.href = contextPath + '/system/account/logout/' + $("#deleteId").val();
    }



    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>