<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">通道检索</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            业务账号管理
                        </li>
                        <li>
                            业务账号挂起通道
                        </li>
                        <li class="active">
                            通道检索
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form th:action="@{/channel/search/suspend/page}" id="query_form" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="通道ID" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="通道名称" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="码号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="通道对接账号" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="通道对接销售" autocomplete="off">
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="channelSupplier" identity="channelSupplier"
                                             show-type="select" key="code" class="form-control"
                                             data-icon="mdi mdi-view-module" title="通道供应商"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <mpm:tag id="provicesiii" identity="provices" name="provicess"
                                             show-type="select" key="code" class="form-control"
                                             data-icon="mdi mdi-view-module" title="接入省份"/>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <label>通道运行状态：</label>
                                    <mpm:tag id="channelLinkStatus" identity="channelLinkStatus"
                                             show-type="checkbox" key="code"
                                             class="form-control" name="channelProtocolType" value="" title="通道链接状态"/>
                                </div>

                                <div class="form-group  col-sm-6">
                                    <label>通道协议类型：</label>
                                    <mpm:tag id="channelProtocolType" identity="channelProtocolType"
                                             show-type="checkbox" key="code"
                                             class="form-control" name="channelProtocolType" value="" title="通道协议类型"/>
                                </div>
                                <div class="form-group  col-sm-6">
                                    <label>发送号码范围：</label>
                                    <mpm:tag id="carrier" identity="carrier" show-type="checkbox" key="code"
                                             class="form-control" name="carrier" value="" title="发送号码范围"/>
                                </div>
                                <div class="form-group  col-sm-9">
                                    <label>信息分类：</label>
                                    <mpm:tag id="infoType" identity="infoType" show-type="checkbox" key="code"
                                             class="form-control" name="infoType" value="" title="信息分类"/>
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/channel/search/privilege/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search" style="margin-right:5px"></i> 查询
                                    </button>
                                    <input type="hidden" name="currentPage" id="currentPage">
                                    <input type="hidden" name="pageSize" id="pageSize">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">通道列表
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="property-card property-horizontal" style="margin-bottom:10px;">
                                    <div class="row m-b-10">
                                        <div class="col-sm-12">
                                            <div class="property-content"
                                                 style="height:286px">
                                                <div class="listingInfo">
                                                    <div class="">
                                                        <h5 style="padding-left:10px">
                                                            通道名称：短信-移动-会销(小舟dj)
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道ID：9999</p>
                                                            <p style="font-size:12px">码号：10691111</p>
                                                            <p style="font-size:12px">
                                                                通道资费(元/条)：¥ 0.015<i data-toggle="tooltip"
                                                                                    data-placement="right" title=""
                                                                                    data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                                    class="mdi mdi-comment-processing"
                                                                                    style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">最大速率(条/秒)：1000/秒</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道供应商：<a
                                                                    class="btn btn-teal waves-effect waves-light btn-xs">中国移动</a>
                                                            </p>
                                                            <p style="font-size:12px">通道协议类型：CMPP</p>
                                                            <p style="font-size:12px">
                                                                通道区域范围：全国
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                   class="mdi mdi-comment-text" style="margin-left:5px"></i>
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="屏蔽区域，如果存在屏蔽区域的话"
                                                                   class="mdi mdi-comment-text-outline"
                                                                   style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">内容限制：仅支持普通会员行业</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">发送号码范围：中国移动</p>
                                                            <p style="font-size:12px">通道对接账号：BD00083</p>
                                                            <p style="font-size:12px">通道运行状态：正常</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">抗速率：4/百万</p>
                                                            <p style="font-size:12px">通道对接销售：杨英</p>
                                                            <p style="font-size:12px">通道状态：<a data-toggle="tooltip"
                                                                                              data-placement="bottom"
                                                                                              title=""
                                                                                              data-original-title="可以提示进度"
                                                                                              class="btn btn-success  waves-effect waves-light btn-xs">正常</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本月发送量：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">2045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道低销要求：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">5045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本期投诉率：3.8/百万
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道抗速率：4/百万</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="property-action">
                                                    <span style="padding-left:10px;font-size:12px">
                                                        通道业务介绍：次产品只能用来发送彩信、地产、有戏、验证码
                                                    </span>
                                                    <div class="pull-right">
                                                        <a sec:authorize-url="/account/channel/privilege/edit/*"
                                                           th:href="@{/account/channel/privilege/edit/id}"
                                                           class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                                            <i class="glyphicon glyphicon-download" style="margin-right:5px"></i>特权</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="property-card property-horizontal" style="margin-bottom:10px;">
                                    <div class="row m-b-10">
                                        <div class="col-sm-12">
                                            <div class="property-content"
                                                 style="height:286px">
                                                <div class="listingInfo">
                                                    <div class="">
                                                        <h5 style="padding-left:10px">
                                                            通道名称：短信-移动-会销(小舟dj)
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道ID：9999</p>
                                                            <p style="font-size:12px">码号：10691111</p>
                                                            <p style="font-size:12px">
                                                                通道资费(元/条)：¥ 0.015<i data-toggle="tooltip"
                                                                                    data-placement="right" title=""
                                                                                    data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                                    class="mdi mdi-comment-processing"
                                                                                    style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">最大速率(条/秒)：1000/秒</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道供应商：<a
                                                                    class="btn btn-teal waves-effect waves-light btn-xs">中国移动</a>
                                                            </p>
                                                            <p style="font-size:12px">通道协议类型：CMPP</p>
                                                            <p style="font-size:12px">
                                                                通道区域范围：全国
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                   class="mdi mdi-comment-text" style="margin-left:5px"></i>
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="屏蔽区域，如果存在屏蔽区域的话"
                                                                   class="mdi mdi-comment-text-outline"
                                                                   style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">内容限制：仅支持普通会员行业</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">发送号码范围：中国移动</p>
                                                            <p style="font-size:12px">通道对接账号：BD00083</p>
                                                            <p style="font-size:12px">通道运行状态：正常</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">抗速率：4/百万</p>
                                                            <p style="font-size:12px">通道对接销售：杨英</p>
                                                            <p style="font-size:12px">通道状态：<a data-toggle="tooltip"
                                                                                              data-placement="bottom"
                                                                                              title=""
                                                                                              data-original-title="可以提示进度"
                                                                                              class="btn btn-success  waves-effect waves-light btn-xs">正常</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本月发送量：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">2045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道低销要求：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">5045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本期投诉率：3.8/百万
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道抗速率：4/百万</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="property-action">
                                                    <span style="padding-left:10px;font-size:12px">
                                                        通道业务介绍：次产品只能用来发送彩信、地产、有戏、验证码
                                                    </span>
                                                    <div class="pull-right">
                                                        <a sec:authorize-url="/account/channel/privilege/edit/*"
                                                           th:href="@{/account/channel/privilege/edit/id}"
                                                           class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                                            <i class="glyphicon glyphicon-download" style="margin-right:5px"></i>特权</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="property-card property-horizontal" style="margin-bottom:10px;">
                                    <div class="row m-b-10">
                                        <div class="col-sm-12">
                                            <div class="property-content"
                                                 style="height:286px">
                                                <div class="listingInfo">
                                                    <div class="">
                                                        <h5 style="padding-left:10px">
                                                            通道名称：短信-移动-会销(小舟dj)
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道ID：9999</p>
                                                            <p style="font-size:12px">码号：10691111</p>
                                                            <p style="font-size:12px">
                                                                通道资费(元/条)：¥ 0.015<i data-toggle="tooltip"
                                                                                    data-placement="right" title=""
                                                                                    data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                                    class="mdi mdi-comment-processing"
                                                                                    style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">最大速率(条/秒)：1000/秒</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道供应商：<a
                                                                    class="btn btn-teal waves-effect waves-light btn-xs">中国移动</a>
                                                            </p>
                                                            <p style="font-size:12px">通道协议类型：CMPP</p>
                                                            <p style="font-size:12px">
                                                                通道区域范围：全国
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                   class="mdi mdi-comment-text" style="margin-left:5px"></i>
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="屏蔽区域，如果存在屏蔽区域的话"
                                                                   class="mdi mdi-comment-text-outline"
                                                                   style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">内容限制：仅支持普通会员行业</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">发送号码范围：中国移动</p>
                                                            <p style="font-size:12px">通道对接账号：BD00083</p>
                                                            <p style="font-size:12px">通道运行状态：正常</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">抗速率：4/百万</p>
                                                            <p style="font-size:12px">通道对接销售：杨英</p>
                                                            <p style="font-size:12px">通道状态：<a data-toggle="tooltip"
                                                                                              data-placement="bottom"
                                                                                              title=""
                                                                                              data-original-title="可以提示进度"
                                                                                              class="btn btn-success  waves-effect waves-light btn-xs">正常</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本月发送量：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">2045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道低销要求：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">5045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本期投诉率：3.8/百万
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道抗速率：4/百万</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="property-action">
                                                    <span style="padding-left:10px;font-size:12px">
                                                        通道业务介绍：次产品只能用来发送彩信、地产、有戏、验证码
                                                    </span>
                                                    <div class="pull-right">
                                                        <a sec:authorize-url="/account/channel/privilege/edit/*"
                                                           th:href="@{/account/channel/privilege/edit/id}"
                                                           class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                                            <i class="glyphicon glyphicon-download" style="margin-right:5px"></i>特权</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="property-card property-horizontal" style="margin-bottom:10px;">
                                    <div class="row m-b-10">
                                        <div class="col-sm-12">
                                            <div class="property-content"
                                                 style="height:286px">
                                                <div class="listingInfo">
                                                    <div class="">
                                                        <h5 style="padding-left:10px">
                                                            通道名称：短信-移动-会销(小舟dj)
                                                        </h5>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道ID：9999</p>
                                                            <p style="font-size:12px">码号：10691111</p>
                                                            <p style="font-size:12px">
                                                                通道资费(元/条)：¥ 0.015<i data-toggle="tooltip"
                                                                                    data-placement="right" title=""
                                                                                    data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                                    class="mdi mdi-comment-processing"
                                                                                    style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">最大速率(条/秒)：1000/秒</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">通道供应商：<a
                                                                    class="btn btn-teal waves-effect waves-light btn-xs">中国移动</a>
                                                            </p>
                                                            <p style="font-size:12px">通道协议类型：CMPP</p>
                                                            <p style="font-size:12px">
                                                                通道区域范围：全国
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="这个位置开发时有业务逻辑，可能多条 在这显示"
                                                                   class="mdi mdi-comment-text" style="margin-left:5px"></i>
                                                                <i data-toggle="tooltip" data-placement="right" title=""
                                                                   data-original-title="屏蔽区域，如果存在屏蔽区域的话"
                                                                   class="mdi mdi-comment-text-outline"
                                                                   style="margin-left:5px"></i>
                                                            </p>
                                                            <p style="font-size:12px">内容限制：仅支持普通会员行业</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">发送号码范围：中国移动</p>
                                                            <p style="font-size:12px">通道对接账号：BD00083</p>
                                                            <p style="font-size:12px">通道运行状态：正常</p>

                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:12px">抗速率：4/百万</p>
                                                            <p style="font-size:12px">通道对接销售：杨英</p>
                                                            <p style="font-size:12px">通道状态：<a data-toggle="tooltip"
                                                                                              data-placement="bottom"
                                                                                              title=""
                                                                                              data-original-title="可以提示进度"
                                                                                              class="btn btn-success  waves-effect waves-light btn-xs">正常</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 m-t-10" style="padding-left:0px">
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本月发送量：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">2045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道低销要求：
                                                                <span data-d-group="4" data-a-sign=" " data-v-min="0"
                                                                      data-v-max="999999999"
                                                                      class="autonumber">5045922</span>
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">本期投诉率：3.8/百万
                                                            </p>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <p style="font-size:14px;color:#00ACC1">通道抗速率：4/百万</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="property-action">
                                                    <span style="padding-left:10px;font-size:12px">
                                                        通道业务介绍：次产品只能用来发送彩信、地产、有戏、验证码
                                                    </span>
                                                    <div class="pull-right">
                                                        <a sec:authorize-url="/account/channel/privilege/edit/*"
                                                           th:href="@{/account/channel/privilege/edit/id}"
                                                           class="btn btn-success waves-effect waves-light m-l-10 btn-sm">
                                                            <i class="glyphicon glyphicon-download" style="margin-right:5px"></i>特权</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:10px">
                            <th:block th:insert="fragments/page_fragments :: page"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div><!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    $(document).ready(function() {
		$('.autonumber').autoNumeric('init');
	 });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');



</script>
</body>
</html>