<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/jquery-json-viewer/jquery.json-viewer.css}" rel="stylesheet"/>
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">认证订单明细</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            认证服务
                        </li>
                        <li>
                            认证订单
                        </li>
                        <li>
                            认证订单明细
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  页面数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <h4>
                                        <div class="pull-right" style="margin-top: -12px;">
                                            <a sec:authorize-url="/identification/order/list"
                                               th:href="@{/identification/order/list}"
                                               class="btn btn-default waves-effect waves-light btn-md">
                                                <i class="glyphicon  glyphicon-share-alt" style="margin-right:5px"></i>
                                                返回认证订单列表</a>
                                        </div>
                                    </h4>

                                    <div  class="row" style="display:block">
                                        <h4 style="padding-left:16px">
                                           请求数据
                                        </h4>
                                        <div class="col-md-12">
                                            <div>
                                                <textarea id="json-request" style="display: none" class="form-control" rows="150" >[[${jsonData}]]</textarea>
                                            </div>
                                            <pre id="json-renderer-request"></pre>
                                            <!-- end class p-20 -->
                                        </div> <!-- end col -->
                                    </div>



                                    <!-- end row -->
                                </div> <!-- end col -->

                            </div> <!-- end row -->

                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<script th:src="@{/static/plugins/jquery-json-viewer/jquery.json-viewer.js}"></script>
<script>

 $(function() {
        function renderJson() {
            try {
                //console.info(json);
                var input = eval('(' + $('#json-request').val() + ')');
            }
            catch (error) {
                return alert("Cannot eval JSON: " + error);
            }
            var options = {
                collapsed: $('#collapsed').is(':checked'),
                rootCollapsable: $('#root-collapsable').is(':checked'),
                withQuotes: $('#with-quotes').is(':checked'),
                withLinks: $('#with-links').is(':checked')
            };
            $('#json-renderer-request').jsonViewer(input, options);
        }

        // Generate on click
        $('#btn-json-viewer').click(renderJson);

        // Generate on option change
        $('p.options input[type=checkbox]').click(renderJson);

        // Display JSON sample on page load
        renderJson();
    });


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');


</script>
</body>
</html>