<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">
    <!-- Jquery filer css -->
    <link th:href="@{/static/plugins/jquery.filer/css/jquery.filer.css}" rel="stylesheet"/>
    <link th:href="@{/static/plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css}" rel="stylesheet"/>

</head>
<body>
<!-- Loader -->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">修改密码</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                           修改密码
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row" th:remove="${#strings.isEmpty(success)}?none:all">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="index.html" class="text-success">
                                    <span style="color:#FFFFFF">修改密码</span>
                                </a>
                            </h2>
                        </div>
                        <div class="account-content">
                            <div class="text-center m-b-20">
                                <div class="m-b-20">
                                    <form th:action="@{/sysUser/web/resetOwnPassword}" id="submit_form" th:object="${userPasswordValidator}"
                                          method="post" data-parsley-validate="">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="p-20">
                                                    <div class="form-group m-b-20">
                                                        <label for="password" style="float: left;">原密码<span class="text-danger">*</span>&nbsp;<span
                                                                class="text-danger" style="font-weight: 200;font-size: 12px"
                                                                th:if="${#fields.hasErrors('oldPassword')}"
                                                                th:errors="*{oldPassword}"></span></label>
                                                        <input type="password" th:field="*{oldPassword}"
                                                               class="form-control"
                                                               required="" data-parsley-length="[8,20]"
                                                               placeholder="输入密码">
                                                    </div>

                                                    <div class="form-group m-b-20">
                                                        <label for="password" style="float: left;">新密码<span class="text-danger">*</span>&nbsp;<span
                                                                class="text-danger" style="font-weight: 200;font-size: 12px"
                                                                th:if="${#fields.hasErrors('password')}"
                                                                th:errors="*{password}"></span></label>
                                                        <input id="password" type="password" th:field="*{password}"
                                                               class="form-control"
                                                               required="" data-parsley-length="[8,20]"
                                                               data-parsley-pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,20}$"
                                                               placeholder="输入密码">
                                                    </div>

                                                    <div class="form-group m-b-20">
                                                        <label for="rePassword" style="float: left;">确认密码<span class="text-danger">*</span>&nbsp;<span
                                                                class="text-danger" style="font-weight: 200;font-size: 12px"></span></label>
                                                        <input id="rePassword" data-parsley-equalto="#password" type="password"
                                                               name="reSecret" class="form-control"
                                                               required="" data-parsley-length="[8,20]"
                                                               placeholder="确认密码">
                                                    </div>
                                                    <div class="form-group m-b-20">
                                                        <div class="row">
                                                            <div class="alert-warning" role="alert" style="margin-bottom: 1px;">
                                                                必须包含数字，字母，长度不小于8位
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- end class p-20 -->

                                            </div> <!-- end col -->


                                        </div> <!-- end row -->

                                        <div class="text-center">
                                            <input type="hidden" th:field="*{id}">
                                            <button sec:authorize-url="/sysUser/web/resetOwnPassword" type="submit"
                                                    class="btn btn-teal waves-effect waves-light">提交
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end card-box-->
                </div>
                <!-- end wrapper -->
            </div>
        </div>
        <!-- end row -->

        <!-- success div start-->
        <div class="row" th:remove="${#strings.isEmpty(success)}?all:none">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 account-pages">
                        <div class="text-center account-logo-box">
                            <h2 class="text-uppercase">
                                <a href="#" class="text-success">
                                    <span style="color:#FFFFFF">成功提示</span>
                                </a>
                            </h2>
                        </div>
                        <div class="account-content">
                            <div class="text-center m-b-20">
                                <div class="m-b-20">
                                    <img th:src="@{/static/assets/images/users/avatar-5.jpg}"
                                         class="img-circle img-thumbnail thumb-lg" alt="thumbnail">
                                </div>
                                <p class="text-muted m-b-0 font-13">成功信息：[[${success}]] </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end card-box-->
                </div>
                <!-- end wrapper -->
            </div>
        </div>
        <!-- success div end-->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');
</script>
</body>
</html>