<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- META SECTION -->
    <title>[[${@systemProperties.systemName}]]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" th:href="@{/static/css/theme-default.css}" id="theme">
    <!-- EOF CSS INCLUDE -->
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container" style="background-color:#f5f5f5">
    <div class="login-container login-v2">
        <div class="login-box animated fadeInDown">
            <div class="login-body">
                <div class="login-title" style="text-align:center"><strong>修改密码</strong></div>
                <form  th:action="@{/sysUser/resetOwnPassword}" id="submit_form"
                       th:object="${userPasswordValidator}" class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input type="text" class="form-control" th:field="*{oldPassword}" placeholder="原密码"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input type="password" th:field="*{password}" class="form-control" placeholder="新密码"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="fa fa-lock"></span>
                                </div>
                                <input name="reSecret" type="password" class="form-control" placeholder="确认新密码"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-lg btn-block">确认修改</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

</body>
</html>






