<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body style="background-color:#fff">
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 20px">
    <div class="container">
        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-lg-12">
                <div class="panel panel-border panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">基本信息</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">运营商名称:</label>[[${carrierMap[primary.carrier]}]]
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">订单号:</label>[[${primary.orderNum}]]
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">流量类型:</label>
                                    <mpm:tag id="cardType" identity="poolType"
                                             name="cardType" show-type="button" key="code"
                                             style="margin-top:0px"
                                             th:value="${primary.cardType}"
                                             class="01,btn btn-success btn-rounded btn-sm waves-effect waves-light;02,btn btn-info btn-rounded btn-sm waves-effect waves-light;03,btn btn-teal btn-rounded btn-sm waves-effect waves-light;"/>

                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">MSISDN:</label>[[${primary.msisdn}]]
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">IMSI:</label>[[${primary.imsi}]]
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">ICCID:</label>[[${primary.iccid}]]
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">运营商流量池:</label>[[${poolMap[primary.flowPoolId]}]]
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">标准限额（G）:</label>
                                    <span style="color:#188ae2" th:if="${primary.cycleQuota == 0}">不限</span>
                                    <span th:if="${primary.cycleQuota != 0}">[[${primary.cycleQuota}]]G</span>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">计费周期:</label> 月周期
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">激活日期(首次):</label> 2022-07-12 11:28:10 <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">开卡时间:</label> 2022-07-12 11:28:10 <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">卡使用状态:</label> <label style="margin-right:10px">卡类型:</label>
                                    <a
                                            class="btn btn-warning btn-rounded  waves-effect waves-light btn-xs">未分配</a>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">卡状态:</label> 已激活 <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">创建人:</label> 贾明
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">创建时间:</label> 2022-07-12 11:28:10
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-border panel-teal">
                    <div class="panel-heading">
                        <h3 class="panel-title">其他信息</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">IMEI:</label>202205171348528 <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">是否迁移的卡:</label> 否
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">停机原因:</label> <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">物联网卡使用城市:</label>北京 <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">使用经度:</label>106.49910
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">使用纬度:</label> 29.61648
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">经纬度最后更新时间:</label>  2022-07-12 11:28:10
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">流量数据月同步时间:</label>  2022-07-12 11:28:10
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">流量数据日同步时间:</label>  2022-07-12 11:28:10
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">当前周期结算时间:</label>  2022-07-12 11:28:10
                                </div>
                                <div class="col-md-4 form-group">
                                    <label style="margin-right:10px">开卡备注:</label> <i class="mdi mdi-refresh" style="font-size:18px;color:#26a69a"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');




</script>
</body>
</html>