<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org"
>
<head>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/static/css/detail_statistics.css}" rel="stylesheet">
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">运营商流量池</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            资源接入
                        </li>
                        <li>
                            运营商流量池
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  查询条件-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="card-box">
                    <form id="query_form" th:action="@{/iot/carrier/pool/page}" method="post">
                        <div class="row m-b-60">
                            <div class="col-sm-12">
                                <div class="form-group  col-sm-3">
                                    <select class="selectpicker" >
                                        <option>------请选择运营商------</option>
                                        <option>------中国移动福建分公司------</option>
                                        <option>------中国移动安徽分公司------</option>
                                    </select>
                                </div>
                                <div class="form-group  col-sm-3">
                                    <input type="text" class="form-control"
                                           placeholder="流量池名称" autocomplete="off">
                                </div>
                                <div class="form-group col-sm-3 pull-right" style="text-align: right">
                                    <button sec:authorize-url="/iot/carrier/pool/page" type="submit"
                                            class="btn btn-custom waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-search"></i> 查询
                                    </button>
                                    <a sec:authorize-url="/iot/carrier/pool/add"
                                       th:href="@{/iot/carrier/pool/add}"
                                       class="btn btn-success waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-plus-sign"
                                           style="margin-right:5px"></i>新增运营商流量池</a>
                                    <a sec:authorize-url="/iot/carrier/pool/import"
                                       class="btn btn-primary waves-effect waves-light m-l-10 btn-md">
                                        <i class="glyphicon glyphicon-import"></i> 导入
                                    </a>
                                    <input type="hidden" name="currentPage" id="currentPage"
                                           th:value="${pageParams.currentPage}">
                                    <input type="hidden" name="pageSize" id="pageSize"
                                           th:value="${pageParams.pageSize}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  列表数据-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-sm-12">
                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">运营商流量池列表</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table table-hover m-10" style="margin-top: -12px;">
                                <thead>
                                <tr>
                                    <th>运营商名称</th>
                                    <th>流量池名称</th>
                                    <th>流量池卡数量</th>
                                    <th>流量池大小（G）</th>
                                    <th>流量池使用状态</th>
                                    <th>数据同步时间</th>
                                    <th>续流方式</th>
                                    <th>流量池状态</th>
                                    <th>创建人</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                <thead>
                                <tbody>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国移动-福建分公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        福建10G共享流量池
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10（G）
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <div class="progress" style="margin-top:20px"  data-toggle="tooltip"
                                             data-placement="bottom"  data-original-title="60%">
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2022-07-12 11:28:10
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-info btn-rounded  waves-effect waves-light btn-ms">手动续流</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success btn-rounded  waves-effect waves-light btn-ms">有效</a>
                                    </td>

                                    <td style="vertical-align: middle;line-height: 26px">
                                        武基慧
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2022-07-12 11:28:10
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a
                                                data-toggle="tooltip" data-placement="bottom"
                                                data-original-title="流量池明细"
                                                class="on-default edit-row"
                                                style="padding-left: 5px;color:#4BD396;"><i style="font-size: 18px"
                                                                                            class="glyphicon glyphicon-search"></i></a>
                                        <a th:href="@{/iot/carrier/add}"
                                           class="on-default edit-row"
                                           style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改流量池信息"><i
                                                style="font-size: 18px"
                                                class="mdi mdi-table-edit"></i></a>
                                        <a
                                                data-toggle="modal"
                                                data-target="#confirm-modal" class="on-default remove-row"
                                                style="padding-left: 5px;color: #f05050"
                                                title="停用流量池"><i style="font-size: 18px"
                                                                 class="mdi mdi-cup-off"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        中国移动-安徽分公司
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        安徽10G共享流量池
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        10（G）
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <div class="progress" style="margin-top:20px"  data-toggle="tooltip"
                                             data-placement="bottom"  data-original-title="30%">
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" class="progress-bar progress-bar-danger progress-bar-striped active"></div>
                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2022-07-12 11:28:10
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-info btn-rounded  waves-effect waves-light btn-ms">手动续流</a>
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a class="btn btn-success btn-rounded  waves-effect waves-light btn-ms">有效</a>
                                    </td>

                                    <td style="vertical-align: middle;line-height: 26px">
                                        武基慧
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        2022-07-12 11:28:10
                                    </td>
                                    <td style="vertical-align: middle;line-height: 26px">
                                        <a
                                                data-toggle="tooltip" data-placement="bottom"
                                                data-original-title="流量池明细"
                                                class="on-default edit-row"
                                                style="padding-left: 5px;color:#4BD396;"><i style="font-size: 18px"
                                                                                            class="glyphicon glyphicon-search"></i></a>
                                        <a th:href="@{/iot/carrier/add}"
                                           class="on-default edit-row"
                                           style="padding-left: 10px;color: #29b6f6;" data-toggle="tooltip"
                                           data-placement="left" title="" data-original-title="修改流量池信息"><i
                                                style="font-size: 18px"
                                                class="mdi mdi-table-edit"></i></a>
                                        <a
                                                data-toggle="modal"
                                                data-target="#confirm-modal" class="on-default remove-row"
                                                style="padding-left: 5px;color: #f05050"
                                                title="停用流量池"><i style="font-size: 18px"
                                                                class="mdi mdi-cup-off"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <th:block th:insert="fragments/page_fragments :: page"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start confirm delete modal  -->
        <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel"
             aria-hidden="true" style="display: none;margin: 60px">
            <div class="modal-dialog" style="width:33%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="custom-width-modalLabel">确认注销</h4>
                    </div>
                    <div class="modal-body">
                        <p>注销之后，该流量池下所有物联网卡都将无法使用！你还是确认注销？</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="deleteId">
                        <a class="btn btn-default waves-effect" data-dismiss="modal">取消</a>
                        <button onclick="logoutById()" class="btn btn-primary waves-effect waves-light">确认注销</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end confirm delete modal  -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->
    </div>
</div> <!-- content -->

<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/cookie_fragments :: cookie_js"/>
<script th:src="@{/static/plugins/moment/moment.js}"></script>
<script th:src="@{/static/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/static/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js}"></script>
<script th:src="@{/static/plugins/autoNumeric/autoNumeric.js}"></script>
<script>

    function confirmLogout(id) {
        $("#deleteId").val(id);
    }

    //注销
    function logoutById() {
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        $('#preloader').css('display', 'block');
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');





</script>
</body>
</html>