<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row  页面导航-->
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">财务账户共享明细</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            财务管理
                        </li>
                        <li>
                            财务账户共享明细
                        </li>
                    </ol>
                    <div class="clearfix">

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all" style="position: relative;margin-top: 80px">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="row" style="margin-bottom:10px">
                        <h4>
                            <div class="pull-right" style="margin-top: -12px;margin-right:10pxx">
                                <a
                                   th:href="@{/web/finance/account/list/{businessType}(businessType=${businessType})}" style="margin-left:10px"
                                   class="btn btn-default waves-effect waves-light btn-md">
                                    <i class="glyphicon  glyphicon-share-alt" style="margin-right:5px"></i>
                                    返回财务账户列表</a>
                            </div>
                        </h4>
                    </div>
                    <div id="login-panel" class="row" style="display:block">
                        <div class="col-lg-12" style="margin-top:10px">
                            <div class="panel panel-color panel-info">
                                <div id="login-account-down" class="panel-heading"
                                     style="display:block">
                                    <h3 class="panel-title">
                                        <i class="mdi mdi-account-circle" style="margin-right:5px"></i>
                                        共享财务账户信息
                                    </h3>
                                </div>
                                <div class="panel-body" style="padding-bottom:0px">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="property-card property-horizontal">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="property-content"
                                                             style="height:188px">
                                                            <div class="listingInfo">
                                                                <div class="">

                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p style="font-size:12px">
                                                                        共享财务账户ID：[[${financeAccountValidator.accountId}]]</p>
                                                                    <p style="font-size:12px">
                                                                        共享财务账户名称：[[${financeAccountValidator.accountName}]]</p>
                                                                    <p style="font-size:12px">
                                                                        状态：<a
                                                                            class="btn btn-success btn-rounded  waves-effect waves-light btn-ms">正常</a>
                                                                    </p>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p style="font-size:12px">
                                                                        账户可用余额： ¥
                                                                        [[${#numbers.formatDecimal(financeAccountValidator.accountUsableSum,1,'COMMA',2,'POINT')}]]
                                                                    </p>
                                                                    <p style="font-size:12px">
                                                                        账户冻结金额： ¥
                                                                        [[${#numbers.formatDecimal(financeAccountValidator.accountFrozenSum,1,'COMMA',2,'POINT')}]]
                                                                    </p>
                                                                    <p style="font-size:12px">
                                                                        账户消费总金额：¥
                                                                        [[${#numbers.formatDecimal(financeAccountValidator.accountConsumeSum,1,'COMMA',2,'POINT')}]]
                                                                    </p>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <p style="font-size:12px">
                                                                        账户充值总金额：¥
                                                                        [[${#numbers.formatDecimal(financeAccountValidator.accountRechargeSum,1,'COMMA',2,'POINT')}]]
                                                                    </p>
                                                                    <p style="font-size:12px">
                                                                        授信额度：¥
                                                                        [[${#numbers.formatDecimal(financeAccountValidator.accountCreditSum,1,'COMMA',2,'POINT')}]]
                                                                    </p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- /col 8 -->
                                                </div>
                                                <!-- /inner row -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active" id="tab1"><a onclick="active('1')"
                                                            sec:authorize-url="/web/finance/account/shareDetail/*"
                                                            th:href="@{/web/finance/account/shareDetail/{accountId}(accountId=${financeAccountValidator.accountId})}"
                                                            th:target="content1">财务共享账户</a></li>
                            <li class="" id="tab2"><a onclick="active('2')"
                                                      sec:authorize-url="/web/finance/account/shareRecharge/*"
                                                      th:href="@{/web/finance/account/shareRecharge/{accountId}(accountId=${financeAccountValidator.accountId})}"
                                                      th:target="content1">充值记录</a>

                        </ul>
                    </div>
                    <div class="tab-cotent">
                        <iframe name="content1" id="content1" th:frameBorder="0" th:scrolling="auto"
                                th:src="@{/web/finance/account/shareDetail/{accountId}(accountId=${financeAccountValidator.accountId})}"
                                style="padding: 0px; width: 100%; height: 2200px"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<!-- Modal-Effect -->
<script>

    function active(tab) {
        for(var num = 1;num<4;num++){
            $('#tab'+num).removeClass("active");
        }
        $('#tab'+tab).attr("class","active");
    }

    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>