<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/switchery/switchery.min.css}" rel="stylesheet">

</head>
<body>
<!-- Loader start 页面加载进度-->
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Loader end -->

<!-- Start content -->
<div class="content" style="margin-top: 60px">
    <div class="container">

        <!-- start row 页面导航-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">新建、修改企业信息</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            客户管理
                        </li>
                        <li>
                            企业接入
                        </li>
                        <li class="active">
                            新建、修改企业信息
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- start row 页面内容-->
        <div class="row" th:remove="${#strings.isEmpty(error)}?none:all">
            <div class="col-md-12">
                <div class="card-box">
                    <form id="submit_form"
                          method="post" data-parsley-validate="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-20">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 form-group m-b-20"
                                                 th:remove="${level =='1'}?all:none">
                                                <label>上级企业</label>：北京星语互联科技有限公司
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="eName4">企业名称<span class="text-danger">*</span>&nbsp;</label>
                                                <input id="eName4" type="text" class="form-control"
                                                       required="" data-parsley-length="[2,64]" autocomplete="off"
                                                       th:placeholder="${level=='1'?'请输入企业名称':'请输入二级企业名称'}">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="linkt1">企业联系人<span class="text-danger">*</span>&nbsp;</label>
                                                <input id="linkt1" type="text" class="form-control"
                                                       required="" data-parsley-length="[2,12]" autocomplete="off"
                                                       th:placeholder="${level=='1'?'请输入企业联系人':'请输入二级企业联系人'}">

                                            </div>
                                            <div class="col-md-6 form-group ">
                                                <label for="linkk1">企业联系方式<span
                                                        class="text-danger">*</span>&nbsp;</label>
                                                <input id="linkk1" type="text" class="form-control"
                                                       required="" data-parsley-length="[7,24]" autocomplete="off"
                                                       th:placeholder="${level=='1'?'请输入企业联系方式':'请输入二级企业联系方式'}">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>企业类型<span class="text-danger">*</span></label>
                                                <mpm:tag id="enterpriseType" required="true" identity="enterpriseType"
                                                         show-type="select" key="code"
                                                         class="form-control" name="enterpriseType" value=""
                                                         title="企业类型"/>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>对接主体公司<span class="text-danger">*</span>&nbsp;</label>
                                                <mpm:tag id="corporation" identity="corporation" show-type="select"
                                                         key="code"
                                                         class="form-control" data-icon="mdi mdi-view-module"
                                                         title="对接主体公司"/>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="sale">销售人员（销售身份）</label>
                                                <input id="sale" type="text" class="form-control"
                                                       data-parsley-length="[7,24]" autocomplete="off"
                                                       placeholder="请输入销售人员">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="m-b-10">有效状态</label>
                                                <br/>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="active1" value="1" checked
                                                           required="">
                                                    <label for="active1"> 是 </label>
                                                </div>
                                                <div class="radio radio-info radio-inline">
                                                    <input type="radio" id="active0" value="0">
                                                    <label for="active0"> 否 </label>
                                                </div>

                                            </div>

                                            <div class="col-md-12 text-center">
                                                <a sec:authorize-url="/ec/customer/base_info/center/*"
                                                   th:href="@{/ec/customer/base_info/center/0000}" type="button"
                                                   class="btn btn-teal waves-effect waves-light">提交</a>
                                                <a sec:authorize-url="/ec/customer/base_info/list"
                                                   th:href="@{/ec/customer/base_info/list}" style="margin-left:10px"
                                                   class="btn btn-default waves-effect waves-light">返回</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end class p-20 -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                    <!-- end form -->
                </div> <!-- end card-box -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

        <!-- start row  错误提示-->
        <th:block th:insert="fragments/common_fragments :: common_error"/>
        <!-- end row -->

    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<th:block th:insert="fragments/common_fragments :: common_submit_form"/>
<script>
    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>