<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<th:block th:fragment="menu_tree_select">
    <!-- org_select control start-->
    <div id="menu_select"
         style="display: none; position:absolute; z-index:1010; margin-left:0px; width: 360px">
        <div style="width: 360px;height: 40px;border:1px solid #ddd;margin-bottom:-1px;padding:10px 15px;background-color:#ffffff">
            <div style="width:140px;float: left">功能结构</div>
            <div style="width:185px;float: left;text-align: right">
                <a onclick="cleanMenuSelect()"
                   class="btn btn-icon waves-effect waves-light btn-warning btn-xs"
                   style="margin-right: 10px"><i class="fa fa-remove"></i> 清空
                </a>
                <a onclick="closeMenuSelectTree()"
                   class="btn btn-icon waves-effect waves-light btn-danger btn-xs"
                   style="margin-right: 0px"><i class="fa fa-remove"></i> 关闭
                </a>
            </div>
        </div>
        <div id="menu_select_tree"></div>
    </div>
    <!-- org_select control end-->
</th:block>
<th:block th:fragment="menu_tree_select_js">
    <!-- start treeSelect js -->
    <script th:src="@{/static/plugins/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <script>
        var contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        var projectName = '[[${menusValidator.systemId}]]';
        var url = contextPath + "/menus/getRootByProjectName/" + projectName;

        $(function () {
            $('#menu_select_tree').treeview({
                data: loadData(url),//节点数据
                expanded: false,//初始是否展开
                levels: 2,//初始显示层数
                icon: "glyphicon glyphicon-stop",
                selectedIcon: "glyphicon glyphicon-stop",
                color: "#4c4c4c",
                backColor: "#ffffff",
                selectedColor: "#ffffff",
                iconBackground: "#ffffff",
                lazyLoad: loadSubData,
                onNodeSelected: function (event, data) {
                    $('#parentId').val(data.id);
                    $('#parentName').val(data.text);
                    $('#menu_select').css('display', 'none');
                }
            });
        });

        function loadData(url) {

            var treeSelect = {};
            $.ajax({
                url:url,
                type: "get",
                contentType: "application/json",
                timeout: 30000, //超时时间：30秒
                async: false,
                dataType: "text",
                success: function (data) {
                    treeSelect = data;
                }, error: function (data) {
                    console.log("error");
                }
            });

            return treeSelect;
        }

        function loadSubData(node, func) {//这个技巧真高，即能得到节点数据，又能把节点下级的数据通过函数发回去
            var loadUrl = contextPath + "/menus/getAllSubMenusByParentId/" + node.id;
            var subTreeData = loadData(loadUrl);

            var array = JSON.parse(subTreeData);
            $('#menu_select_tree').treeview('addNode', [array, node, 1, {silent: true}]);
        }

        function menuTreeShow() {

            $('#menu_select').css('display', 'block');

        }

        function closeMenuSelectTree() {
            $('#menu_select').css('display', 'none');
        }

        function cleanMenuSelect() {
            $('#parentId').val('');
            $('#parentName').val('');
            $('#menu_select').css('display', 'none');
        }

    </script>
    <!-- end treeSelect js -->
</th:block>
</body>
</html>