<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mpm="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="fragments/common_fragments :: common_header"/>
    <th:block th:insert="fragments/common_fragments :: common_css"/>
    <th:block th:insert="fragments/common_fragments :: dataTables_css"/>
    <th:block th:insert="fragments/common_fragments :: select_css"/>
    <link th:href="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<th:block th:insert="fragments/common_fragments :: common_loader"/>
<!-- Start content -->

<div class="content" style="margin-top: 60px">
    <div class="container">
        <div class="row fixed-navigation">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">首页 </h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            首页
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="position: relative;margin-top: 80px">

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-info">
                    <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">卡总量</p>
                        <h2 class="text-white"><i class="mdi mdi-clock-fast"
                                                  STYLE="color:#fff;margin-right:10px"></i></small>
                            <span data-plugin="counterup">358001 </span></h2>
                        <p class="m-0">截止日期: 2022-07-12</p>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-primary">
                    <i class="mdi mdi-layers widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="卡激活总量">
                            卡激活总量</p>
                        <h2 class="text-white"><i class="mdi mdi-clock-fast"
                                                  STYLE="color:#fff;margin-right:10px"></i></small>
                            <span data-plugin="counterup">502 </span></h2>
                        <p class="m-0">截止日期: 2022-07-12</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-danger">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="总用户数">
                            总用户数</p>
                        <h2 class="text-white"><i class="mdi mdi-clock-fast"
                                                  STYLE="color:#fff;margin-right:10px"></i></small>
                            <span data-plugin="counterup">20</span></h2>
                        <p class="m-0">更新时间: 2022-07-12 18:25:14</p>
                    </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-two widget-two-success">
                    <i class="mdi mdi-access-point-network widget-two-icon"></i>
                    <div class="wigdet-two-content text-white">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="剩余可用总流量">
                            剩余可用总流量（G）</p>
                        <h2 class="text-white"><i class="mdi mdi-clock-fast"
                                                  STYLE="color:#fff;margin-right:10px"></i></small>
                            <span data-plugin="counterup">34001（G）</span></h2>
                        <p class="m-0">更新时间: 2022-07-12 18:25:14</p>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
        <div class="row text-center">
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">本月已使用流量（G）</p>
                        <h2 class="text-custom"><span
                                data-plugin="counterup">2654（G）</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">本月开卡数量</p>
                        <h2 class="text-teal"><span
                                data-plugin="counterup">2587</span></h2>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">本月激活卡数量</p>
                        <h2 class="text-custom"><span
                                data-plugin="counterup">2654</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-box-one">
                    <div class="wigdet-one-content">
                        <p class="m-0 text-uppercase font-600 font-secondary text-overflow">本月新增用户</p>
                        <h2 class="text-custom"><span
                                data-plugin="counterup">6</span></h2>
                    </div>
                </div>
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card-box">
                    <div id="main1" style="height: 340px;"></div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-4">
                <div class="card-box">
                    <div id="main2" style="height: 340px;"></div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-4">
                <div class="card-box">
                    <div id="main3" style="height: 340px;"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


    </div> <!-- container -->
</div> <!-- content -->
<th:block th:insert="fragments/common_fragments :: common_js"/>
<th:block th:insert="fragments/common_fragments :: select_js"/>
<script th:src="@{/static/assets/js/jquery.min.js}"></script>
<script th:src="@{/static/echarts/echarts.min.js}"></script>
<script>

var dom1 = document.getElementById("main1");
var chart1 = echarts.init(dom1);

  option1 = {
   title: {
        text: '移动物联网卡'
    },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    top: '5%',
    left: 'right'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: '40',
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 580, name: '已激活' },
        { value: 484, name: '未激活' },
        { value: 300, name: '已停机' }
      ]
    }
  ]
};

if (option1 && typeof option1 === "object") {
    chart1.setOption(option1, true);
}

var dom2 = document.getElementById("main2");
var chart2 = echarts.init(dom2);

  option2 = {
   title: {
        text: '联通物联网卡'
    },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    top: '5%',
    left: 'right'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: '40',
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 580, name: '已激活' },
        { value: 484, name: '未激活' },
        { value: 300, name: '已停机' }
      ]
    }
  ]
};

if (option2 && typeof option2 === "object") {
    chart2.setOption(option2, true);
}

var dom3 = document.getElementById("main3");
var chart3 = echarts.init(dom3);

  option3 = {
   title: {
        text: '联通物联网卡'
    },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    top: '5%',
    left: 'right'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: ['40%', '70%'],
      avoidLabelOverlap: false,
      label: {
        show: false,
        position: 'center'
      },
      emphasis: {
        label: {
          show: true,
          fontSize: '40',
          fontWeight: 'bold'
        }
      },
      labelLine: {
        show: false
      },
      data: [
        { value: 580, name: '已激活' },
        { value: 484, name: '未激活' },
        { value: 300, name: '已停机' }
      ]
    }
  ]
};

if (option3 && typeof option3 === "object") {
    chart3.setOption(option3, true);
}


    var resizefunc = [];
    //隐藏进度项
    $('#preloader').css('display', 'none');

</script>
</body>
</html>